<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KEDI管理系统</title>
    <link rel="icon" href="images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/H-ui.min.css">
    <link rel="stylesheet" href="css/H-ui.admin.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/kd.css">
    <script src="script/vue.min.js"></script>
    <script src="script/jquery-2.1.1.min.js"></script>
    <script src="script/H-ui.min.js"></script>
    <script src="script/H-ui.admin.js"></script>
    <script src="script/loading.js"></script>

    <script src="script/common.js"></script>
    <script src="script/kedi.js"></script>
    <style>
        .block {
            display: block !important;
        }
    </style>
</head>

<body>
    <nav id="top_r">
        <img src="./images/kedi_logo.png" alt="">
        <div>
            你好,
            <span class="user_info" style="color: #fff"></span>
            <button onclick="login_out()" class="btn btn-primary">退出</button>
        </div>
    </nav>
    <script>
        var top_nav = new Vue({
            el:'#top_r',
            data:{
                exit:exit_r_top
            }
        })
    </script>
    <aside class="Hui-aside" id="index_content" style="top: 65px;">
        <div class="menu_dropdown bk_2">
            <dl id="" v-for="(x,$index) in menu_list" v-if="x.Menu_name.length">
                <dt v-bind:class="{selected:ac_index == $index}" v-on:click='select($index)' style="display:flex">

                    <template v-if="x.Menu_sons.length">
                        <i class="Hui-iconfont text_1">&#xe616;</i> {{obj_txt[x.Menu_value] || x.Menu_value}}
                        <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                    </template>
                    <template v-else>
                        <i class="Hui-iconfont">&#xe616;</i>
                        <a class="text_1" v-bind:data-href="url(x.Menu_value)" v-bind:data-title="obj_txt[x.Menu_value]" style="color: #aab8d5">{{obj_txt[x.Menu_value] || x.Menu_value}}</a>

                    </template>
                </dt>
                <dd v-bind:class="{block:ac_index == $index}">
                    <ul>
                        <li v-for='n in x.Menu_sons'>
                            <a v-bind:data-href="url(n.Menu_value)" v-bind:data-title="obj_txt[n.Menu_value]">{{obj_txt[n.Menu_value] || n.Menu_value }}</a>
                        </li>
                    </ul>
                </dd>
            </dl>
            <!-- <dl id="">
                <dt>
                    <i class="Hui-iconfont">&#xe616;</i> {{obj_txt.Account}}
                    <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
                </dt>
                <dd>
                    <ul>
                        <li>
                            <a data-href="temp/user_password.html" data-title="账户密码">{{obj_txt.account_password}}</a>
                        </li>
                        <li>
                            <a data-href="temp/user_info.html" data-title="个人信息">{{obj_txt.personal_details}}</a>
                        </li>
                    </ul>
                </dd>
            </dl> -->

        </div>
    </aside>
    <div class="dislpayArrow hidden-xs">
        <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
    </div>
    <section class="Hui-article-box" style="top: 65px;">
        <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
            <div class="Hui-tabNav-wp">
                <ul id="min_title_list" class="acrossTab cl">
                    <li class="active">
                        <span title="我的桌面" data-href="./temp/main.html">我的主页</span>
                        <em></em>
                    </li>
                </ul>
            </div>
            <div class="Hui-tabNav-more btn-group">
                <a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;">
                    <i class="Hui-iconfont">&#xe6d4;</i>
                </a>
                <a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;">
                    <i class="Hui-iconfont">&#xe6d7;</i>
                </a>
            </div>
        </div>
        <div id="iframe_box" class="Hui-article">
            <div class="show_iframe">
                <div style="display:none" class="loading"></div>
                <iframe scrolling="yes" id="iframe1" frameborder="0" src="./temp/main.html"></iframe>
            </div>
        </div>
        <div class="status_bar" style="display: none;">

        </div>
    </section>
</body>
<script>
    var user_token = get_cache('usertoken')

    var open_url = {
        'Member_Insert': './temp/Member_Insert.html', // 会员录入
        'Member_list': './temp/Member_list.html', // 会员列表
        'Order_Insert': './temp/order_insert.html', // 订单录入
        'SummaryCheck' : './temp/SummaryCheck.html', //员工录入业绩查询
        'ManageReport': './temp/ManageReport.html',     
        'desktop\/Nversions\/versions_detail': './temp/version.html', // 版本信息
        'updateReport': './temp/update_report.html', 
        'onlykits': './temp/onlykits.html',
        'ChangeDate': './temp/change_date.html', // 日期迁移
        "RegionLock":'./temp/region_lock.html', // 地区锁定
        "order_pay":"./temp/sale_report.html", // 订单支付
        'Market_Shop_get_list': './temp/market_shop.html', //店铺 列表
        'get_list_applay': './temp/apply_shop_list.html', //申请 列表
        "account_password": "./temp/user_password.html", // 设置密码
        "personal_details": "./temp/user_info.html", // 信息详情
        "code_management" : "./temp/code_manage.html",  //审批码
        'stock_sys_from':'./temp/Stock_frommanage.html', //库存_货源地管理
        'stock_sys_fromcontry':'./temp/Stock_sys_fromcontry.html', //库存_货源地管理
        'stock_sys_manage':'./temp/Stock_manage.html',   //库存_仓库管理
        'stock_sys_type':'./temp/Stock_sys_type.html',//出入库类型管理
        'stock_sys_product':'./temp/Stock_sys_product.html',//产品管理
        'stock_sys_brand':'./temp/Stock_sys_brand.html', //品牌
        'stock_sys_cat':'./temp/Stock_sys_cat.html', //商品分类
        'stock_sys_in' : './temp/Stock_sys_in.html', //入库
        'stock_sys_out' : './temp/Stock_sys_out.html', //出库
        'TellerRecharge' : './temp/teller.html',        //Teller系统 
        'Borrow' : './temp/Borrow_ff.html',//借货铺货
        'bonus_make_pro' : './temp/bonus_make.html?tamia=adada',  //奖金制作
        'borrow_money' : './temp/debt.html?ex_type=borrow', //
        'repay' : './temp/debt.html?ex_type=payback_active',//
        'borrow_record' : './temp/borrow_record.html',      //借款记录
        'jiehuan_total' : './temp/jiehuan_total.html',       //借款列表
        'order_cardnoinput' : './temp/error_order.html'     //错误订单
    };

    $(function() {
        $(".index_content_btn div").click(function() {
            $(this).addClass('active').siblings().removeClass('active')
        })

        $("body").Huitab({
            tabBar: ".navbar-wrapper .navbar-levelone",
            tabCon: ".Hui-aside .menu_dropdown",
            className: "current",
            index: 0,
        });
        get_menu(); //获取菜单；
        detection_version(function(e) {})
        get_user_info(function(ret) {
            $('.user_info').html(ret.username + "(" + ret.Dept + ")")
            set_cache('user_info', JSON.stringify(ret))
        })

        get_region(function(e) { /// 获取 地区
            var data = [];
            e.forEach(element => {
                data.push(element.result) //regionLock

            });
            set_local_cache('region_data', data)
        })

    })
    var index = new Vue({
        el: "#index_content",
        data: {
            menu_list: [],
            ac_index: -1,
            lang_txt: get_page_txt('_menu'), // 当前页面的文字信息
            obj_txt: {} // 对象拼接
        },
        mounted() {
            this.lang_toggle()
        },
        methods: {
            get_lang(){
                var a = get_local_cache('lang');
                if(a != ''){
                    return true;
                }else{
                    return false;
                }
            },
            select(index) {
                if (index == this.ac_index) {
                    this.ac_index = -1
                } else {
                    this.ac_index = index
                }

            },
            url(url_id) {
                return open_url[url_id]
            },
            lang_toggle() {
                this.obj_txt = splicing_obj(this.lang_txt)
            }
        }
    })

    function get_menu() {
        var url = "/index.php/desktop/menu/getmenus";
        var data = {};
        data['usertoken'] = user_token;
        ajax(url, data, function(e) {
            if (e.stat == 1) {
                index.menu_list = e.data
            } else {
                showErr(e.errmsg, e.errmsg_en, e.errcode)
            }
        })

    }

    function login_out(){
        window.localStorage.clear();
        window.sessionStorage.clear();
        showErr('退出成功!');
        setTimeout(function(){
            show_loading()
        },2700)
        
        setTimeout(function () {
            
            window.location.href = './temp/login.html';
        },3000)
        // 
    }

    // var os = require("os");

    // var networkInterfaces = os.networkInterfaces();

    // console.info(networkInterfaces);


    // var option1 = {
    //     key: "Ctrl+Shift+c",
    //     active: function () {
    //         console.log("全局快捷键: " + this.key + " 被激活.");
    //     },
    //     failed: function (msg) {
    //         // :(, 无法注册 |key| 或未注册 |key|.
    //         console.log(msg);
    //     }
    // };

    // var shortcut1 = new nw.Shortcut(option1);
    // nw.App.registerGlobalHotKey(shortcut1);
    // // 您还可以监听快捷键的成功或失败事件
    // shortcut1.on('active', function () {
    //     remove_local_cache('app_lang');
    //     showErr('缓存清理成功')
    // });

    // shortcut1.on('failed', function (msg) {
    //     console.log(msg);
    // });
</script>

</html>