<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <!-- <link rel="stylesheet" href="../css/H-ui.admin.css"> -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/kd.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <div class="reg_content" id="main" v-cloak>
        <div class="fill_in_information">
            <div class="list_information">
                <div>
                    <span id="MemberCode">{{obj_txt.MemberCode}}</span>
                    <select name="member_code_prefix" id="" class="member_code_prefix">
                        <option value="KN">KN</option>
                        <option value="KG">KG</option>
                    </select>
                    <input type="text" class="member-code" name="index_1">
                </div>
                <div>
                    <span id="MemberName">{{obj_txt.MemberName}}</span>
                    <input type="text" class="member-name" name="index_5">
                </div>
            </div>
            <div class="list_information">
                <div>
                    <span id="SponsorCode">{{obj_txt.SponsorCode}}</span>
                    <select name="" id="" class="sponsor_code_prefix">
                        <option value="KN">KN</option>
                        <option value="KG">KG</option>
                    </select>
                    <input type="text" class="sponsor-code" name="index_2">
                </div>
                <div>
                    <span id="SponsorName">{{obj_txt.SponsorName}}</span>
                    <input type="text" class="parentname" readonly='readonly' disabled>
                </div>
            </div>
            <div class="list_information">
                <div>
                    <span id="PlancementCode"> {{obj_txt.PlancementCode}} </span>
                    <select name="" id="" class="plancement_code_prefix">

                        <option value="KN">KN</option>
                        <option value="KG">KG</option>
                    </select>
                    <input type="text" class="plancement-code" name="index_3">

                </div>
                <div>
                    <span id="PlancementName">{{obj_txt.PlancementName}}</span>
                    <input class="recommendname" type="text" readonly='readonly' disabled>
                </div>
            </div>
            <div class="list_information">
                <div class="skin-minimal">
                    <span id="ShopNo">{{obj_txt.ShopNo}}</span>
                    <input type="text"  id="" class="shop-code" name="index_4">

                </div>
                <div>
                    <span id="Address">{{obj_txt.Address}}</span>
                    <input type="text" class="address" name="aa">
                </div>
            </div>
            <div class="list_information">
                <div>
                    <span id="BankName">{{obj_txt.BankName}} </span>
                    <select name="" id="" style="width: 187px;" class="bank-name">
                        <option value="0">{{obj_txt.Union_Bank}}</option>
                        <option value="1">{{obj_txt.Interconinental_Bank}}</option>
                        <option value="2">{{obj_txt.Zenith_Bank}}</option>
                        <option value="3">{{obj_txt.GTBank}}</option>
                    </select>

                </div>
                <div>
                    <span id="BankNumber">{{obj_txt.BankNumber}}</span>
                    <input type="text" class="bank_num" name="aa">
                </div>
            </div>
            <div class="list_information">
                <div>
                    <span id="Handset">{{obj_txt.Handset}}</span>
                    <input type="text" style="width: 180px" class="mobile" name="index_6">
                </div>
                <div style="width: 190px;">
                    <span id="Gender">{{obj_txt.Gender}}</span>
                    <input type="radio" name="radio" :value="obj_txt.Man" checked>{{obj_txt.Man}}
                    <input type="radio" name="radio" :value="obj_txt.Woman">{{obj_txt.Woman}}
                </div>
            </div>
            <div class="list_information">
                <div>
                    <span id="ReporterName">{{obj_txt.ReporterName}}</span>
                    <input type="" style="width: 180px;" value="" class="adress_admin" disabled>
                </div>
                <div>
                    <span id="State">{{obj_txt.State}}</span>
                    <select style="width: 160px;" class="state">
                        <!-- <option value="Lagos">{{obj_txt.Lagos}}</option>
                        <option value="Abuja">{{obj_txt.Abuja}}</option>
                        <option value="Ogun">{{obj_txt.Ogun}}</option>
                        <option value="Edo">{{obj_txt.Edo}}</option>
                        <option value="AkwaIbom">{{obj_txt.AkwaIbom}}</option>
                        <option value="IMO">{{obj_txt.IMO}}</option>
                        <option value="Abia">{{obj_txt.Abia}}</option>
                        <option value="OYO">{{obj_txt.OYO}}</option>
                        <option value="DELTA">{{obj_txt.DELTA}}</option>
                        <option value="ANAMBRA">{{obj_txt.ANAMBRA}}</option>
                        <option value="OSUN">{{obj_txt.OSUN}}</option>
                        <option value="RIVER">{{obj_txt.RIVER}}</option>
                        <option value="OWDO">{{obj_txt.OWDO}}</option>
                        <option value="ONDO">{{obj_txt.ONDO}}</option>
                        <option value="Other">{{obj_txt.Other}}</option>             -->
                        <option :value="r" v-for="r in region">{{r}}</option>
                    </select>
                </div>
            </div>
            <div class="welcome" style="overflow: hidden;">
                Welcome to KEDI
            </div>

            <div class="btn_con">
                <input type="button" :value="obj_txt.BtnClean" class="ty_btn clear" id="BtnClean" onclick="clear()">
                <input type="button" :value="obj_txt.BtnAdd" class="ty_btn" onclick="member_add()" id="BtnAdd">
            </div>
        </div>
        <div class="infomation_show" id="entry_list"  style="overflow-x: auto; height: 320px;">
            <table class="table table-border table-bordered table-bg " id="sale_list" style="background: #fff; width: 700px; display: none;">
                <thead>
                    <tr>
                        <th style="width: 80px"> {{obj_txt.MemberCode}}
                        </th>
                        <th style="width: 80px">{{obj_txt.MemberName}}</th>
                        <th style="width: 40px">{{obj_txt.ShopNo}}</th>
                        <th>{{obj_txt.SponsorCode}}</th>
                        <th style="width: 80px">{{obj_txt.SponsorName}}</th>
                        <th>{{obj_txt.PlancementCode}}</th>
                        <th style="width: 80px">{{obj_txt.PlancementName}}</th>
                        <th style="width: 70px">{{obj_txt.Regdate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='x in memberEntry'>
                        <td>{{x.CustomerNO}}</td>
                        <td>{{x.CustomerName}}</td>
                        <td>{{x.ShopNO}}</td>
                        <td>{{x.ParentNO}}</td>
                        <td>{{x.ParentName}}</td>
                        <td>{{x.RecommendNO}}</td>
                        <td>{{x.RecommendName}}</td>
                        <td>{{x.CreateTime.substring(0,10)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
<script>
    var key = getQueryString('key');
   // set_cache('input_index',1)
    var input_index =1
    $(function () {
        // get_user_info(function (ret) {
        //    // $('.adress_admin').val(ret.username)
        // })
        $('.adress_admin').val(JSON.parse(get_cache("user_info")).username)

        $('.clear').click(function () {
            $("input[type='text']").val('')
        })

        $('.sponsor-code').keyup(function () {
            if ($(this).val().length >= 6) {
                let data = {};
                data['CustomerNO'] = $('.sponsor_code_prefix').val() + $('.sponsor-code').val()
                search_member(data, function (e) {
                    $('.parentname').val(e.list[0].CustomerName)
                },function(a,b,c){
                   $('.parentname').val("")
                })
            }
        })

        

        $('.sponsor_code_prefix').change(function () {
            if ($('.sponsor-code').val().length >= 6) {
                let data = {};
                data['CustomerNO'] = $('.sponsor_code_prefix').val() + $('.sponsor-code').val()
                search_member(data, function (e) {
                    $('.parentname').val(e.list[0].CustomerName)
                },function(a,b,c){
                    $('.parentname').val("")
                })
            }
        })
        $('.plancement-code').keyup(function () {
            if ($(this).val().length >= 6) {
                let data = {}; //RecommendNO
                data['CustomerNO'] = $('.plancement_code_prefix').val() + $('.plancement-code').val()
                search_member(data, function (e) {
                    $('.recommendname').val(e.list[0].CustomerName)
                },function(a,b,c){
                    $('.recommendname').val("")
                })
            }
        })

        $('.plancement_code_prefix').change(function () {
            if ($('.plancement-code').val().length >= 6) {
                let data = {};
                data['CustomerNO'] = $('.plancement_code_prefix').val() + $('.plancement-code').val()
                search_member(data, function (e) {
                    $('.recommendname').val(e.list[0].CustomerName)
                },function(a,b,c){
                    $('.recommendname').val("")
                })
            }
        })

        $('input[name*="index"]').on('keydown',function(e){
            if(e.keyCode == 9){
                e.stopPropagation();
                e.preventDefault();
                if(!!$(this).attr('name').split('_')){
                    input_index= $(this).attr('name').split('_')[1]*1;
                }
                var nextindex=input_index+1;
                $(`input[name="index_${nextindex}"]`).focus()
            }
        })
        $('input[name="aa"]').on('keydown',function(e){
            if(e.keyCode == 9){
                e.stopPropagation();
                e.preventDefault();
            }
        })

    })


    function member_add() {
        var url = '/index.php?s=desktop/Tb_Customer/customer_create';
        var data = {};
        data['usertoken'] = get_cache('usertoken');
        data['CustomerNO'] = $('.member_code_prefix').val() + $('.member-code').val(); //
        data['CustomerName'] = $('.member-name').val(); //
        data['ParentNO'] = $('.sponsor_code_prefix').val() + $('.sponsor-code').val(); // 推荐人id
        data['RecommendNO'] = $('.plancement_code_prefix').val() + $('.plancement-code').val(); //安置人
        data['ShopNO'] = $('.shop-code').val(); //专卖店id
        data['BankName'] = $('.bank-name').val(); //
        data['BankCard'] = $('.bank_num').val(); //
        data['Mobile'] = $('.mobile').val(); //
        data['Adress2'] = $('.adress_admin').val(); //录入员
        data['Address'] = $('.address').val(); //
        data['sex'] = getRadioButtonCheckedValue('radio'); //
        data['State'] = $('.state').val(); //
        $('input[type="button"]').attr('disabled', true);
        ajax(url, data, function (ret) {
            $('input[type="button"]').attr('disabled', false);
            if (ret.stat == 1) {
                success(config_txt.success_text.zn_entry, config_txt.success_text.en_entry)
                search_member_all()
                $('#sale_list').css('display', 'block');
                $("input[type='text']").val('')
            } else {
                showErr(ret.errmsg, ret.errmsg_en, ret.errcode)
            }
        })
    }


    function getRadioButtonCheckedValue(tagNameAttr) {
        var radio_tag = document.getElementsByName(tagNameAttr);
        for (var i = 0; i < radio_tag.length; i++) {
            if (radio_tag[i].checked) {
                var checkvalue = radio_tag[i].value;
                return checkvalue;
            }
        }
    }

    function search_member_all(obj) { // 搜索会员
        var url = '/index.php?s=desktop/Tb_Customer/get_list';
        var data = {};
        data['usertoken'] = get_cache('usertoken');
        data['ShopNO'] = $('.shop-code').val();
        data['order'] = 'CustomerID asc';
        data['limit'] = '0,80'; //
        data['Start'] = get_local_time() + ' 00:00:00'; //
        data['End'] = get_local_time() + ' 23:59:59'; //
        var opt = $.extend({}, data, obj)
        ajax1(url, opt, function (e) {
            if (e.stat == 1) {
                member_entry.memberEntry = e.data.list.reverse();
            } else {
                showErr(e.errmsg, e.errmsg_en, e.errcode)
                $('.m-style').css('display', 'none');
            }
        })
    }
    var member_entry = new Vue({
        el: '#main',
        data: {
            memberEntry: [],
            region:get_local_cache('region_data').split(","),
            lang_txt: get_page_txt('Member_Insert'),  // 当前页面的文字信息
            obj_txt:{} // 对象拼接
        },
        mounted() {
            this.lang_toggle()
        },
        methods: {
            lang_toggle() {
                this.obj_txt = splicing_obj(this.lang_txt)
            }
        }
    })
</script>

</html>