<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <!-- <link rel="stylesheet" href="../css/H-ui.admin.css"> -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <script src="../script/vue.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vue/2.5.12/vue.js"></script> -->
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        .cunt {
            float: left;
            margin: 0 5px;
            min-width: 38px;
            height: 38px;
            line-height: 38px;
            background: #fff;
            border: 1px solid #ebebeb;
            color: #bdbdbd;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="member_content page-container" id="example" style="margin-bottom: 50px;">
        <div class="text-c" style="width: 95%; margin: 15px auto; display: flex; justify-content: flex-end;">
            <div style="margin-right: 15px;">
                <select id="u1_input">
                    <option selected="" value="CustomerNO">{{obj_txt.CustomerNO}}</option>
                    <option value="ShopNO">{{obj_txt.ShopNO}}</option>
                    <option value="Grade">{{obj_txt.Grade}}</option>
                    <option value="ParentNO">{{obj_txt.SponsorNo}}</option>
                    <option value="RecommendNO">{{obj_txt.PlacementNo}}</option>
                </select>
                <input type="text" name="" id="" class="u1_name" placeholder="请输入查找信息">
            </div>
            <div style="margin-right: 15px;">
                <select id="u1_input1">
                    <option selected="" value="CustomerName">{{obj_txt.CustomerName}}</option>

                </select>
                <input type="text" name="" id="" class="u1_name1" placeholder="请输入姓名">
            </div>
            <input type="button" class="btn btn-success btn-serach" id="" :value="obj_txt.BtnSearch" name="" style="height: 30px">
        </div>
        <table class="table table-border table-bordered table-bg min-table" style="width: 95%; margin: 0 auto; margin-bottom: 10px;">
            <thead>
                <!-- <tr>
                    <th scope="col" colspan="9">员工列表</th>
                </tr> -->
                <tr class="text-c">
                    <th class="CustomerID">{{obj_txt.CustomerID}}</th>
                    <th class="CustomerName">
                        {{obj_txt.CustomerName}}</th>
                    <th class="CustomerNO">
                        {{obj_txt.CustomerNO}}</th>
                    <th class="Status">
                        {{obj_txt.Status}}</th>
                    <th width="100px" class="ShopNO">
                        {{obj_txt.ShopNO}}</th>

                    <th style="width: 100px;" class="">
                        {{obj_txt.SponsorNo}}</th>
                    <th style="width: 200px;" class="">
                        {{obj_txt.SponsorName}}</th>

                    <th class="">
                        {{obj_txt.PlacementNo}}</th>
                    <th class="">
                        {{obj_txt.PlacementName}}</th>
                    <th class="">
                        {{obj_txt.RegDate}}</th>
                    <th class="Operating">
                        {{obj_txt.Operating}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='x in listdata' v-if='listdata.length'>
                    <td>{{x.CustomerID}}</td>
                    <td>{{x.CustomerName}}</td>
                    <td>{{x.CustomerNO}}</td>
                    <td>{{x.Status}}</td>
                    <td>{{x.ShopNO}}</td>

                    <td>{{x.ParentNO}}</td>
                    <!-- 推荐人 -->
                    <td style="width: 200px;">{{x.ParentName}}</td>

                    <td>{{x.RecommendNO}}</td>
                    <!-- 安置人 -->
                    <td style="width: 200px;">{{x.RecommendName}}</td>
                    <td>{{x.CreateTime}}</td>
                    <td>
                        <a title="编辑" href="javascript:;" style="text-decoration:none" v-on:click='open_model(x.CustomerID,x.CustomerName,x.CustomerNO,x.ShopNO,x.ParentNO,x.RecommendNO,x.Mobile)'>
                            <i class="Hui-iconfont Hui-iconfont-edit"></i>
                        </a>
                        <a title="删除" href="javascript:;" style="text-decoration:none">
                            <i class="Hui-iconfont &#xe609;
                            .Hui-iconfont-del2"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <!-- <td colspan="7"  v-if="fade" class="NoData">{{obj_txt.NoData}}</td> -->
                    <td colspan="7" v-if="fade" class="NoData">没有数据</td>
                </tr>
            </tbody>
        </table>
        <div class="m-style"></div>
    </div>
    <div class="model modal fade" id="my_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog ">
            <div class="modal-content">
                <div class="model_list">
                    <div>
                        <p class="CustomerNo">
                            {{obj_txt.CustomerNO}}

                        </p>
                        <input type="text" class="cus_no" v-model="mdata.CustomerNO">
                    </div>
                    <div>
                        <p>
                            {{obj_txt.ShopNO}}
                        </p>
                        <input type="text" class="cus_no" v-model="mdata.ShopNO">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>
                            {{obj_txt.CustomerName}}

                        </p>
                        <input type="text" class="cus_no" v-model='mdata.CustomerName'>
                    </div>
                    <div>
                        <p class="SponosorNo">
                            {{obj_txt.SponsorNo}}
                        </p>
                        <input type="text" class="cus_no" v-model='mdata.ParentNO'>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="Phone">
                            {{obj_txt.Phone || "phone"}}
                        </p>
                        <input type="text" class="cus_no" v-model='mdata.Mobile'>
                    </div>
                    <div>
                        <p class="PlacementNO">
                            {{obj_txt.PlacementNo}}
                        </p>
                        <input type="text" class="cus_no" v-model='mdata.RecommendNO'>
                    </div>
                </div>
                <div class="btn_con">
                    <input type="button" class="btn btn-success BtnUpdate" v-on:click='save()' :value="obj_txt.BtnUpdate">
                    <input type="button" class="btn btn-default BtnClose" :value="obj_txt.BtnClose" data-dismiss="modal" aria-hidden="true">
                </div>
            </div>

        </div>

    </div>
</body>
<script>
    var pagecounts,page = 1,obj,pagesize = 30,pagestat = 0; //分页相关的参数
    $(function () {
        statinit()
        $('.btn-serach').click(function () {
            page = 1
            obj = {};
            if (!!$('.u1_name').val() && !!$('.u1_name1').val()) {
                obj[$('#u1_input1').val()] = $('.u1_name1').val()
                obj[$('#u1_input').val()] = $('.u1_name').val();
            } else if (!!$('.u1_name1').val()) {
                obj[$('#u1_input1').val()] = $('.u1_name1').val()
            } else if (!!$('.u1_name').val()) {
                obj[$('#u1_input').val()] = $('.u1_name').val();
            } else {
                obj['Grade'] = '';
            }
            obj['limit'] = [0, pagesize].join(","); //条目数

            search_member(obj)
        })
    })



    function statinit() {
        page = 1
        obj = {};
        if (!!$('.u1_name').val() && !!$('.u1_name1').val()) {
            obj[$('#u1_input1').val()] = $('.u1_name1').val()
            obj[$('#u1_input').val()] = $('.u1_name').val();
        } else if (!!$('.u1_name1').val()) {

            obj[$('#u1_input1').val()] = $('.u1_name1').val()
        } else if (!!$('.u1_name').val()) {
            obj[$('#u1_input').val()] = $('.u1_name').val();

        } else {
            obj['Grade'] = '';
        }
        obj['limit'] = [pagestat, pagesize].join(","); //条目数

        search_member(obj)
    }

    function search_member(obj) { // 搜索会员

        $('.m-style').pagination({
            totalData: 0,
            pageCount: 0,
            current: 0
        })
        var url = '/index.php?s=desktop/Tb_Customer/get_list';
        var data = {};
        data['usertoken'] = get_cache('usertoken');
        if (!!!obj) {
            data['Grade'] = ""; //等级
        }
        data['order'] = 'CustomerID desc'; //排序
        data['limit'] = [pagestat, pagesize].join(","); //条目数
        var opt = $.extend({}, data, obj)
        ajax(url, opt, function (e) {
            if (e.stat == 1) {
                list.listdata = e.data.list;
                pagecounts = e.data.count;
                if (e.data.list.length == 0) {
                    list.fade = true
                }
                $('.m-style').pagination({
                    totalData: parseInt(pagecounts),
                    pageCount: Math.ceil(pagecounts / pagesize),
                    jump: true,
                    coping: true,
                    // homePage: '首页',
                    //   endPage: '末页',
                    prevContent: '上页',
                    current: page,
                    nextContent: '下页',
                    callback: function (api) {
                        console.log(api.getCurrent())
                        page = api.getCurrent();
                        pagestat = pagesize * (api.getCurrent() - 1)
                        var x = {
                            'limit': [pagestat, 30].join(',')
                        };
                        var d = $.extend({}, obj, x);
                        search_member(d)
                    }
                });
                setTimeout(function () {
                    $('.m-style').append(
                        `<div href="javascript:;" class="cunt" style='padding: 0 4px;' >总记录数： ${e.data.count}</div>`
                    )
                }, 1000)
                window.location.href="#"
            } else {
                showErr(e.errmsg, e.errmsg_en, e.errcode)
                $('.m-style').css('display', 'none');
                list.listdata = [];
                list.fade = true
            }
        })
    }

    var list = new Vue({
        el: '#example',

        data: {
            listdata: [],
            fade: false,
            lang_txt: get_page_txt('Member_list'), // 当前页面的文字信息
            obj_txt: {} // 对象拼接
        },
        mounted() {
            this.lang_toggle()
        },
        methods: {
            open_model(m_id, m_name, m_no, shopno, p_no, r_no, phone) {
                var b = {};
                b['CustomerID'] = m_id; //会员名
                b['CustomerName'] = m_name; //会员名
                b['CustomerNO'] = m_no; //会员编号
                b['ShopNO'] = shopno; //商店
                b['ParentNO'] = p_no; //推荐人
                b['RecommendNO'] = r_no; //安置人
                b['Mobile'] = phone; //安置人
                b['usertoken'] = get_cache('usertoken');
                modal_data.mdata = b
                $('#my_model').modal('show')
            },
            lang_toggle() {
                this.obj_txt = splicing_obj(this.lang_txt)
            }
        },


    })

    var modal_data = new Vue({
        el: '#my_model',
        data: {
            mdata: {},
            obj_txt: {}

        },
        mounted() {
            this.$nextTick(function () {
                this.obj_txt = list.obj_txt
            })
        },

        methods: {
            save() {
                var url = '/index.php?s=desktop/Tb_Customer/edit';
                var data = this.mdata;
                ajax(url, data, function (e) {
                    if (e.stat == 1) {
                        success(e.data)
                        $('#my_model').modal('hide');
                        obj = {};
                        if (!!$('.u1_name').val() && !!$('.u1_name1').val()) {
                            obj[$('#u1_input1').val()] = $('.u1_name1').val()
                            obj[$('#u1_input').val()] = $('.u1_name').val();
                        } else if (!!$('.u1_name1').val()) {
                            obj[$('#u1_input1').val()] = $('.u1_name1').val()
                        } else if (!!$('.u1_name').val()) {
                            obj[$('#u1_input').val()] = $('.u1_name').val();
                        } else {
                            obj['Grade'] = '12';
                        }
                        obj['limit'] = [(page - 1) * pagesize, pagesize].join(","); //条目数

                        search_member(obj)
                    } else {
                        showErr(e.errmsg, e.errmsg_en, e.errcode);
                        $('#my_model').modal('hide')
                    }
                })
            }
        }
    })
</script>

</html>