<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <div id="main" v-cloak class="market_shop">
        <div class="search_txt">
            <div>
                <p>{{obj_txt.oper_name}}</p>
                <input type="text" class="oper_name" :placeholder="obj_txt.oper_name">
            </div>
            <div>
                <p>{{obj_txt.apply_person}}</p>
                <input type="text" class="approve_name" :placeholder="obj_txt.apply_person">
            </div>
            <div>
                <p>{{obj_txt.apply_status}}</p>
                <select name="" id="" class="apply_status">
                    <option value="">{{obj_txt.apply_status}}</option>
                    <option value="0">{{obj_txt.wait_approve}}</option>
                    <option value="1">{{obj_txt.Adopt}}</option>
                    <option value="2">{{obj_txt.Refuse}}</option>
                </select>
            </div>
            <div>
                <p>{{obj_txt.Start_time}}</p>
                <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate start_time">
            </div>
            <div>
                <p>{{obj_txt.End_time}}</p>
                <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate end_time">
            </div>
            <input type="button" id="" name="" :value="obj_txt.BtnSearch" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="search_btn()">

        </div>
        <div class="shop_list">
            <table class="table table-border table-bordered table-bg min-table" style="width: 95%; margin: 0 auto; margin-bottom: 10px;">
                <thead>
                    <th style="width: 170px;">{{obj_txt.Shopno}}</th>
                    <th>{{obj_txt.OwnerName}}</th>
                    <th>{{obj_txt.apply_content}}</th>
                    <!-- <th style="width: 100px;">{{obj_txt.Status}}</th> -->
                    <th style="width: 120px;">{{obj_txt.apply_person}}</th>
                    <th style="width: 90px;">{{obj_txt.apply_status}}</th>
                    <!-- <th>{{obj_txt.apply_info}}</th> -->
                    <th>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(s,index) in shop_list" v-if='shop_list.length'>
                        <td style="width: 170px;">{{s.Shopno}}</td>
                        <td>{{s.OwnerName}}</td>
                        <td>{{replace_txt(s.apply_action)}}</td>
                        <td style="width: 120px;">{{s.apply_person}}</td>
                        <td style="width: 90px;">{{apply_status_txt(s.apply_status)}}</td>
                        <!-- <td>
                            {{s.apply_info}}
                        </td> -->
                        <td>
                            <!-- <a title="查看" class="btn btn-primary size-S radius" href="javascript:;" @click="open_detail_shop(s.Shopno)" style="text-decoration: none;">
                                {{obj_txt.Open_detail}}
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: #fff"></i>
                            </a> -->
                            <a title="审批" class="btn btn-primary size-S radius" href="javascript:;" @click="open_approve(s.Shopno,s.apply_status,s.apply_info)"
                                style="text-decoration: none;">
                                {{obj_txt.Open_approve}}
                                <i class="Hui-iconfont Hui-iconfont-edit" style="color: #fff;"></i>
                            </a>

                             <a title="查看变更内容" class="btn btn-primary size-S radius" href="javascript:;" @click="change_con(s.content,0)" style="text-decoration: none;">
                                {{obj_txt.change_content}}
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: #fff"></i>
                            </a>

                             <a title="查看拒绝原因" class="btn btn-primary size-S radius" href="javascript:;" @click="change_con(s.apply_info,1)" style="text-decoration: none;">
                                {{obj_txt.cause_rejection}}
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: #fff"></i>
                            </a>
                        </td>
                    </tr>
                    <tr v-if="fade">
                        <td colspan="10">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="my_page m-style">

            </div>
        </div>
    </div>
    <!-- <div id="detail_shop" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog ">
            <div class="modal-content">
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Shopno}}
                        </p>
                        <input type="text" :value="data_detail.Shopno" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.RegionPerson}}
                        </p>
                        <input type="text" :value="data_detail.RegionPerson" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.KediID}}
                        </p>
                        <input type="text" :value="data_detail.KediID" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.OwnerName}}
                        </p>
                        <input type="text" :value="data_detail.OwnerName" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.State}}
                        </p>
                        <input type="text" :value="data_detail.State" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.Phone}}
                        </p>
                        <input type="text" :value="data_detail.Phone" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Address}}
                        </p>
                        <input type="text" :value="data_detail.Address" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.OpenDate}}
                        </p>
                        <input type="text" :value="data_detail.OpenDate ? data_detail.OpenDate.substring(0,19) : ''" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.CloseDate}}
                        </p>
                        <input type="text" :value="data_detail.CloseDate" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.Add_Date}}
                        </p>
                        <input type="text" :value="!!data_detail.Add_Date?data_detail.Add_Date.substring(0, 19) : ''" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Preparedby}}
                        </p>
                        <input type="text" :value="data_detail.Preparedby" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.Memo}}
                        </p>
                        <input type="text" :value="data_detail.Memo" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.UpdateDate}}
                        </p>
                        <input type="text" :value=" !!data_detail.UpdateDate?data_detail.UpdateDate.substring(0,19) : ''" disabled>
                    </div>

                </div>
                <div class="btn_con" style="text-align: right;">
                    <input type="button" class="btn btn-default BtnClose" :value="obj_txt.BtnClose" data-dismiss="modal" aria-hidden="true">
                </div>
            </div>

        </div>
    </div> -->
    <div id="approve_shop" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog ">
            <div class="modal-content">
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Shopno}}
                        </p>
                        <input type="text" v-model="Shopno" disabled>
                    </div>
                    <div>
                        <p>
                            {{obj_txt.apply_status}}
                        </p>
                        <select name="" id="" v-model="apply_status">
                            <option value="1">{{obj_txt.Adopt}}</option>
                            <option value="2">{{obj_txt.Refuse}}</option>
                        </select>
                    </div>
                </div>
                <div class="model_list" style="margin-top: 15px;">
                    <div>
                        <p class="" style="margin-right: 5px;">
                            {{obj_txt.apply_info}}
                        </p>
                        <textarea v-model="apply_info" name="" id="" style="width: 412px; height: 100px; padding: 5px;" placeholder="填写审批信息" resize="none"></textarea>
                    </div>
                </div>
                <div class="btn_con">
                    <input type="button" class="btn btn-success BtnUpdate" v-on:click='approve_shop()' value="提交">
                    <input type="button" class="btn btn-default BtnClose" value="取消" data-dismiss="modal" aria-hidden="true">
                </div>
            </div>

        </div>
    </div>

    <div id="change_con" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog ">
            <div class="modal-content">
                <div class="change_con" style="min-height: 200px;padding: 10px;font-size: 14px;"></div>
                <div class="btn_con" style="padding: 10px;text-align: right">
                    <input type="button" class="btn btn-default BtnClose" value="取消" data-dismiss="modal" aria-hidden="true">
                </div>
            </div>
        </div>
    </div>

    <script>
        var pagecounts;
        var page = 1;
        var obj;
        var pagesize = 30;
        var pagestat = 0;
        var user_token = get_cache('usertoken');
        var apply_list = new Vue({
            el: "#main",
            data: {
                shop_list: [],
                fade: false,
                no_data: config_txt.no_data.zn,
                lang_txt: get_page_txt('Market_Shop'), // 当前页面的文字信息
                obj_txt: {}, // 对象拼接
            },
            mounted() {
                init_data(),
                    this.lang_toggle()
            },
            methods: {
                lang_toggle() {
                    this.obj_txt = splicing_obj(this.lang_txt)
                },
                search_btn() {
                    page = 1;
                    obj = {};
                    this.fade = false;
                    obj['limit'] = [0, pagesize].join(","); //条目数
                    my_apply(obj)
                },
                status_txt(type) {
                    let a = "";
                    switch (type) {
                        case "0":
                            a = "禁用"
                            break;
                        case "1":
                            a = "可用"
                            break;
                    }
                    return a;
                },
                apply_status_txt(type) {
                    let a = "";
                    switch (type) {
                        case "0":
                            a = "待审核"
                            break;
                        case "1":
                            a = "通过"
                            break;
                        case "2":
                            a = "拒绝"
                            break;
                    }
                    return a;
                },
                open_approve(s_no, status, info) {
                    approve.Shopno = s_no;
                    if (status == 0) {
                        approve.apply_status = '1'
                    } else {
                        approve.apply_status = status
                    }
                    approve.apply_info = info

                    $('#approve_shop').modal("show");

                },
                // open_detail_shop(s_no) {
                //     detail_shop.Shopno = s_no;
                //     $('#detail_shop').modal('show');
                //     detail_shop.get_detail()
                // },

                change_con(con,num){
                    
                    $('.change_con').html(con)
                    $('#change_con').modal('show');
                },
                replace_txt(txt){
                    if(txt == 'add'){
                        return '新增'
                    }else{
                        return '修改'
                    }
                }
            }
        })

        var approve = new Vue({
            el: "#approve_shop",
            data: {
                Shopno: '',
                apply_status: '',
                apply_info: '',
                obj_txt: apply_list.obj_txt
            },
            methods: {
                approve_shop() {
                    if (!!!this.apply_info) {
                        showErr('请填写审批信息')
                        return
                    }

                    var url = "/index.php?s=desktop/Market_Shop/update";
                    var data = {};
                    data["usertoken"] = user_token;
                    data["Shopno"] = this.Shopno;
                    data["apply_status"] = this.apply_status;
                    data["apply_info"] = this.apply_info;
                    ajax(url, data, function (retjson) {
                        if (retjson.stat == 1) {
                            success('审批成功'); //Approval_success
                            setTimeout(function () {
                                $("#approve_shop").modal('hide');
                                obj = {};
                                obj['limit'] = [(page - 1) * pagesize, pagesize].join(","); //条目数
                                my_apply(obj)
                            }, 2000)
                        } else {
                            showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                        }
                    })
                }
            }
        })

        // var detail_shop = new Vue({
        //     el: "#detail_shop",
        //     data: {
        //         Shopno: '',
        //         data_detail: {},
        //         obj_txt: apply_list.obj_txt
        //     },
        //     methods: {
        //         get_detail() {
        //             var url = "/index.php?s=desktop/Market_Shop/detail";
        //             var data = {};
        //             data["usertoken"] = user_token;
        //             data["Shopno"] = this.Shopno;
        //             ajax(url, data, function (retjson) {
        //                 if (retjson.stat == 1) {
        //                     detail_shop.data_detail = retjson.data
        //                 } else {
        //                     showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
        //                 }
        //             })
        //         }
        //     }

        // })

        function init_data() {
            page = 1
            obj = {};
            pagestat = 0;
            obj['limit'] = [pagestat, pagesize].join(",");
            my_apply(obj)
        }

        function my_apply(obj) {
            var url = "/index.php?s=desktop/Market_Shop/get_list_applay";
            var data = {};
            data['usertoken'] = user_token;
            data['order'] = "applay_date desc";
            data['Oper'] = $(".oper_name").val();
            data['apply_person'] = $(".approve_name").val();
            data['apply_status'] = $('.apply_status').val();
            data['start'] = $('.start_time').val();
            data['end'] = $('.end_time').val();
            var opt = $.extend({}, data, obj)
            ajax(url, opt, function (retjson) {
                if (retjson.stat == 1) {
                    apply_list.shop_list = retjson.data.list
                    pagecounts = retjson.data.count;
                    if (retjson.data.list.length == 0) {
                        apply_list.fade = true;
                    }
                    $('.my_page').pagination({
                        totalData: parseInt(pagecounts),
                        pageCount: Math.ceil(pagecounts / pagesize),
                        jump: true,
                        coping: true,
                        prevContent: '上页',
                        current: page,
                        nextContent: '下页',
                        callback: function (api) {
                            console.log(api.getCurrent())
                            page = api.getCurrent();
                            pagestat = pagesize * (api.getCurrent() - 1)
                            var x = {
                                'limit': [pagestat, pagesize].join(',')
                            };
                            var d = $.extend({}, x);

                            my_apply(d)
                        }
                    });
                    setTimeout(function () {
                        $('.my_page').append(
                            `<div href="javascript:;" class="cunt" style='padding: 0 4px;' >总记录数： ${retjson.data.count}</div>`
                        )

                        window.location.href = "#"
                    }, 500)
                } else {
                    showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)

                }
            })
        }
    </script>
</body>

</html>