<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <script src="../script/jquery.jsonExportExcel.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .btn_cur{background-color: #cccccc;}
        .bonus_step ul{overflow: hidden;}
        .bonus_step ul li{
            font-size: 16px;
            box-sizing: border-box;
            float: left;width: 30%;margin: 0 1%;height: 50px;line-height: 50px;
            border: 1px solid #cccccc;
        }
        .bonus_step ul li.act{background-color: azure;}
        .bonus_step ul li:nth-child(3n+2){margin: 0 3%;}
    </style>
</head>

<body>
    <div id="bonus">
        <div>
            <button :class="top_switch.jjbzz?'btn_cur':''"  @click="jjbzz($event)" class="btn">奖金表制作</button>
            <button :class="top_switch.jjbzz?'':'btn_cur'" @click="jjbzz($event)" class="btn">店费表制作</button>
        </div>

        <div class="bonus_step" v-show="top_switch.jjbzz">
            <ul>
                <li class="act" @click="export_update_state($event)">1)升级情况表=></li>
                <li>2)DBPV修改=></li>
                <li>3)3星以下修改=></li>
                <li>4)修改日期和荣衔=></li>
                <li>5)增加四列=></li>
                <li>6)填补三列=></li>
                <li>7)调整最后奖金=></li>
                <li class="act" @click="exportNigeria($event)">8)尼日利亚奖金=></li>
                <li class="act" @click="exportBonusGhana($event)">9)导出加纳奖金=></li>
                <li class="act" @click="exportBenninBonus($event)">10)导出贝宁南非奖金=></li>
            </ul>
            <div>
                日期<input type="text" disabled v-model="req_date">
            </div>

            <div>
                <button @click="export_jj_ori($event)" class="btn">导出奖金原始表</button>
                <button @click="make_jj($event)" class="btn">制作奖金</button>
                <button class="btn">调整C盘奖金上传</button>
            </div>
            

            <div>
                
            </div>

            <!-- <a download="data.xls" id="nrly-xls" href="#" class="btn btn-success ExportReport" onclick="return newApi('xls','尼日利亚奖金表');" style="display: ;">导出尼日利亚奖金</a> -->

            <div id="nrly">
                    <table class="table table-border table-bordered table-bg" style="width: ;height:800px;background-color: rgba(200,200,200,.15);">
                        <thead>
                            <tr>
                                <th style="width: 30px;">NO</th>
                                <th style="width: 80px;">CODE</th>
                                
                                <th style="width: 60px;">NAME</th>
                                <th style="width: 60px;">DATE</th>
                                <th style="width: 50px;">SC</th>
                                <th style="width: 30px;">GRADE</th>
                                <th style="width: 50px;">HONOR</th>
                                <th style="width: 50px;">PPV</th>
                                <th style="width: 50px;">CPPV</th>
                                <th style="width: 50px;">GBV</th>
                                <th style="width: 50px;">TNPV</th>
                                <th style="width: 50px;">CPV</th>
                                <th style="width: 50px;">DB</th>
                                <th style="width: 50px;">IDB</th>
                                <th style="width: 50px;">LSB</th>
                                <th style="width: 50px;">DPBV</th>
                                <th style="width: 50px;">SUBTOTAL</th>
                                <th style="width: 50px;">MF</th>
                                <th style="width: 50px;">TAX</th>
                                <th style="width: 50px;">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                                
                            <tr @click="" v-for="(item,index) in simu" v-if=''>
                                <td>{{index+1}}</td>
                                <td>{{item.CODE}}</td>
                                <td>{{item.NAME}}</td>
                                <td>{{item.DATE}}</td>
                                <td>{{item.SC}}</td>
                                <td>{{item.GRADE}}</td>
                                <td>{{item.HONORARY}}</td>
                                <td>{{item.PPV}}</td>
                                <td>{{item.CPPV}}</td>
                                <td>{{item.GBV}}</td>
                                
                                <td>{{item.TNPV}}</td>
                                <td>{{item.CPV}}</td>
                                <td>{{item.DB}}</td>
                                <td>{{item.IDB}}</td>
                                <td>{{item.LSB}}</td>
                                <td>{{item.DPBV}}</td>
                                <td>{{item.SUBTOTAL}}</td>
                                <td>{{item.MF}}</td>
                                <td>{{item.TAX}}</td>
                                <td>{{item.TOTAL}}</td>
                            </tr>
                            <tr v-if="simu.LENGTH<0">
                                <td colspan="20"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div v-show="!top_switch.jjbzz">
            店费表制作
        </div>
    </div>
    <script>
        $(function() {
            get_date()
        })
        // function newApi(format,file_name) { //导出数据
        //     return ExcellentExport.convert({
        //         anchor: 'nrly-' + format,
        //         filename: file_name,
        //         format: format
        //     }, [{
        //         name: '尼日利亚奖金表',
        //         from: {
        //             table: 'nrly'
        //         }
        //     }]);

        // }
 
        var bonus_make = new Vue({
            el:'#bonus',
            data:{
                top_switch:{
                    jjbzz:true,
                },
                req_date:'',
                nrly : [],
                simu : [{'CODE':1,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                    {'CODE':2,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                    {'CODE':3,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                    {'CODE':4,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                    {'CODE':5,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                ]
            },
            computed:{
                // dfbzz = !this.top_switch.jjbzz
            },
            methods:{
                jjbzz(){
                    this.top_switch.jjbzz = !this.top_switch.jjbzz;
                },
                make_jj(){
                    make_jj_exe()
                },
                export_jj_ori(){
                    export_jj_ori_exe()

                },
                export_update_state(){
                    export_update_state_exe()
                },

                exportNigeria(){
                    exportNigeria_exe()
                },
                exportBonusGhana(){
                    exportBonusGhana_exe()
                },
                exportBenninBonus(){
                    exportBenninBonus_exe()
                }

            }
        })
        
        //制作奖金
        function make_jj_exe() {
            var url = '/index.php?s=desktop/Bonus/button12_Click';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["Date"] = bonus_make.req_date;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    
                }
            })
        }

        //导出奖金原始表
        function export_jj_ori_exe(){
            var url = '/index.php?s=desktop/Bonus/button2_Click';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    showErr(ret.data);
                }
            })
        }

        //导出升级情况表
        function export_update_state_exe() {
            var url = '/index.php?s=desktop/Bonus/Shengji1';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    
                }
            })
        }

        var option={};

        option.fileName = 'Tamia'
        option.datas=[
        {
            sheetData:[],
            sheetName:'尼日利亚',
        //			    sheetFilter:['two','one'],
            sheetHeader:['NO','CODE','NAME','DATE','SC']
        },
        //			  {
        //			    sheetData:[{one:'一行一列',two:'一行二列'},{one:'二222列',two:'二行二列'}]
        //			  }
        ];
        var toExcel=new ExportJsonExcel(option);
        

        //导出尼日利亚奖金
        function exportNigeria_exe(){
            var url = '/index.php?s=desktop/Bonus/ExportNigeria';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token; 
            ajax_data(url,data,function (ret) {
                if(ret.stat){
                    // bonus_make.nrly = ret.data;
                    var c_data = ret.data;
                    c_data.forEach(function(item,index) {
                        option.datas[0].sheetData.push({
                            a:index+1,
                            b:item.CODE,
                            c:item.NAME,
                            d:item.DATE,
                            e:item.SC,
                            // {'value':item.GRADE},
                            // {'value':item.HONORARY},
                            // {'value':item.PPV},
                            // {'value':item.CPPV},
                            // {'value':item.GBV},
                            // {'value':item.TNPV},
                            // {'value':item.CPV},
                            // {'value':item.DB},
                            // {'value':item.IDB},
                            // {'value':item.LSB},
                            // {'value':item.DPBV},
                            // {'value':item.SUBTOTAL},
                            // {'value':item.MF},
                            // {'value':item.TAX},
                            // {'value':item.TOTAL}
                        })
                    });
                    var toExcel=new ExportJsonExcel(option);
                    toExcel.saveExcel();
                    // c_data.forEach(function(item,index) {
                    //     JSON_DATA.data.push([
                    //         {'value':index+1},
                    //         {'value':item.CODE},
                    //         {'value':item.NAME},
                    //         {'value':item.DATE},
                    //         {'value':item.SC},
                    //         {'value':item.GRADE},
                    //         {'value':item.HONORARY},
                    //         {'value':item.PPV},
                    //         {'value':item.CPPV},
                    //         {'value':item.GBV},
                    //         {'value':item.TNPV},
                    //         {'value':item.CPV},
                    //         {'value':item.DB},
                    //         {'value':item.IDB},
                    //         {'value':item.LSB},
                    //         {'value':item.DPBV},
                    //         {'value':item.SUBTOTAL},
                    //         {'value':item.MF},
                    //         {'value':item.TAX},
                    //         {'value':item.TOTAL}
                    //     ])
                    // });

                    // JSONToExcelConvertor(JSON_DATA.data,'尼日利亚奖金表',JSON_DATA.title)
                }
            })

            
        }
        var JSON_DATA = {
		    "title":[
                 {"value":"NO", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"CODE", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"NAME", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"DATE", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"SC", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"GRADE", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"HONORARY", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"PPV", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"CPPV", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"GBV", "type":"ROW_HEADER_HEADER", "datatype":"string"},
			     {"value":"TNPV", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"CPV", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"DB", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"IDB", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"LSB", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"DPBV", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"SUBTOTAL", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"MF", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"TAX", "type":"ROW_HEADER_HEADER", "datatype":"string"},
                 {"value":"TOTAL", "type":"ROW_HEADER_HEADER", "datatype":"string"}
		    ],
		   	"data":[
	 			// [{'value':'a'},{'value':'2018-09'},{'value':'2'},{'value':'3'},{'value':'4'},{'value':'1'},{'value':'1'},{'value':''},{'value':'288'},{'value':'5'},{'value':'15'}]
	        ] 
		};
			
        //加纳奖金
        function exportBonusGhana_exe(){
            var url = '/index.php?s=desktop/Bonus/ExportBonusGhana';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    
                }
            })
        }
        //导出贝宁奖金
        function exportBenninBonus_exe(){
            var url = '/index.php?s=desktop/Bonus/ExportBenninBonus';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    
                }
            })
        }

        //获取日期
        function get_date() {
            var url = '/index.php?s=desktop/Bonus/getBonuDate';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    // bonus_make.req_date = ret;
                }
            })
        }


    </script>
</body>

</html>