<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <script src="../script/jsonExportExcel.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .btn_cur{background-color: #cccccc;}
        .bonus_step{height: ;}
        .bonus_step .steps{margin: 20px;}
        .bonus_step .steps span{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
    </style>
</head>

<body>
    <div id="bonus">
        <div>
            <button :class="top_btn_val==item.val?' btn-primary':''" @click="top_sw(item.val, $event)" class="btn size-L radius" v-for="item in top_switch_list">{{item.name}}</button>
        </div>

        <div class="bonus_step"  v-show="top_btn_val==1">

            <div class="four steps">
                <span class="active step" @click="export_update_state($event)">1)升级情况表</span>
                <span class="disabled step">2)DBPV修改</span>
                <span class="disabled step">3)3星以下修改</span>
                <span class="disabled step">4)修改日期和荣衔</span>
            </div>
            <div class="four steps">
                <span class="disabled step">5)增加四列</span>
                <span class="disabled step">6)填补三列</span>
                <span class="disabled step">7)调整最后奖金</span>
                <span class="disabled step" @click="exportNigeria($event)">8)尼日利亚奖金</span>
            </div>
            <div class="four steps">
                <span class="step" @click="exportBonusGhana($event)">9)导出加纳奖金</span>
                <span class="step" @click="exportBenninBonus($event)">10)导出贝宁南非奖金</span>
                <span class="step" @click="exportBelowF($event)" title="导出低于40万专卖店">11)导出低于40万专卖店</span>
            </div>
            <div class="row cl">
                <label class="form-label col-sm-1"><span style="display:block;text-align:right;">日期</span></label>
                <div class="formControls col-sm-2">
                    <input type="text" class="input-text" v-model="req_date" readonly>
                </div>
            </div>

            <div>
                <button @click="export_jj_ori($event)" class="btn">导出奖金原始表</button>
                <button @click="make_jj($event)" class="btn">制作奖金</button>
                <select name="" v-model="tablemarked" id="tablemark" style="height:30px;vertical-align:bottom;">
                    <option :value="index" v-for="(item,index) in tablemark_list" :key="item.id">{{item.name}}</option>
                </select>
                <button @click="adjust($event)"  class="btn">调整C盘奖金上传</button>
            </div>
            

            <div>
            
            </div>

        </div>
        <!-- &&dianfei_enable_make -->
        <div v-show="top_btn_val==2" style="padding: 10px 20px;">
            <form action="" method="post" class="form form-horizontal responsive" id="demoform">
                <div class="row cl">
                    <label class="form-label col-xs-3">开始日期：</label>
                    <div class="formControls col-xs-8">
                        <input id="r_start" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="form-control Wdate date_to" type="" name="">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-3">结束日期：</label>
                    <div class="formControls col-xs-8">
                        <input id="r_end" class="form-control Wdate date_to" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" type="" name="">
                    </div>
                </div>
               
                <div class="row cl">
                    <div class="col-xs-8 col-xs-offset-3">
                        <button @click="btn17($event)" type="button" class="btn btn-primary radius">店费表制作</button>
                        <button @click="btn2($event)" type="button" class="btn btn-primary radius">店费表导出</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- && gedianjj_enable_make -->
        <div v-show="top_btn_val==3" style="padding: 10px 20px;">
            <div class="three steps">
                <span :class="step_now==step.step_one.id?'active':''" class="step" @click="step_one(step.step_one.id,$event)" id="step_one">1）验证上传奖金表的时间</span>
                <span :class="step_now==step.step_two.id?'active':''" class="step" @click="step_two(step.step_two.id,$event)">2）获取奖金本数据</span>
                <span :class="step_now==step.step_three.id?'active':''" class="step" @click="step_three(step.step_three.id,$event)">3）录入各店店费</span>
                
            </div>
            <div>
                <div class="row cl text-right">
                    <label class="form-label col-xs-1">扣款开始日期：</label>
                    <div class="formControls col-xs-8">
                        <input id="step_four_start" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="form-control Wdate date_to" type="" name="">
                    </div>
                </div>
                <div class="row cl text-right">
                    <label class="form-label col-xs-1">扣款结束日期：</label>
                    <div class="formControls col-xs-8">
                        <input id="step_four_end" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="form-control Wdate date_to" type="" name="">
                    </div>
                </div>
            </div>
            <div class="three steps">
                <span :class="step_now==step.step_four.id?'active':''" class="step"  @click="step_four(step.step_four.id,$event)">4）录入被动扣款</span>
                <span :class="step_now==step.step_five.id?'active':''" class="step"  @click="step_five(step.step_five.id,$event)">5）统计Remain余额</span>
                <span :class="step_now==step.step_six.id?'active':''" class="step"  @click="step_six(step.step_six.id,$event)">6）导出各店奖金和</span>
            </div>
            <div class="three steps">
                <span :class="step_now==step.step_seven.id?'active':''" class="step"  @click="step_seven(step.step_seven.id,$event)"> 7）导出奖金不足的装卖店</span>
            </div>
        </div>
    </div>
    <script>
        // function newApi(format,file_name) { //导出数据
        //     return ExcellentExport.convert({
        //         anchor: 'nrly-' + format,
        //         filename: file_name,
        //         format: format
        //     }, [{
        //         name: '尼日利亚奖金表',
        //         from: {
        //             table: 'nrly'
        //         }
        //     }]);

        // }
 
        $('.bonus_step').scroll(function(){
            if(($(this)[0].scrollTop + $(this).height() + 10) >= $(this)[0].scrollHeight){
                console.log(456123);
            }
        })


        
        var bonus_make = new Vue({
            el:'#bonus',
            data:{
                top_btn_val:1,
                top_switch_list:[{'val':1,'name':'奖金表制作'},{'val':2,'name':'店费表制作','enable':'disabled'},{'val':3,'name':'各店奖金和制作'}],

                req_date:'',
                nrly : [],
                simu : [{'CODE':1,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                    {'CODE':2,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                    {'CODE':3,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                    {'CODE':4,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                    {'CODE':5,'NAME':'mike','DATE':'2018-8','SC':'017','GRADE':5,'HONORARY':'会员'},
                ],
                export_isclick:0,
                make_isclick : 0,
                tablemark_list:[
                    {'name':'尼日利亚奖金'},
                    {'name':'加纳奖金'},
                    {'name':'贝宁奖金'}
                ],
                tablemarked:0,
                prize_enable_f:false,
                dianfei_enable_make:false,
                gedianjj_enable_make:false,
                all_export:false,
                step:{  
                        'step_one':{
                            'id':1,
                            'next':false
                        },
                        'step_two':{
                            'id':2,
                            'next':false
                        },
                        'step_three':{
                            'id':3,
                            'next':false
                        },
                        'step_four':{
                            'id':4,
                            'next':false
                        },
                        'step_five':{
                            'id':5,
                            'next':false
                        },
                        'step_six':{
                            'id':6,
                            'next':false
                        },
                        'step_seven':{
                            'id':7,
                            'next':false
                        }
                    
                },
                step_now : 1,
            },
            computed:{
                // dfbzz = !this.top_switch.jjbzz
            },
            methods:{
                thousand_ex:function(num, precision, separator) {
                    var parts;
                    var num = num;
                    if (!isNaN(parseFloat(num)) && isFinite(num)) {
                        num = Number(num);
                        num = (typeof precision !== 'undefined' ? num.toFixed(precision) : num).toString();
                        parts = num.split('.');
                        parts[0] = parts[0].toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1' + (separator || ','));
                        // console.log('tamia' ,parts.join('.'))
                        return parts.join('.');
                    }
                    return NaN;
                },
                init(){
                    // get_add(location.href);
                    get_date()
                },
                make_jj(){
                    make_jj_exe()
                },
                export_jj_ori(){
                    export_jj_ori_exe()

                },
                export_update_state(){
                    export_update_state_exe()
                },

                exportNigeria(){
                    exportNigeria_exe()
                },
                exportBonusGhana(){
                    exportBonusGhana_exe()
                },
                exportBenninBonus(){
                    exportBenninBonus_exe()
                },

                exportBelowF(){
                    exportBelowF_exe()
                },
                adjust(){
                    adjust_exe(this.tablemarked)
                },
                top_sw(val){
                    this.top_btn_val = val;
                    console.log(this.top_btn_val);

                    if(this.top_btn_val == 2){
                    // if(this.top_btn_val == 2 && !this.dianfei_enable_make){
                        // this.top_btn_val = 1;
                        // showErr('请先完成奖金表制作！');
                    }
                    // if(this.top_btn_val == 3 && !this.gedianjj_enable_make){
                    //     this.top_btn_val = 1;
                    //     showErr('请先完成奖金表制作和店费表制作！！');
                    // }
                },
                btn17(){     //店费表制作 
                    
                    var url = '/index.php?s=desktop/Bonus/button17_Click';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data['from'] = $("#r_start").val();
                    data['to'] = $("#r_end").val();
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.msg);
                            bonus_make.gedianjj_enable_make = true;
                        }else{

                        }
                    })
                },
                btn2(){
                    var url = '/index.php?s=desktop/Bonus/button13_Click';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    if(bonus_make.gedianjj_enable_make){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                var c_data = ret.data;
                                c_data.forEach(function(item,index) {
                                    option.datas[0].sheetData.push({
                                        a:item.App,
                                        b:item.Bonus,
                                        c:item.DATE,
                                        k:item.DEBT,
                                        d:item.D_Sign,
                                        e:item.MF,
                                        f:item.NO,
                                        g:item.SC,
                                        h:item["Sub Amount"],
                                        i:item["Total Amount"],
                                        j:item["Total PV"],

                                    })
                                });
                                var toExcel=new ExportJsonExcel(option);
                                toExcel.saveExcel();
                            }
                        })
                    }else{
                        showErr('请先制作店费表!')
                    }
                    

                },
                step_one(a){
                    this.step_now = a;
                    
                    var url = '/index.php?s=desktop/Bonus/CheckBonusDate';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            bonus_make.step.step_one.next = true;
                            showErr(ret.data);
                        }
                    })
                },
                step_two(a){
                    this.step_now = a;
                    var url = '/index.php?s=desktop/Bonus/create_tempsc';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    if(this.step.step_one.next){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                bonus_make.step.step_two.next = true;
                                showErr(ret.data);
                            }
                        })
                    }else{
                        showErr('请先完成第一步!');
                    }
                    
                },
                step_three(a){
                    this.step_now = a;
                    var url = '/index.php?s=desktop/Bonus/insert_tempsc';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    if(this.step.step_two.next){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                bonus_make.step.step_three.next = true;
                                showErr(ret.data);
                            }
                        })
                    }else{
                        showErr('请先完成第二步!');
                    }
                },
                step_four(a){
                    this.step_now = a;
                    var url = '/index.php?s=desktop/Bonus/insert_debt_tempsc';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data['from'] = $("#step_four_start").val();
                    data['to'] = $("#step_four_end").val();
                    if(this.step.step_three.next){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                bonus_make.step.step_four.next = true;
                                showErr(ret.data);
                            }
                        })
                    }else{
                        showErr('请先完成第三步!');
                    }
                },
                step_five(a){
                    this.step_now = a;
                    var url = '/index.php?s=desktop/Bonus/insert_remain_tempsc';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    if(this.step.step_four.next){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                bonus_make.step.step_five.next = true;
                                showErr(ret.data);
                            }
                        })
                    }else{
                        showErr('请先完成第四步!');
                    }
                },
                step_six(a){
                    this.step_now = a;
                    var option={};
                    option.fileName = '各店奖金和'
                    option.datas=[
                        {
                            sheetData:[],
                            sheetName:'各店奖金和',
                        //	sheetFilter:['two','one'],
                            sheetHeader:['SC专卖店','Bonus会员奖金和','SC_Bonus店费','Total总和','Debt总欠款','Remain余额'],
                        }
                    ];
                    var url = '/index.php?s=desktop/Bonus/fresh';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    if(this.step.step_five.next){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                bonus_make.step.step_six.next = true;
                                // showErr(ret.data);
                                var c_data = ret.data;
                                c_data.forEach(function(item,index) {
                                    option.datas[0].sheetData.push({
                                        b:item.SC,
                                        c:bonus_make.thousand_ex(item.Bonus),
                                        d:bonus_make.thousand_ex(item.Sc_Bonus),
                                        a:item.Total,
                                        e:item.Debt,
                                        f:item.Remain,
                                    })
                                });
                                var toExcel=new ExportJsonExcel(option);
                                toExcel.saveExcel();
                            }
                        })
                    }else{
                        showErr('请先完成第四步!');
                    }
                },
                step_seven(a){
                    this.step_now = a;
                    var url = '/index.php?s=desktop/Bonus/insufficient';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    if(this.step.step_six.next){
                        ajax(url,data,function (ret) {
                            if(ret.stat){

                            }
                        })
                    }
                }

            }
        })
        bonus_make.init()


        function get_add(get_add){

        }
        //调整上传
        function adjust_exe(para){
            var url = '/index.php?s=desktop/Bonus/button18_Click';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["tablemark"] = para;
            console.log(data);
            if(bonus_make.prize_enable_f){
                ajax(url,data,function (ret) {
                    if(ret.stat){
                        showErr(ret.data);
                    }
                })
            }else{
                showErr('请先制作奖金!');
            }
            
        }

        //制作奖金
        function make_jj_exe() {
            var url = '/index.php?s=desktop/Bonus/button12_Click';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["Date"] = bonus_make.req_date;
            if(bonus_make.prize_enable_f){
                ajax(url,data,function (ret) {
                    if(ret.stat){
                        bonus_make.all_export = true;
                    }
                })
            }else{
                showErr('请先导出奖金原始表');
            }
            
        }

        //导出奖金原始表
        function export_jj_ori_exe(){
            var url = '/index.php?s=desktop/Bonus/button2_Click';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    bonus_make.prize_enable_f = true;
                    showErr(ret.data);
                }
            })
        }

        //导出升级情况表
        function export_update_state_exe() {
            var option={};
            option.fileName = '升级情况表'
            option.datas=[
                {
                    sheetData:[],
                    sheetName:'升级情况表',
                //	sheetFilter:['two','one'],
                    sheetHeader:['计算日期','所属机构','会员编号','姓名','专卖店编号','会员级别','下月真正级别','会员荣衔','董事长荣衔','个人本月业绩','个人累计业绩','级别业绩','累计级别业绩','小组业绩','小组业绩累计','整网业绩','整网累计业绩','直接业绩','间接业绩','直接奖','间接奖','领导奖','总奖金','荣衔奖','自动扣除','收入','国家或地区','省份'],
                },
            ];
            
            var url = '/index.php?s=desktop/Bonus/Shengji';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    var c_data = ret.data;
                    c_data.forEach(function(item,index) {
                        option.datas[0].sheetData.push({
                            // a:index+1,
                            b:item['计算日期'],
                            c:item['所属机构'],
                            d:item['会员编号'],
                            e:item['姓名'],
                            f:item['专卖店编号'],
                            g:item['会员级别'],
                            h:item['下月真正级别'],
                            i:item['会员荣衔'],
                            j:item['董事长荣衔'],
                            k:item['个人本月业绩'],
                            l:item['个人累计业绩'],
                            m:item['级别业绩'],
                            n:item['累计级别业绩'],
                            o:item['小组业绩'],
                            p:item['小组业绩累计'],
                            q:item['整网业绩'],
                            r:item['整网累计业绩'],
                            s:item['直接业绩'],
                            t:item['间接业绩'],
                            u:item['领导奖'],
                            v:item['总奖金'],
                            w:item['荣衔奖'],
                            x:item['自动扣除'],
                            y:item['收入'],
                            z:item['国家或地区'],
                            aa:item['省份']
                        })
                    });
                    var toExcel=new ExportJsonExcel(option);
                    toExcel.saveExcel();

                }
            })
        }

        

        //导出尼日利亚奖金
        function exportNigeria_exe(){

            var option={};

            option.fileName = '尼日利亚奖金表'
            option.datas=[
            {
                sheetData:[],
                sheetName:'尼日利亚',
            //	sheetFilter:['two','one'],
                sheetHeader:['NO','CODE','NAME','DATE','SC','GRADE','HONORARY','PPV','CPPV','GBV','TNPV','CPV','DB','IDB','LSB','DPBV','SUBTOTAL','MF','TAX','TOTAL'],
            },
            //			  {
            //			    sheetData:[{one:'一行一列',two:'一行二列'},{one:'二222列',two:'二行二列'}]
            //			  }
            ];
            var url = '/index.php?s=desktop/Bonus/ExportNigeria';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token; 
            if(bonus_make.all_export){
                ajax_data(url,data,function (ret) {
                    if(ret.stat){
                        // bonus_make.nrly = ret.data;
                        var c_data = ret.data;
                        c_data.forEach(function(item,index) {
                            option.datas[0].sheetData.push({
                                a:index+1,
                                b:item.CODE,
                                c:item.NAME,
                                d:item.DATE,
                                e:item.SC,
                                f:item.GRADE,
                                g:item.HONORARY,
                                h:item.PPV,
                                i:item.CPPV,
                                j:item.GBV,
                                k:item.TNPV,
                                l:item.CPV,
                                m:item.DB,
                                n:item.IDB,
                                o:item.LSB,
                                p:item.DPBV,
                                q:item.SUBTOTAL,
                                r:item.MF,
                                s:item.TAX,
                                t:item.TOTAL
                            })
                        });
                        var toExcel=new ExportJsonExcel(option);
                        toExcel.saveExcel();
                    }
                })
            }else{
                    showErr('请先完成奖金制作');
            }
            
        }

        //加纳奖金
        function exportBonusGhana_exe(){
            var option={};
            option.fileName = '加纳奖金'
            option.datas=[
                {
                    sheetData:[],
                    sheetName:'加纳奖金',
                //	sheetFilter:['two','one'],
                    sheetHeader:['CODE','NAME','DATE','SC','GRADE','HONORARY','PPV','CPPV','GBV','TNPV','CPV','DB','IDB','LSB','DPBV','SUBTOTAL','MF','TAX','TOTAL'],
                },
            ];

            var url = '/index.php?s=desktop/Bonus/ExportBonusGhana';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            if(bonus_make.all_export){
                ajax(url,data,function (ret) {
                    if(ret.stat){
                        var c_data = ret.data;
                        c_data.forEach(function(item,index) {
                            option.datas[0].sheetData.push({
                                b:item.CODE,
                                c:item.NAME,
                                d:item.DATE,
                                e:item.SC,
                                f:item.GRADE,
                                g:item.HONORARY,
                                h:item.PPV,
                                i:item.CPPV,
                                j:item.GBV,
                                k:item.TNPV,
                                l:item.CPV,
                                m:item.DB,
                                n:item.IDB,
                                o:item.LSB,
                                p:item.DPBV,
                                q:item.SUBTOTAL,
                                r:item.MF,
                                s:item.TAX,
                                t:item.TOTAL
                            })
                        });
                        var toExcel=new ExportJsonExcel(option);
                        toExcel.saveExcel();
                    }
                })
                
            }else{
                    showErr('请先完成奖金制作');
            }
            
        }
        //导出贝宁奖金
        function exportBenninBonus_exe(){
            var option={};
            option.fileName = '贝宁奖金'
            option.datas=[
            {
                sheetData:[],
                sheetName:'贝宁奖金',
            //	sheetFilter:['two','one'],
                sheetHeader:['CODE','NAME','DATE','SC','GRADE','HONORARY','PPV','CPPV','GBV','TNPV','CPV','DB','IDB','LSB','DPBV','SUBTOTAL','MF','TAX','TOTAL'],
            },
            {
                sheetName:'Tamia',
                sheetData:[{one:'一行一列',two:'一行二列'},{one:'二222列',two:'二行二列'}],
                sheetHeader:['tamia']
            }
            ];

            var url = '/index.php?s=desktop/Bonus/ExportBenninBonus';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            if(bonus_make.all_export){
                ajax(url,data,function (ret) {
                    if(ret.stat){
                        var c_data = ret.data;
                        c_data.forEach(function(item,index) {
                            option.datas[0].sheetData.push({
                                b:item.CODE,
                                c:item.NAME,
                                d:item.DATE,
                                e:item.SC,
                                f:item.GRADE,
                                g:item.HONORARY,
                                h:item.PPV,
                                i:item.CPPV,
                                j:item.GBV,
                                k:item.TNPV,
                                l:item.CPV,
                                m:item.DB,
                                n:item.IDB,
                                o:item.LSB,
                                p:item.DPBV,
                                q:item.SUBTOTAL,
                                r:item.MF,
                                s:item.TAX,
                                t:item.TOTAL
                            })
                        });
                        var toExcel=new ExportJsonExcel(option);
                        toExcel.saveExcel();
                    }
                })
            }else{
                showErr('请先完成奖金制作');
            }
        }
        
        //导出低于40万
        function exportBelowF_exe(){
            var option={};
            option.fileName = '低于40万专卖店'
            option.datas=[
                {
                    sheetData:[],
                    sheetName:'低于40万专卖店',
                //	sheetFilter:['two','one'],
                    sheetHeader:['Shopno','MonthAchieve'],
                }
            ];

            var url = '/index.php?s=desktop/Bonus/getlowsc';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token; 
            if(bonus_make.all_export){
                ajax_data(url,data,function (ret) {
                    if(ret.stat){
                        // bonus_make.nrly = ret.data;
                        var c_data = ret.data;
                        c_data.forEach(function(item,index) {
                            option.datas[0].sheetData.push({
                                b:item.Shopno,
                                c:item.MonthAchieve
                            })
                        });
                        var toExcel=new ExportJsonExcel(option);
                        toExcel.saveExcel();
                    }
                })
            }else{
                showErr('请先完成奖金制作');
            }
            
        }
        //获取日期
        function get_date() {
            var url = '/index.php?s=desktop/Bonus/getBonuDate';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    bonus_make.req_date = ret.data;
                }
            })
        }


    </script>
</body>

</html>