<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .tr_bg{background-color: #cccccc;}
    </style>
</head>

<body>
    <div id="main">
        <div>
            <div>
                <button class="btn">{{lang_text.HistoryBorrow}}</button>
                <button class="btn">{{lang_text.OpenNewShop}}</button>
                <input disabled :value="history_no" type="text">
                <button class="btn">{{lang_text.AddNew}}</button>
            </div>
            <div>
                <span>{{lang_text.reporter}}</span><input disabled value="管理员" type="text">
                <span>DATE</span><input id="borrow_date" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_to">
                <span>SC/Distributor</span><input v-model="searchByNo_no" type="text">
                <button @click="searchByNo($event)" class="btn">SerachHistory</button>
                <span>Products:</span><input id="producy_name_num" :type="producy_name_num.list[producy_name_num.default]">
                <button @click="reset($event)" class="btn">Reset</button>

            </div>
            
            <div style="padding:10px;">
                    <table class="table table-border table-bordered table-bg" style="width: 800px;background-color: rgba(200,200,200,.15);">
                        <thead>
                            <tr>
                                <th style="width: 70px;">编号</th>
                                <th style="width: 80px;">Name</th>
                                <th style="width: 70px;">MemberPrice</th>
                                <th style="width: 60px;">BV</th>
                                <th style="width: 60px;">PV</th>
                                <th style="width: 70px;">HistoryQty</th>
                                <th style="width: 60px;">BorrowQty</th>
                                <th style="width: 50px;">NowQty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr :class="" @click="" v-for="(item,index) in borrow_product_list" v-if='borrow_product_list.length'>
                                <td :connect_id="item.productid">
                                    {{item.productno}}
                                </td>
                                <td>{{item.CName}}</td>
                                <td>{{item.MemberPrice}}</td>
                                <td>{{item.BV}}</td>
                                <td>{{item.PV}}</td>
                                <td>{{item.HistoryQty}}</td>
                                <td>{{item.BorrowQty}}</td>
                                <td>{{item.NowQty}}</td>
        
                            </tr>
                            <tr v-if="!borrow_product_list.length">
                                <td colspan="8"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>

            <div>
                <div class="left">
                    <div class="">
                        <div class="left">
                            <span>BorrowedNaira</span> <span v-html="btm_borrow.n" style="display:inline-block;width:100px;">0.0</span>
                        </div>
                        <div class="left">
                            <span>BorrowedBV</span> <span v-html="btm_borrow.bv" style="display:inline-block;width:100px;">0.0</span>
                        </div>
                        <div class="left">
                            <span>BorrowedPV</span> <span v-html="btm_borrow.pv" style="display:inline-block;width:100px;">0.0</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="">
                        <div class="left">
                            <span>ToBorrowNaira</span> <span v-html="btm_total.n" style="display:inline-block;width:100px;">0.0</span>
                        </div>
                        <div class="left">
                            <span>ToBorrowBV</span> <span v-html="btm_total.bv" style="display:inline-block;width:100px;">0.0</span>
                        </div>
                        <div class="left">
                            <span>ToBorrowPV</span> <span v-html="btm_total.pv" style="display:inline-block;width:100px;">0.0</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="left">
                    <button @click="open_sale_report()" class="btn btn-primary">CretaeReport</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div id="sale_report" style="display:none;">
        <div>
            <div>
                编号：<input disabled v-model="GroupID" type="text">
                日期：<input disabled id="sale_date" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_from">
                专卖店(SC)：<input disabled type="text" v-model="shop_no" style="width:30px;">
                Memo：<input id="sale_memo" type="text">
            </div>
            <div>
                <table class="table table-border table-bordered table-bg" style="width: 800px;background-color: rgba(200,200,200,.15);">
                    <thead>
                        <tr>
                            <th style="width: 70px;">Code</th>
                            <th style="width: 80px;">Products</th>
                            
                            <th style="width: 60px;">BV</th>
                            <th style="width: 60px;">PV</th>
                            <th style="width: 70px;">MemberPrice</th>
                            <th style="width: 60px;">BorrowQty</th>
                            <th style="width: 50px;">Total BV</th>
                            <th style="width: 50px;">Total PV</th>
                            <th style="width: 50px;">Total NR</th>
                            <th style="width: 50px;">Code1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr @click="" v-for="(item,index) in pro_list" v-if=''>
                            <td>{{item.productno}}</td>
                            <td>{{item.CName}}</td>
                            <td>{{item.BV}}</td>
                            <td>{{item.PV}}</td>
                            <td>{{item.MemberPrice}}</td>
                            <td>{{item.BorrowQty}}</td>
                            <td>{{item.BorrowQty*item.BV}}</td>
                            <td>{{item.BorrowQty*item.PV}}</td>
                            <td>{{item.BorrowQty*item.MemberPrice}}</td>
                            <td>{{item.productno}}</td>

                        </tr>
                        <tr v-if="">
                            <td colspan="8"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>

            </div>
        </div>



        <div>
            <div class="left">
                <fieldset id="" style="">
                    <legend style="width: auto;margin-bottom: 5px; border-bottom: none;">信息Info</legend>
                
                    <div>
                        <span style="display:inline-block;width: 40px">Aera：</span>
                        <select name="" id="sale_area" style="width: 70px">
                            <option v-for="(item,index) in sale_area" :value="index">{{item.name}}</option>
                        </select>
                        <span style="display:inline-block;width: 120px">System Total：</span><input v-model="kits_and_system_total" type="text" style="width: 150px" >
                        <span style="display:inline-block;width: 100px">Total Gurantee：</span><input disabled v-model="jiesuan_cash" type="text" style="width: 120px" >
                    </div>
                    <div>
                        <span style="display:inline-block;width: 40px">Kits：</span><input v-model="kits" type="text" style="width: 20px" ><input v-model="is_french" type="checkbox" name="" id=""> <span>French</span>
                        <span style="display:inline-block;width: 115px">Gurantee Money：</span><input disabled v-model="jiesuan_cash" type="text" style="width: 150px" >
                        <span style="display:inline-block;width: 100px">TotalNR：</span><input disabled v-model="kits_and_system_total" type="text" style="width: 120px" >
                    </div>
                    <div>
                        <div class="left">
                            <span style="display:inline-block;width: 55px">Percent：</span><input v-model="percent" disabled type="text" style="width: 70px" ><br/>
                            <span style="display:inline-block;width: 55px">Grant：</span><input type="text" style="width: 30px" ><button>G</button>
                        </div>
                        <div class="left">
                            <span style="display:inline-block;width: 120px">Cash(NR)：</span><input disabled type="text" v-model="jiesuan_cash" style="width: 150px" ><button @click="cash_click($event)">...</button><br/>
                            <span style="display:inline-block;width: 120px">Bank Deposit：</span><input type="text" style="width: 150px" ><button>...</button>
                        </div>
                        <div class="left">
                            <p>当前状态</p>
                            <div>
                                <input disabled v-model="percent_int" type="text" style="font-size:20px;width:125px;height:50px;line-height:50px;">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                </fieldset>
            </div>
            <div class="left">
                <fieldset id="" style="">
                    <legend style="width: auto;margin-bottom: 5px; border-bottom: none;">操作Operate</legend>
                    <div>
                        <button @click="SaveReport($event)" class="btn" style="width: 180px;">保存Save</button><br/>
                        <button @click="GoToWareHouse($event)" class="btn" style="width: 180px;">GoToWareHouse</button><br/>
                        <button @click="RevertFromWareHouse($event)" class="btn">RevertFromWareHouse</button>
                    </div>
                </fieldset>
            </div>
            
            <div class="clear"></div>
        </div>
    </div>    

    <script>

        var p_index = '';
        $(function () {
            get_borrow_product_list();          //获取商品列表
            $('.Wdate').val(get_local_time());


            $("#producy_name_num").keyup(function(e){
                
                if($(this).attr('type')=='text' && e.keyCode == 13){
                    console.log($(this).attr('type'));
                    // console.log(check_has_name($(this).val()));
                    bind_product_name();
                }else if($(this).attr('type')=='number' && e.keyCode == 13){
                    console.log($(this).attr('type'));
                    borrow_main.borrow_product_list[p_index].BorrowQty = $(this).val();
                    bind_product_qty();
                }
            })
            
        })
        var borrow_main = new Vue({
            el:'#main',
            data:{
                searchByNo_no:'', 
                history_no:'',
                borrow_product_list : [],
                producy_name_num : {default:0,list:['text','number']},
                product_borrow_history : [],
                product_history_borrow_qty:[],
                lang_text:splicing_obj(get_page_txt('borrow')),
                btm_borrow:{
                    n : 0,
                    bv: 0 ,
                    pv: 0 
                },
                btm_total:{
                    n:0,
                    bv:0,
                    pv:0
                }
            },
            methods:{
                // get_borrow_product_list(){

                // }
                searchByNo(){
                    searchByNo_exe(this.searchByNo_no)
                },
                open_sale_report(){
                    var naira;
                    // compute_bv()
                    var str = `
                        <div style="padding:0 20px;">
                            <div></div>
                            <div>SC:${this.history_no||''}  NAIRA:${compute_by('MemberPrice')}</div>
                            <div>BV: ${compute_by('BV')}   PV:${compute_by('PV')}</div>
                            <p>以上订单信息是否正确?</p>
                        </div>
                    `
                    firm('订单信息检查',str,{l:'是',r:'否'},check_pass_open)
                    
                },
                reset(){
                    reset_exe()
                }

            }
        })

        function check_pass_open() {
            sale_report.pro_list = borrow_main.borrow_product_list;
            var arr = [],o_arr = borrow_main.borrow_product_list;
            for(var i = 0; i < o_arr.length;i++){
                if(o_arr[i].BorrowQty!=''){
                    // arr.push({'productid':o_arr[i].productid,'productno':o_arr[i].productno,'BorrowQty':o_arr[i].BorrowQty})
                    arr.push(o_arr[i]);
                }
            }
            
            console.log(borrow_main.history_no);
            if(borrow_main.history_no != undefined){

                sale_report.GroupID = borrow_main.history_no;
                cash.group_id = borrow_main.history_no;
                sale_report.shop_no = borrow_main.searchByNo_no;
                cash.sc = borrow_main.searchByNo_no;
                open_html("SaleReport",'#sale_report','sale_report',function(){
    //		                Refresh()
                },900,500)
            }else{
                var url = '/index.php?s=desktop/Borrow/button6_Click';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"] = user_token;
                data["totalBv"] = compute_by('BV');
                data["totalpv"] = compute_by('PV');
                data["totalnaira"] = compute_by('MemberPrice');
                data["Date"] = $('#borrow_date').val();
                data["data"] = arr;
                // data["data"] = borrow_main.borrow_product_list;
                data["GroupID"] = borrow_main.history_no;
                data["shopno"] = borrow_main.searchByNo_no;
                ajax(url,data,function (ret) {
                    if(ret.stat){
                        console.log(ret);
                        sale_report.GroupID = ret.data.GroupID;
                        cash.group_id = ret.data.GroupID;
                        sale_report.shop_no = borrow_main.searchByNo_no;
                        cash.sc = borrow_main.searchByNo_no;

                        open_html("SaleReport",'#sale_report','sale_report',function(){
            //		                Refresh()
                        },900,500)
                    }
                    else{
                        showErr('获取编号失败.请重新获取');
                    }
                })
            }

        }

        function searchByNo_exe(para) {
            var url = '/index.php?s=desktop/Borrow/button2_Click';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["shopno"] = para;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    
                }
            })
        }
        
        //数量
        function bind_product_qty() {  
                $('#producy_name_num').val('');
                $('#producy_name_num').attr('type','text');
                borrow_main.btm_total.n = compute_by('MemberPrice');
                borrow_main.btm_total.bv = compute_by('BV');
                borrow_main.btm_total.pv = compute_by('PV');

                //sale_report页获取
                sale_report.system_total = borrow_main.btm_total.n;
        }
        
        //商品
        function bind_product_name() {

            if(check_has_name($('#producy_name_num').val().toUpperCase())>=0){

                p_index = check_has_name($('#producy_name_num').val().toUpperCase());
                console.log(check_has_name($('#producy_name_num').val().toUpperCase()));
                console.log( borrow_main.borrow_product_list);    
                $('#producy_name_num').val('');

                $('#producy_name_num').attr('type','number');
            }
            
            // if(arr.includes($('#producy_name_num').val().toUpperCase())){
            //     console.log('Tamia');
            //     $('#producy_name_num').val('');

            //     $('#producy_name_num').attr('type','number');

            // }

        }
        
        function check_has_name(a){
            var l = borrow_main.borrow_product_list,index = -1||'';
            for(var i = 0;i<l.length;i++){
                if(a.toUpperCase() == l[i].productno){
                    index = i;
                }
                // console.log(l[i].productno);
            }
            return index;
        }

        function get_borrow_product_list() {
            var url = '/index.php?s=desktop/Borrow/Form1_Load';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    borrow_main.borrow_product_list = ret.data.Product_Info;
                    borrow_main.history_no = ret.data.groupid;
                    borrow_main.searchByNo_no = ret.data.shopno;
                    borrow_main.product_borrow_history = ret.data.BorrowQty||[];

                    borrow_main.product_history_borrow_qty = ret.data.HistoryBorrow||[];
                    
                    for(var j = 0 ;j<borrow_main.product_borrow_history.length;j++){
                        for(var k = 0; k<borrow_main.borrow_product_list.length;k++){
                            if(borrow_main.borrow_product_list[k].productno == borrow_main.product_borrow_history[j].productno){
                                console.log(borrow_main.borrow_product_list[k].productno);
                                borrow_main.borrow_product_list[k].BorrowQty = borrow_main.product_borrow_history[j].QTY;
                            }
                        }
                    }
                    for(var j = 0 ;j<borrow_main.product_history_borrow_qty.length;j++){
                        for(var k = 0; k<borrow_main.borrow_product_list.length;k++){
                            if(borrow_main.borrow_product_list[k].productno == borrow_main.product_history_borrow_qty[j].productno){
                                // console.log(borrow_main.borrow_product_list[k].productno);
                                borrow_main.borrow_product_list[k].HistoryQty = borrow_main.product_history_borrow_qty[j].QTY;
                            }
                        }
                    }

                    borrow_main.btm_borrow.n = compute_by_history('MemberPrice');
                    borrow_main.btm_borrow.bv = compute_by_history('BV');
                    borrow_main.btm_borrow.pv = compute_by_history('PV');
                    console.log(compute_by_history('BV'))

                }

            })
        }

        function reset_exe() {
            var l = borrow_main.borrow_product_list;
            for(var i = 0;i<l.length;i++){
                l[i].BorrowQty = '-';
            }
        }

        //计算
        function compute_by(item) {
            var para = 0,arr = borrow_main.borrow_product_list;
            for(var i = 0;i<arr.length;i++){
                // console.log(i)
                if(!isNaN(arr[i].BorrowQty)){
                    // console.log(arr[i].BorrowQty*arr[i].BV)
                    para += (arr[i].BorrowQty*arr[i][item]);
                }
                
            }
            return para;
        }

        //计算Borrow
        function compute_by_history(item) {
            var para = 0,arr = borrow_main.borrow_product_list;
            for(var i = 0;i<arr.length;i++){
                // console.log(i)
                if(!isNaN(arr[i].HistoryQty)){
                    // console.log(arr[i].BorrowQty*arr[i].BV)
                    para += (arr[i].HistoryQty*arr[i][item]);
                }
                
            }
            return para;
        }

        var sale_report = new Vue({
            el:'#sale_report',
            data:{
                pro_list:[],
                GroupID:'',
                shop_no:'',
                jiesuan_cash:0,
                kits:'',
                is_french:true,
                kits_unit_price:4000,       //kits单价
                system_total:0,
                sale_area:[{'name':'NONE'},{'name':'MOSES'},{'name':'EMANUEL'},{'name':'ABA'},{'name':'ABUJA'},{'name':'EMEM'},{'name':'RICHARD'},{'name':'JOPPACO'},{'name':'PRINCE'},{'name':'IKEJA'},{'name':'KANO'}],
                save_edit:0
            },
            computed: {
                kits_and_system_total(){
                    return this.system_total + this.kits*this.kits_unit_price;
                },
                percent() {
                    if(this.system_total + this.kits*this.kits_unit_price>0){
                        return (this.jiesuan_cash/(this.system_total + this.kits*this.kits_unit_price)*100).toFixed(2)+'%';
                    }else{
                        return 0+'%';
                    }
                    
                },
                percent_int(){
                    if((this.jiesuan_cash/this.kits_and_system_total*100).toFixed(2)<30 && (this.jiesuan_cash/this.kits_and_system_total*100).toFixed(2)>0){
                        return 'Low';
                    }
                    else if((this.jiesuan_cash/this.kits_and_system_total*100).toFixed(2)>30 && (this.jiesuan_cash/this.kits_and_system_total*100).toFixed(2)<40){
                        return 'Normal';
                    }
                }
            },
            methods:{
                SaveReport(){               //保存/编辑
                    SaveReport_exe()
                },
                GoToWareHouse(){
                    GoToWareHouse_exe()
                },
                RevertFromWareHouse(){          //撤销订单
                    RevertFromWareHouse_exe()
                },
                cash_click(){
                    cash_click_exe()
                }
                

            }
        })
        //打开cash
        function cash_click_exe(){
            open_html("CashData",'#cash','cash',function(){
                modify()
            },500,300)
        }

        //付款后修改金额
        function modify() {
            sale_report.jiesuan_cash = cash.money_list_all;
        }

        //保存save
        function SaveReport_exe() {
            console.log('保存')
            var url = '/index.php?s=desktop/Borrow/SaveReport';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["GroupID"] = sale_report.GroupID;
            data["SystemTotal"] = sale_report.kits_and_system_total;
            data["Percent"] = sale_report.percent;
            data["percentstatus"] = sale_report.percent_int;
            data["Cash"] = sale_report.jiesuan_cash;
            data["TotalGurantee"] = sale_report.jiesuan_cash;
            // data["save_edit"] = sale_report.save_edit;
            data["kits"] = sale_report.kits;
            data["memo"] = $('#sale_memo').val();
            ajax(url,data,function (ret) {
                if(ret.stat){
                    showErr(ret.data);
                }
            })

        }

        //订单入库提货系统(GoToWareHouse)
        function GoToWareHouse_exe() {
            var url = '/index.php?s=desktop/Borrow/button5_Click';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["GroupID"] = sale_report.GroupID;
            data["SystemTotal"] = sale_report.kits_and_system_total;
            data["Percent"] = sale_report.percent;
            data["shopno"] = sale_report.shop_no;
            data["Date"] = $('#sale_date').val();
            data["kits"] = sale_report.kits;
            data["French"] = sale_report.is_french;
            // data["allowcode"] = ;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    
                }
            })
        }

        //撤销订单(RevertFromWareHouse)
        function RevertFromWareHouse_exe() {
            var url = '/index.php?s=desktop/Borrow/RevertFromWareHouse';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["GroupID"] = sale_report.GroupID;       //订单编号
            ajax(url,data,function (ret) {
                if(ret.stat){
                    
                }
            })
        }
    </script>

    <div id="cash" style="display:none;">
        <div>
            编号：<input disabled v-model="group_id" style="width:150px;" type="text" name="" id="">
            Data：<input id="cash_date" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_to">
            SC：<input v-model="sc" style="width:30px;" disabled type="text" name="" id="">
        </div>
        <div>
            Total：<input disabled v-model="money_list_all" type="text" style="width:70px;">
            Amount：<input type="text" v-model="cash_amount" style="width:120px;">
        </div>
        <div style="text-align:center;">
            <button @click="cash_delete($event)" class="btn">DELETE</button>
            <button @click="add( $event)" class="btn btn-primary" style="margin-left:100px;">ADD</button>
        </div>
        <div>
            <table class="table table-border table-bordered table-bg" style="width: ;background-color: rgba(200,200,200,.15);">
                <thead>
                    <tr>
                        <th style="width: 70px;">GroupID</th>
                        <th style="width: 80px;">CashID</th>
                        
                        <th style="width: 60px;">ShopNo</th>
                        <th style="width: 60px;">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :class="tr_index == index?'tr_bg':''" @click="get_cash_id_del(index,item.CashID)" v-for="(item,index) in money_list" v-if=''>
                        <td>{{item.GroupID}}</td>
                        <td>{{item.CashID}}</td>
                        <td>{{item.ShopNo}}</td>
                        <td>{{item.Amount}}</td>

                    </tr>
                    <tr v-if="money_list.lenth<0">
                        <td colspan="4"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var cash = new Vue({
            el:'#cash',
            data:{
                group_id:'',
                sc:'',
                money_list:[],
                tr_index:-1,
                // cash_amount:0,
                del_cashid : ''
            },
            computed:{
                money_list_all(){
                    var a = 0;
                    for(var i = 0;i<this.money_list.length;i++){
                        a+= parseFloat(this.money_list[i].Amount);
                    }
                    return a;
                },
            },
            methods:{
                
                add(){
                    add_req(this.group_id,this.sc,this.cash_amount)
                },
                cash_delete(){
                    if(this.del_cashid != ''){
                        cash_delete_req(this.del_cashid)
                    }
                },
                get_cash_id_del(index,cashid){
                    this.del_cashid = cashid;
                    this.tr_index = index;
                    console.log(this.del_cashid);
                }

            }
        })

        //add
        function add_req(g,sc,cash_amount){
            var url = '/index.php?s=desktop/Front_Desk_Cash/Add_Cash';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["GroupID"] = g;       //订单编号
            data["ShopNO"] = sc;
            data["RealDate"] = $('#cash_date').val();
            data["Amount"] = cash_amount;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    get_cash_id()
                }
            })
        }

        //delete
        function cash_delete_req(cashid){
            var url = '/index.php?s=desktop/Front_Desk_Cash/Delete_Cash';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["CashID"] = cashid;
            ajax(url,data,function (ret) {
                if(ret.stat){
                    showErr(ret.data);
                    get_cash_id()
                }
            })
        }
        //get_cash_id
        function get_cash_id(){
            console.log(cash.group_id,cash.sc)
            var url = '/index.php?s=desktop/Front_Desk_Cash/CashData';
            var user_token = get_cache('usertoken');
            var data = {};
            data["usertoken"] = user_token;
            data["GroupID"] = cash.group_id;       //订单编号
            data["ShopNO"] = cash.sc;
            data["RealDate"] = $('#cash_date').val();
            ajax(url,data,function (ret) {
                if(ret.stat){
                    cash.money_list = ret.data.list;

                }
            })
        }
    </script>
</body>

</html>