<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <!-- <link rel="stylesheet" href="../css/H-ui.min.css"> -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <!-- <script src="../script/H-ui.min.js"></script> -->
    <script src="../script/bootstrap.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container" id="app">

            <h1 class="text-center">汇总列表</h1>
            <h5 class="page-header"></h5>
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label">月份：</label>
                    <select name="" id="" style="height: 34px;border-radius: 4px;">
                        <option value="" v-for="item in data_sle" :key="item.id">{{item.month}}</option>
                    </select>

                    <input style="width:220px;" placeholder="专卖店或会员号，不填则全部" class="form-control">
                </div>
                <a class="btn btn-primary" @click="getdata()"> SEARCH</a>
            </form>
            <h5 class="page-header"></h5>
            
            <table id="daikuan_table" class="table table-striped table-hover">
                <thead>
                    <tr><th style="width:auto;">SC/MCODE</th>
                        <th>历史业绩欠款</th>
                        <th>历史房屋欠款</th>
                        <th>历史车款</th>
                        <th>历史个人欠款</th>
                        <th>历史保险总额</th>
                        <th>当月个人欠款</th>
                        <th>当月业绩欠款</th>
                        <th>当月cash还款</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in datalist" @click="showdetail(item)">
                        <td>{{item.id}}</td>
                        <td>{{item.sc}}</td>
                        <td>{{item.date}}</td>
                        <td>{{typelist[Number(item.type_id)].type_name}}</td>
                        <td>{{thousand_ex(item.total_money)}}</td>
                        <td>{{thousand_ex(item.surplus_money)}}</td>
                        <td>{{item.is_over == 1?'否':'是'}}</td>
                        <td>{{item.memo}}</td>
                        <td>{{item.oper}}</td>
                        <td><a class="btn btn-primary btn-xs" @click.stop=xiugai(item) style="margin-right:5px;">修改</a><a class="btn btn-primary btn-xs" @click.stop=openlist(item)>还款列表</a></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <script>

            var dataArr = [];
            var data = new Date();
            var year = data.getFullYear();
            data.setMonth(data.getMonth()+1, 1);
            for (var i = 0; i < 12; i++) {
                data.setMonth(data.getMonth() - 1);
                var m = data.getMonth() + 1;
                m = m < 10 ? "0" + m : m;
                dataArr.push({'month':data.getFullYear() + "-" + (m)})
            }
        
            console.log(dataArr)
            var vm = new Vue({
                el:'#app',
                data:{
                    data_sle:dataArr
                }
            })
    </script>
</body>
</html>