<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.admin.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/excellentexport.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }
        
        .lock {
            background: rgb(255, 182, 193)
        }
        
        .unlock {
            background: rgba(144, 238, 144)
        }
        .tr_bground{
            background: #eee;
        }
    </style>
</head>

<body>
    <div class="manage_report" id="manage_report">
        <div class="manage_top">
            <div>
                <button class="btn btn-default size-S">打印浏览</button>
            </div>
            <div>
                <span>选择区域</span>
                <select name="" id="" class="region-top">
                    <option :value="x" v-for="x in region">{{x}}</option>
                </select>
            </div>
            <div>
                <button class="btn btn btn-primary-outline radius size-S" @click="query_shop_no()">查询分专卖店编号</button>
                <!-- <button class="btn btn btn-primary-outline radius size-S" @click='open_region_lock()'>区域店锁定</button> -->
            </div>
            <div class="check_con">
                <p>
                    <input type="checkbox" name="" id="" class="non-month" value="Non-Month" v-model="non_month"> Non-Month
                </p>
                <p>
                    <input type="checkbox" name="" id="" class="print-twoday" value="printTwoday" v-model="print_twoday"> printTwoday
                </p>
            </div>
        </div>
        <!-- 操作条件 -->
        <div class="edit_condition">
            <div class="sub_sc">
                <div>
                    <p>
                        <span>SC_A</span>
                        <input type="text" class="sc_a">
                    </p>
                    <p>
                        <span>SC_B</span>
                        <input type="text" disabled class="sc_b">
                    </p>
                    <p>
                        <span>SC_C</span>
                        <input type="text" disabled class="sc_c">
                    </p>
                    <p>
                        <span>SC_D</span>
                        <input type="text" disabled class="sc_d">
                    </p>

                    <p>
                        <span>SC_E</span>
                        <input type="text" disabled class="sc_e">
                    </p>
                    <p>
                        <span>SC_F</span>
                        <input type="text" disabled class="sc_f">
                    </p>
                    <p style="">
                        <span>SC_G</span>
                        <input type="text" class="sc_g" disabled>
                    </p>
                    <p>
                        <span>SC_H</span>
                        <input type="text" class="sc_h" disabled>
                        <button class="clear" @click="clear()">C</button>
                    </p>
                    <p style="width: 1px; height: 1px;overflow: hidden;visibility: hidden;">
                        <span>SC_g</span>
                        <input type="text" class="sc_h" disabled>
                        <button class="clear" @click="clear()">C</button>
                    </p>
                </div>
            </div>
            <div class="">
                <div>
                    <span>From</span>
                    <input class="Wdate form_time" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                    <span>to</span>
                    <input class="Wdate to_time" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                    <span>Region</span>
                    <select name="" id="" class="region_index">
                        <option v-bind:value="n" v-for="n in  region">{{n}}</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary-outline" @click='summary_shop()'>生成大专卖店汇总</button>
                    <button class="btn btn-primary-outline" @click="region_store_summary()">区域店汇总 RegionSearch</button>
                    <br>
                    <button class="btn btn-primary-outline" @click="same_day_summary()">日汇总</button>
                    <button class="btn btn-primary-outline" @click="month()">月汇总</button>
                </div>
            </div>

        </div>
        <div class="data_list" style="height: 350px; overflow: auto; background: #ccc; padding: 4px 0;margin-top: 5px;">
            <table v-if="!public_fade" class="table table-border table-bordered table-bg " id="p_list" style="background: #fff;" v-if="Report_Manage_data">
                <thead>
                    <tr>
                        <th>GroupID</th>
                        <th>SC</th>
                        <th>Status</th>
                        <th>Kits</th>
                        <th>Total</th>
                        <th>Cash</th>
                        <th>Teller</th>
                        <th>Debit</th>
                        <th>Trance</th>
                        <th>Region</th>
                        <th>BV</th>
                        <th>PV</th>
                        <th>NR</th>
                        <th>Oper</th>
                        <th>Cash_usd</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(g,$index) in Report_Manage_data" v-on:click="click_input(g.GroupID,g.SC)">
                        <td>{{g.GroupID}}</td>
                        <td>{{g.SC}}</td>
                        <td>{{g.Status}}</td>
                        <td>{{g.Kits}}</td>
                        <td>{{g.Total}}</td>
                        <td>{{g.Cash}}</td>
                        <td>{{g.Teller}}</td>
                        <td>{{g.Debit}}</td>
                        <td>{{g.Trance}}</td>
                        <td>{{g.Region}}</td>
                        <td>{{g.BV}}</td>
                        <td>{{g.PV}}</td>
                        <td>{{g.NR}}</td>
                        <td>{{g.Oper}}</td>
                        <td>{{g.Cash_usd}}</td>
                    </tr>
                    <tr v-if="!Report_Manage_data.length">
                        <td colspan="15">暂无数据</td>
                    </tr>
                </tbody>
            </table>

            <table v-if='public_fade' class="table table-border table-bordered table-bg " id="p_list" style="background: #fff;" v-if="Report_Manage_data">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Products</th>
                        <th>Unit</th>
                        <th>BV(USD)</th>
                        <th>BV/PV(%)</th>
                        <th>PV(USD)</th>
                        <th>Naira Price</th>
                        <th>Qty</th>
                        <th>Total BV</th>
                        <th>Total PV</th>
                        <th>Total NR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(p,$index) in public_data.GeT_ReportToForm_ForBIGSC.Get_Result_Mem_Info">
                        <td>{{p.Code}}</td>
                        <td>{{p.Products}}</td>
                        <td>{{p.unit}}</td>
                        <td>{{p["BV(USD)"]}}</td>
                        <td>{{p["BV/PV(%)"]}}</td>
                        <td>{{p["PV(USD)"]}}</td>
                        <td>{{p["Naira PRICE"]}}</td>
                        <td>{{p.QTY}}</td>
                        <td>{{p["Total BV"]}}</td>
                        <td>{{p["Total PV"]}}</td>
                        <td>{{p["Total NR"]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="info_content">
            <div class="left">
                <div>
                    <p>
                        <span>BigSCGroupID</span>
                        <input type="text" style="width: 150px;" :value="input_opt['BigSCGroupID'] || 0" disabled class="bigsc_groupid">
                    </p>
                    <p>
                        <span>Total_BV</span>
                        <input class="total_bv" disabled type="text" :value="input_opt['Total_BV'] || 0">
                    </p>
                    <p>
                        <span>Total_PV</span>
                        <input class="total_pv" type="text" disabled :value="input_opt['Total_PV'] || 0">
                    </p>
                    <p>
                        <span>Total_NR</span>
                        <input class="total_nr" type="text" disabled :value="input_opt['Total_NR'] || 0">
                    </p>
                </div>
                <div class="info">
                    <div>
                        <p>
                            <span>S_nylon</span>
                            <input type="text" class="s_nylon" :value="input_opt['S_Nylon'] || 0" disabled>
                        </p>
                        <p>
                            <span>Oper</span>
                            <input type="text" class="oper_name" disabled :value="input_opt['Oper']">
                        </p>
                        <p>
                            <span>System Total</span>
                            <input type="text" class="system_total" disabled :value="m_sys_total">
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>B_nylon</span>
                            <input type="text" class="b_nylon" disabled :value="input_opt['B_Nylon'] || 0">
                        </p>
                        <p>
                            <span>Date</span>
                            <input type="text" class="date" disabled v-model=" input_opt['Date'] ? input_opt['Date'].substring(0,10):input_opt['Date']">
                        </p>
                        <p>
                            <span>Grand Total</span>
                            <input type="text" class="grand_total" disabled :value="m_gtotal">
                        </p>
                    </div>
                    <div>
                        <p>
                            <span>Aera</span>
                            <input type="text" class="aera" disabled v-model="input_opt['Aera']">
                        </p>
                        <p>
                            <span>Debit</span>
                            <input type="number" class="debit" v-model="input_opt['Debit']">
                        </p>
                        <p>
                            <span>Cash(NR)</span>
                            <input type="text" class="cash_nr" disabled v-model="input_opt['Cash(NR)']">
                        </p>
                        <button class="btn btn-default size-S" style="background: #fff;" @click="open_cash_date()">...</button>
                    </div>
                    <div>
                        <p>
                            <span>Kits</span>
                            <input type="number" class="kits" v-model="input_opt['Kits']">
                        </p>
                        <p>
                            <span>D/Tsfer</span>
                            <input type="number" class="d_tsfer" v-model="input_opt['D/Tsfer']">
                        </p>
                        <p>
                            <span>Bank Deposit</span>
                            <input type="number" class="bank_deposit" disabled :value="input_opt['Bank_Deposit']">
                        </p>
                        <div class="" style="width: 20px; height: 17px; border: 1px solid #ccc; margin-right: 5px;">...</div>
                        <div class="" style="width: 20px; height: 17px; border: 1px solid #ccc;">DIS</div>
                    </div>
                    <div>
                        <p>
                            <span>UNitPRICE</span>
                            <input type="text" class="unit_price" :value="input_opt['UnitPrice'] || 4000" disabled>
                        </p>
                        <p>
                            <span>Cash(usd)</span>
                            <input type="number" class="cash_usd" v-model="input_opt['Cash(usd)']">
                        </p>
                        <p>
                            <span>Result</span>
                            <input type="text" class="result" :value="m_result" disabled>
                        </p>
                        <p>
                            <span>Status</span>
                            <input type="text" class="status" :value="input_opt.ReportStatus" disabled style="width: 30px;">
                        </p>
                    </div>
                </div>
            </div>
            <div class="right operate">
                <button class="btn btn-primary-outline" @click="UpdateBig_SC()">UpdateBig SC</button>
                <br>
                <button class="btn btn-primary-outline">TransferBoorrow</button>
                <br>
                <button class="btn btn-primary-outline" @click="open_return_borrowed()">Deductborrowed</button>
                <br>
                <button class="btn btn-primary-outline" @click="WentToWareHouse()">WentToWareHouse</button>
                <br>
                <button class="btn btn-primary-outline" @click="revert_stcok()">RevertFromStcok</button>

            </div>
        </div>
    </div>
    <div id="cash_data" style="display: none">
        <div class="cash_data_top" style="padding: 5px;">
            <span>编号：</span> <input type="text" disabled v-model="cash_groupid">
            <span>时间：</span> <input type="text" disabled v-model="cash_time">
            <span>SC：</span> <input type="text" disabled v-model="cash_sc">
            <span>Total：</span> <input type="text" disabled v-model="cash_total">
            <br>
            <span>Amount：</span> <input type="text" v-model="cash_amount">
            <button @click="del_cash()" class="btn btn-danger  " style="margin-left: 10px;margin-top: 5px;">DELETE</button>
            <button @click="add_cash()" class="btn btn-success  " style="margin-left: 10px;margin-top: 5px;">ADD</button>

        </div>
        <div class="list_data">
            <table class="table table-border table-bordered table-bg" style="width: 700px; background: #fff;">
                <thead>
                    <tr>
                        <th>GroupID</th>
                        <th>CashID</th>
                        <th>ShopNo</th>
                        <th>Amount</th>
                        <th>RealDate</th>
                        <th>Oper</th>
                        <th>Memo</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(g,index) in cash_data.list" :class="{'tr_bground' : index == active_index }" @click="click_select(index,g.CashID)">
                        <td>{{g.GroupID}}</td>
                        <td>{{g.CashID}}</td>
                        <td>{{g.ShopNo}}</td>
                        <td>{{g.Amount}}</td>
                        <td>{{g.RealDate.substring(0,19)}}</td>
                        <td>{{g.Oper}}</td>
                        <td>{{g.Memo}}</td>
                    </tr>
                    <tr v-if="!!!cash_data.list">
                        <td colspan="7">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  
    <div class="return_borrowed" id="return_borrowed" style="display: none; margin-bottom: 15px;">
        <div class="return_top">
            <div>
                <button class="btn  btn-primary-outline size-S">打印扣货PrintdeductProductForDistributor</button>
                <p>
                    <span>S</span>
                    <input type="text">
                </p>
                <p>
                    <span>B</span>

                    <input type="text">
                </p>
                <p>
                    <span>Region</span>
                    <input type="text">
                </p>
            </div>
            <div class="condition">
                <p>
                    <span>SC</span>
                    <input type="text" style="width: 40px">
                </p>
                <p>
                    <span>GID</span>
                    <input type="text">
                </p>
                <p>
                    <span>from</span>
                    <input type="text" class="Wdate" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                </p>
                <p>
                    <span>to</span>
                    <input type="text" class="Wdate" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                </p>
                <p>
                    <span>SC</span>
                    <input type="text" style="width: 40px">
                </p>
                <button class="btn btn-primary-outline  size-S">查询Search</button>
                <button class="btn btn-primary-outline  size-S">新借货New Borrow</button>
            </div>
        </div>
        <div class="record">
            <div class="re_left">
                <div class="borrow_record" style="height: 350px; overflow: auto; background: #ccc; padding: 4px 0;">
                    <table class="table table-border table-bordered table-bg " id="p_list" style="width:1000px;  background: #fff;" v-if="Report_Manage_data">
                        <thead>
                            <tr>
                                <th>GID</th>
                                <th>Select</th>
                                <th>ProductNaira</th>
                                <th>Kits</th>
                                <th>TotalMoney</th>
                                <th>PayCash</th>
                                <th>PayTeller</th>
                                <th>Totalpay</th>
                                <th>PaidPercent</th>
                                <th>SC</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(g,$index) in Report_Manage_data">
                                <td>{{g.GroupID}}</td>
                                <td>{{g.SC}}</td>
                                <td>{{g.Status}}</td>
                                <td>{{g.Kits}}</td>
                                <td>{{g.Total}}</td>
                                <td>{{g.Cash}}</td>
                                <td>{{g.Teller}}</td>
                                <td>{{g.Debit}}</td>
                                <td>{{g.Trance}}</td>
                                <td>{{g.Region}}</td>
                                <td>{{g.BV}}</td>
                                <td>{{g.BV}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="">
                    <input type="checkbox" name="" id="">SelectAll
                    <span>{{}}</span>
                    <button class="btn btn-primary-outline size-S">选完单击换货ReturnAfterSelect</button>

                </div>
                <div class="re_bottom" style="background: #ccc; height: 200px; padding: 4px 0; overflow: auto;">
                    <table class="table table-border table-bordered table-bg " id="p_list" style=" background: #fff;">
                        <thead>
                            <tr>
                                <th>PNO</th>
                                <th>PNAME</th>
                                <th>RemainBorrowedQty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="re_right">
                <div class="deduct_borrow_from_sale" style="height: 350px; overflow: auto; background: #ccc; padding: 4px 0;">
                    <table class="table table-border table-bordered table-bg " id="p_list" style="width: 700px; background: #fff;" v-if="Report_Manage_data">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Sale</th>
                                <th>Kits</th>
                                <th>Toreturn</th>
                                <th>balance</th>
                                <th>NewborrowQty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(g,$index) in Report_Manage_data">
                                <td>{{g.GroupID}}</td>
                                <td>{{g.SC}}</td>
                                <td>{{g.Status}}</td>
                                <td>{{g.Kits}}</td>
                                <td>{{g.Total}}</td>
                                <td>{{g.Cash}}</td>
                                <td>{{g.Teller}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <div class="kits_info">
                        <p>
                            <span>SaleKits</span>
                            <input type="text">
                        </p>
                        <p>
                            <span>BorrowedKits</span>
                            <input type="text">
                        </p>
                        <p>
                            <span>BalanceKits</span>
                            <input type="text">
                        </p>
                    </div>
                    <div class="Release">
                        <p>
                            <span>ReleasCash</span>
                            <input type="text">
                        </p>
                        <p>
                            <span>ReleaseTeller</span>
                            <input type="text">
                        </p>
                        <p>
                            <span>TotalRelease</span>
                            <input type="text">
                        </p>
                    </div>
                </div>
                <div class="operation">
                    <button class="btn btn-success size-S">业绩扣货DeductProduct</button>
                    <button class="btn btn-danger size-S">取消扣货CancelDeduct</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(function() {
            get_region(function(e) {
                    var data = [];
                    e.forEach(element => {
                        manage_main.region.push(element.result) //regionLock
                      
                    });
                })
                // get_user_info(function(ret) {
                //    $('.oper_name').val(ret.username)
                // })

            if (!!get_cache("user_info")) {
                $('.oper_name').val(JSON.parse(get_cache("user_info")).username)
            }

            $(".sub_sc div p input").keyup(function() {
                if ($(this).val().length > 10) {
                    var x = $(this).parent('p').index() + 2;
                    $(`.sub_sc div p:nth-child(${x}) input`).removeAttr('disabled')
                }
            })

            $('.Wdate').val(
                get_local_time()
            )

            set_time_refresh(com_data()) //定时刷新
        })


        var manage_main = new Vue({
            el: "#manage_report",
            data: {
                index_counter: 0, // 计算点击 复制的位置
                region: [], //区域 地区，
                //region_top:'NONE',
                non_month: '',
                print_twoday: '',
                //region_index:'NONE'
                input_opt: {}, // 页面各种默认值
                Report_Manage_data: [], //查询分专卖店编号列表
                time: '', //当前时间
                public_fade: false, //  点击生成专卖店汇总按钮
                public_data: {}, // 点击生成专卖店汇总按钮 后的数据 
                
                m_sys_total:'',
                m_result:'',
                m_gtotal:''
            },
            mounted() {

            },
            watch: {
                input_opt: {
                    deep: true,
                    handler(newval, oldval) {
                        console.log(oldval.System_Total)
                        this.m_sys_total= newval.Kits * newval.UnitPrice + newval.System_Total*1;

                        if(!!!newval.DebitMoney){
                            newval.DebitMoney=0
                        }
                        if(!!!newval["D/Tsfer"]){
                            newval["D/Tsfer"]=0
                        }
                        if(!!!newval["Cash(usd)"]){
                            newval["Cash(usd)"]=0
                        }
                        if(!!!newval["Cash(NR)"]){
                            newval["Cash(NR)"]=0
                        }
                        if(!!!newval.Grand_total){
                            newval.Grand_total=0
                        }

                        this.m_gtotal= newval.DebitMoney * 1 + newval["D/Tsfer"] * 1 + newval["Cash(usd)"] * 1 + newval["Cash(NR)"] * 1+newval.Grand_total*1;

                        this.m_result=this.m_gtotal+newval.Result*1-newval.Kits * newval.UnitPrice;

                    }
                },

            },
            methods: {
                // open_region_lock() {
                //     open_html('Region_Lock', '#region_lock')
                // },
                open_return_borrowed() {
                    open_html("Return_Borrowed", '#return_borrowed')
                },
                query_shop_no() { //查询分专卖店编号
                    var xx = com_data()
                    manage_init(xx)
                },
                summary_shop() { //生成大专卖店汇总
                    if(!!$('.sc_a').val() && !!$('.sc_b').val() && !!$('.sc_c').val() && !!$('.sc_d').val() && !!$('.sc_e').val() && !!$('.sc_f').val() && !!$('.sc_g').val() && !!$('.sc_h').val() ){
                   
                        var xx = com_data();
                        generation_shop_summary(xx);
                    }else{
                        showErr(config_txt.report_num.zn,config_txt.report_num.en)
                    }
                },
                month() { // 月汇总
                    var xx = com_data();
                    month_summary(xx);
                },
                same_day_summary() { // 日汇总
                    var xx = com_data();
                    day_summary(xx);
                },
                region_store_summary() { //区域店 汇总
                    var xx = com_data();
                    regional_store(xx)
                },
                WentToWareHouse() {
                    var xx = com_data();
                    GotoWarehouse(xx)
                },

                UpdateBig_SC() {
                    var xx = com_data();
                    updatebigsc(xx)
                },
                revert_stcok() {
                    var xx = com_data()
                    RevertFromStcok(xx);
                },
                clear() {
                    $(".sub_sc input").val('')
                    $(".sub_sc input").attr('disabled', 'disabled');
                    $(".sub_sc div p:nth-child(1) input").removeAttr('disabled');
                    this.index_counter = 0;
                },
                click_input(gid,sc) { //点击将分组 id 赋值到 input 里

                    this.index_counter = $(".sub_sc div p input[disabled='disabled']:first").parent('p').index()
                    this.index_counter++;
                    $(`.sub_sc div p:nth-child(${this.index_counter-1}) input`).val(gid).attr("data-sc",sc).removeAttr('disabled')
                    $(`.sub_sc div p:nth-child(${this.index_counter}) input`).removeAttr('disabled');
                },
                open_cash_date() {
                    if(!!$('.sc_a').val()){
                        cash_data.cash_groupid=$('.bigsc_groupid').val().trim();   
                        cash_data.cash_sc=$('.bigsc_groupid').val().slice(-3)
                        cash_data.cash_time=$(".date").val().substring(0,10)
                        open_html("CashData", "#cash_data", "CashData");
                        cash_data.get_cash_data()
                    }
                   
                }


            }
        })
       
        var cash_data = new Vue({
            el: '#cash_data',
            data: {
                cash_data: {},
                cash_groupid: "",
                cash_time: "",
                cash_sc: "",
                cash_total: 0,
                active_index: -1,
                cashid: 0,
                cash_amount: '0',
                no_data:config_txt.no_data.zn,
                lang_txt: get_page_txt('Cash_data'), // 当前页面的文字信息
                obj_txt: {}, // 对象拼接
            },
            created: function() {
                //this.get_cash_data();
                this.lang_toggle()
            },
            watch:{
                cash_total(newval,oldval){
                    manage_main.input_opt["Cash(NR)"] =newval;
                }
            },
            methods: {
                lang_toggle() {
                    this.obj_txt = splicing_obj(this.lang_txt)
                },
                add_cash() {
                    var url = '/index.php?s=desktop/Front_Desk_Cash/Add_Cash';
                    var data = {};
                    data['usertoken'] = get_cache('usertoken');
                    data['GroupID'] = this.cash_groupid;
                    data['ShopNO'] = this.cash_sc;
                    data['RealDate'] = this.cash_time;
                    data['Amount'] = this.cash_amount;
                    ajax1(url, data, function(e) {
                        if (e.stat == 1) {
                            cash_data.get_cash_data()
                        } else {
                            showErr(e.errmsg, e.errmsg_en, e.errcode)
                        }
                    })
                },
                del_cash() {
                    var url = '/index.php?s=desktop/Front_Desk_Cash/Delete_Cash';
                    var data = {};
                    data['usertoken'] = get_cache('usertoken');
                    data['CashID'] = this.cashid;
                    var txt = `<div>${config_txt.del_cash.en}</div>`;
                    firm('确认删除', txt, function() {
                            layer.close(layer.index);
                            ajax1(url, data, function(e) {
                                if (e.stat == 1) {
                                    success(e.data)
                                    setTimeout(function() {
                                        cash_data.get_cash_data()
                                        cash_data.active_index = -1;
                                        cash_data.cashid = 0;
                                    }, 2000)

                                } else {
                                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                                }
                            })
                        }
                    )
                },
                get_cash_data() {
                    var url = '/index.php?s=desktop/Front_Desk_Cash/CashData';
                    var data = {};
                    data['usertoken'] = get_cache('usertoken');
                    data['GroupID'] = this.cash_groupid;
                    data['ShopNO'] = this.cash_sc;
                    data['RealDate'] = this.cash_time;
                    ajax(url, data, function(e) {
                        if (e.stat == 1) {
                            cash_data.cash_data = e.data;
                            cash_data.cash_total = e.data.Total;
                        } else {
                            showErr(e.errmsg, e.errmsg_en, e.errcode)
                        }
                    })
                },
                click_select:function(index,cid){
                    this.active_index =index;
                    this.cashid=cid;
                }
            }


        })


        function manage_init(opt) { //查询分专卖店编号
            var url = "/index.php?s=desktop/Report_Manage/button8_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                    manage_main.Report_Manage_data = e.data.list
                    manage_main.input_opt = $.extend({}, e.data.input)
                    manage_main.public_fade = false;
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }

        function generation_shop_summary(opt) { //生成大专卖店汇总
            var url = "/index.php?s=desktop/Report_Manage/button1_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                   
                    manage_main.input_opt = $.extend({}, e.data.input);
                    manage_main.public_fade = true;
                    manage_main.public_data = e.data; //GeT_ReportToForm_ForBIGSC.Get_Result_Mem_Info
                  
                    success(e.data.err)
                   // set_local_cache("bigscgroup_box",JSON.stringify(e.data))  //生成大专卖店的数据添加缓存
                   // creatIframe("./temp/sale_report.html?biggroup=1",'OrderPay')

                    // manage_main.clear()
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }

            })
        }

        function month_summary(opt) { //大专卖店汇总 月汇总
            var url = "/index.php?s=desktop/Report_Manage/button3_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                    // manage_main.Report_Manage_data = e.data.list
                    //Object.assign({},manage_main.input_opt,e.data.input)
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }




        function day_summary(opt) { //大专卖店汇总 日汇总
            var url = "/index.php?s=desktop/Report_Manage/button2_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                    // manage_main.Report_Manage_data = e.data.list

                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }

        function regional_store(opt) { //区域店汇总
            var url = "/index.php?s=desktop/Report_Manage/button5_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                    // manage_main.Report_Manage_data = e.data.list
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }

        function GotoWarehouse(opt) {
            var url = "/index.php?s=desktop/Report_Manage/button13_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                    // manage_main.Report_Manage_data = e.data.list
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }

        function updatebigsc(opt) {
            var url = "/index.php?s=desktop/Report_Manage/button7_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                    // manage_main.Report_Manage_data = e.data.list

                    manage_main.input_opt = $.extend({}, e.data.input);
                    success(e.data.Update_FrontDesk_BigSC_Report.data)
                    manage_main.clear()
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }

        function RevertFromStcok(opt) { //撤销
            var url = "/index.php?s=desktop/Report_Manage/button11_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                    // manage_main.Report_Manage_data = e.data.list
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }

        function set_time_refresh(opt) { //设置 定时 刷新
            var url = "/index.php?s=desktop/Report_Manage/timer1_Tick";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            var optin = $.extend({}, data, opt)
            ajax(url, optin, function(e) {
                if (e.stat == 1) {
                    // manage_main.Report_Manage_data = e.data.list
                    manage_main.input_opt = $.extend({}, e.data);
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }


        function com_data() { //公用参数
            var data = {};
            data['SC_A'] = $('.sc_a').val();
            data['SC_B'] = $('.sc_b').val();
            data['SC_C'] = $('.sc_c').val();
            data['SC_D'] = $('.sc_d').val();
            data['SC_E'] = $('.sc_e').val();
            data['SC_F'] = $('.sc_f').val();
            data['SC_G'] = $('.sc_g').val();
            data['SC_H'] = $('.sc_h').val();
            data['From'] = $('.form_time').val();
            data['To'] = $('.to_time').val();
            data['Region'] = $('.region-top').val();
            data['BigSCGroupID'] = $(".bigsc_groupid").val();
            data['Total_BV'] = $(".total_bv").val();
            data['Total_PV'] = $(".total_pv").val();
            data['Total_NR'] = $(".total_nr").val();
            data['S_Nylon'] = $(".s_nylon").val();
            data['B_Nylon'] = $(".b_nylon").val();
            data['Aera'] = $('.region-top').val();
            data['Kits'] = $(".kits").val();
            data['UnitPrice'] = $(".unit_price").val();
            data['Oper'] = $('.oper_name').val();
            data['Date'] = $('.date').val();
            data['Debit'] = $(".debit").val();
            data['D/Tsfer'] = $(".d_tsfer").val();
            data['Cash(usd)'] = $(".cash_usd").val();
            data['System_Total'] = $(".system_total").val();
            data['Grand_Total'] = $(".grand_total").val();
            data['Cash(NR)'] = $(".cash_nr").val();
            data['Bank_Deposit'] = $(".bank_deposit").val();
            data['Result'] = $(".result").val();
            data['ReportStatus'] = $('.status').val();
            data['Region_index'] = $('.region_index').val();
            data['Non_Month'] = manage_main.non_month ? "Non-Month" : '';
            data['PrintTwoday'] = manage_main.print_twoday ? "PrintTwoday" : '';
            return data;
        }
    </script>

</body>


</html>