<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }

        .cunt {
            float: left;
            margin: 0 5px;
            min-width: 38px;
            height: 38px;
            line-height: 38px;
            background: #fff;
            border: 1px solid #ebebeb;
            color: #bdbdbd;
            font-size: 14px;
        }
        .table-bg thead th{word-break: keep-all;}
        table tr td{max-height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
        .search_txt{justify-content: space-between;}
        .search_txt div p{min-width: 64px;text-align: center;}
    </style>
</head>

<body>
    <div id="main" v-cloak class="market_shop">
        <div class="search_txt">
            <div>
                <p>{{obj_txt.apply_person}}</p>
                <input type="text" class="apply_person" :placeholder="obj_txt.apply_person">
            </div>
            <div>
                <p>{{obj_txt.apply_status}}</p>
                <select name="" id="" class="apply_status">
                    <option value="">{{obj_txt.apply_status}}</option>
                    <option value="0">{{obj_txt.wait_approve}}</option>
                    <option value="1">{{obj_txt.Adopt}}</option>
                    <option value="2">{{obj_txt.Refuse}}</option>
                </select>
            </div>
            <div>
                <p>{{obj_txt.Start_time}}</p>
                <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate start_time">
            </div>
            <div>
                <p>{{obj_txt.End_time}}</p>
                <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate end_time">
            </div>
            <input type="button" id="" name="" :value="obj_txt.BtnSearch" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="search_btn()">

            <input type="button" id="" name="" :value="obj_txt.Apply_shop" class="btn btn-primary btn-radius" style="height: 30px; margin-left: 15px;"
                @click="open_apply_form()">

        </div>
        <div class="shop_list">
            <table class="table table-border table-bordered table-bg" style="width: 95%; margin: 0 auto; margin-bottom: 10px;">
                <thead>
                    <tr>
                        <th style="width: 170px;">{{obj_txt.Shopno}}</th>
                        <th style="width: 100px;">{{obj_txt.Status}}</th>
                        <th style="width: 100px;">{{obj_txt.Phone}}</th>
                        <th style="width: 120px;">{{obj_txt.apply_person}}</th>
                        <th style="width: 90px;">{{obj_txt.apply_status}}</th>
                        <th style="width: 120px;">{{obj_txt.apply_info}}</th>
                        <th>{{obj_txt.OwnerName}}</th>
                        <th>{{obj_txt.Region}}</th>
                        <th>{{obj_txt.Oper}}</th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(s,index) in shop_list" v-if='!!shop_list.length'>
                        <td style="width: 170px;">{{s.Shopno}}</td>
                        <td style="width: 100px;">{{status_txt(s.Status)}}</td>
                        <td style="width: 100px;">{{s.Phone}}</td>
                        <td style="width: 120px;">{{s.apply_person}}</td>
                        <td style="width: 90px;">{{apply_status_txt(s.apply_status)}}</td>
                        <td style="width: 120px;">{{s.apply_info}}</td>
                        <td>{{s.OwnerName}}</td>
                        <td>{{s.Region}}</td>
                        <td>{{s.Oper}}</td>
                        <td>
                            <a title="编辑" class="btn btn-primary size-S radius" href="javascript:;" @click="open_edit_shop(s)"
                                style="text-decoration: none;">
                                {{obj_txt.Open_edit}}
                                <i class="Hui-iconfont Hui-iconfont-edit" style="color: #fff;"></i>
                            </a>
                            <a title="查看" class="btn btn-primary size-S radius" href="javascript:;" @click="open_detail_shop(s.Shopno)" style="text-decoration: none;">
                                {{obj_txt.Open_detail}}
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: #fff"></i>
                            </a>
                        </td>
                    </tr>
                    <tr v-if="fade">
                        <td colspan="9">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="my_page m-style">

            </div>
        </div>
    </div>
    <div id="edit_shop" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog ">
            <div class="modal-content">
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Shopno}}
                        </p>
                        <input type="text" v-model="Shopno">
                    </div>
                    <div>
                        <p>
                            {{obj_txt.Status}}
                        </p>
                        <select name="" id="" v-model="Status">
                            <option value="0">{{obj_txt.Disable}}</option>
                            <option value="1">{{obj_txt.Available}}</option>
                        </select>
                    </div>
                </div>

                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.RegionPerson}}
                        </p>
                        <select name="" id="" v-model="RegionPerson">
                                <option :value="r" v-for="r in region_con">{{r}}</option>
                        </select>
                    </div>
                    <div>
                        <p>
                            {{obj_txt.KediID}}
                        </p>
                        <input type="text" name="" id="" v-model="KediID">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.OwnerName}}
                        </p>
                        <input type="text" v-model="OwnerName">
                    </div>
                    <div>
                        <p>
                            {{obj_txt.State}}
                        </p>
                       
                        <select name="" id="" v-model="State">
                            <option value="CHINA">CHINA</option>
                                <option value="USA">USA
                                </option>
                                <option value="BRITAIN">BRITAIN</option>
                                <option value="NIGERIA">NIGERIA</option>
                                <option value="GHANA">GHANA</option>
                                <option value="BENIN">BENIN</option>
                                <option value="SOUTH_ARAICA">SOUTH_ARAICA</option>
                                <option value="OTHERS">OTHERS</option>
                        </select>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Phone}}
                        </p>
                        <input type="text" v-model="Phone">
                    </div>
                    <div>
                        <p>
                            {{obj_txt.Address}}
                        </p>
                        <input type="text" name="" id="" v-model="Address">
                    </div>
                </div>

                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.OpenDate}}
                        </p>
                        <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate OpenDate">
                    </div>
                    <div>
                        <p>
                            {{obj_txt.Preparedby}}
                        </p>
                        <input type="text" name="" id="" v-model="Preparedby">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                                {{obj_txt.Memo}}
                        </p>
                        <input type="text" v-model="Memo">
                    </div>
                    <div>
                        <p>
                            {{obj_txt.Region}}
                        </p>
                        <input type="text" name="" id="" v-model="Region">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Direction}}
                        </p>
                        <input type="text" v-model="Direction">
                    </div>
                </div>
                <div class="btn_con">
                    <input type="button" class="btn btn-success BtnUpdate" v-on:click='edit_shop()' :value="obj_txt.Submit">
                    <input type="button" class="btn btn-default BtnClose" :value="obj_txt.BtnClose" data-dismiss="modal" aria-hidden="true">
                </div>
            </div>

        </div>
    </div>

    <div id="apply_shop" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog ">
            <div class="modal-content">
                <form>
                    <div class="model_list">
                        <div>
                            <p class="">
                                {{obj_txt.Shopno}}
                            </p>
                            <input type="number" v-model="Shopno">
                        </div>
                        <div>
                            <p class="">
                                {{obj_txt.RegionPerson}}
                            </p>
                            <select name="" id="" v-model="RegionPerson">
                                <option :value="r" v-for="r in region_con">{{r}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="model_list">
                        <div>
                            <p class="">
                                {{obj_txt.KediID}}
                            </p>
                            <input type="text" v-model="KediID">
                        </div>
                        <div>
                            <p class="">
                                {{obj_txt.OwnerName}}
                            </p>
                            <input type="text" v-model="OwnerName">
                        </div>
                    </div>

                    <div class="model_list">
                        <div>
                            <p class="">
                                {{obj_txt.State}}
                            </p>
                            <select name="" id="" v-model="State">
                                <option value="CHINA">CHINA</option>
                                <option value="USA">USA
                                </option>
                                <option value="BRITAIN">BRITAIN</option>
                                <option value="NIGERIA">NIGERIA</option>
                                <option value="GHANA">GHANA</option>
                                <option value="BENIN">BENIN</option>
                                <option value="SOUTH_ARAICA">SOUTH_ARAICA</option>
                                <option value="OTHERS">OTHERS</option>
                            </select>
                        </div>
                        <div>
                            <p class="">
                                {{obj_txt.Phone}}
                            </p>
                            <input type="text" v-model="Phone">
                        </div>
                    </div>
                    <div class="model_list">
                        <div>
                            <p class="">
                                {{obj_txt.Address}}
                            </p>
                            <input type="text" v-model="Address">
                        </div>
                        <div>
                            <p class="">
                                {{obj_txt.OpenDate}}
                            </p>
                            <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate open_date">

                        </div>
                    </div>
                    <div class="model_list">
                        <div>
                            <p class="">
                                {{obj_txt.Preparedby}}
                            </p>
                            <input type="text" v-model="Preparedby">
                        </div>
                        <div>
                            <p class="">
                                {{obj_txt.Memo}}
                            </p>
                            <input type="text" v-model="Memo">
                        </div>
                    </div>
                    <div class="model_list">
                        <div>
                            <p class="">
                                {{obj_txt.Region}}
                            </p>
                            <input type="text" v-model="Region">
                        </div>
                        <div>
                            <p class="">
                                {{obj_txt.Direction}}
                            </p>
                            <input type="text" v-model="Direction">
                        </div>
                    </div>
                    <div class="btn_con">
                        <input type="button" class="btn btn-success BtnUpdate" v-on:click="add_apply_shop" :value="obj_txt.Submit">
                        <input type="button" class="btn btn-default BtnClose" :value="obj_txt.BtnClose" data-dismiss="modal" aria-hidden="true">
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div id="detail_shop" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog ">
            <div class="modal-content">
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Shopno}}
                        </p>
                        <input type="text" :value="data_detail.Shopno" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.RegionPerson}}
                        </p>
                        <input type="text" :value="data_detail.RegionPerson" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.KediID}}
                        </p>
                        <input type="text" :value="data_detail.KediID" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.OwnerName}}
                        </p>
                        <input type="text" :value="data_detail.OwnerName" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.State}}
                        </p>
                        <input type="text" :value="data_detail.State" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.Phone}}
                        </p>
                        <input type="text" :value="data_detail.Phone" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Address}}
                        </p>
                        <input type="text" :value="data_detail.Address" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.OpenDate}}
                        </p>
                        <input type="text" :value="data_detail.OpenDate ? data_detail.OpenDate.substring(0,19) : ''" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.CloseDate}}
                        </p>
                        <input type="text" :value="data_detail.CloseDate" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.Add_Date}}
                        </p>
                        <input type="text" :value="!!data_detail.Add_Date?data_detail.Add_Date.substring(0, 19) : ''" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Preparedby}}
                        </p>
                        <input type="text" :value="data_detail.Preparedby" disabled>
                    </div>
                    <div>
                        <p class="">
                            {{obj_txt.Memo}}
                        </p>
                        <input type="text" :value="data_detail.Memo" disabled>
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.UpdateDate}}
                        </p>
                        <input type="text" :value="!!data_detail.UpdateDate?data_detail.UpdateDate.substring(0,19) : ''" disabled>
                    </div>

                </div>
                <div class="btn_con" style="text-align: right;">
                    <input type="button" class="btn btn-default BtnClose" :value="obj_txt.BtnClose" data-dismiss="modal" aria-hidden="true">
                </div>
            </div>

        </div>
    </div>
    <script>
        var pagecounts;
        var page = 1;
        var obj;
        var pagesize = 30;
        var pagestat = 0;
        var user_token = get_cache('usertoken');
      
        var vm = new Vue({
            el: '#main',
            data: {
                shop_list: [],
                fade: false,
                no_data: config_txt.no_data.zn,
                lang_txt: get_page_txt('Market_Shop'), // 当前页面的文字信息
                obj_txt: {}, // 对象拼接
            },
            created() {
                init_data()
            },
            mounted() {
                this.lang_toggle()
                // edit_shop.obj_txt=splicing_obj(this.lang_txt);
                // apply_shop.obj_txt=splicing_obj(this.lang_txt);
                // detail_shop.obj_txt=splicing_obj(this.lang_txt);
            },

            methods: {
                lang_toggle() {
                    this.obj_txt = splicing_obj(this.lang_txt)
                },
                search_btn() {
                    page = 1;
                    obj = {};
                    vm.fade = false;
                    obj['limit'] = [0, pagesize].join(","); //条目数
                    get_shop(obj)
                },
                open_edit_shop(obj) {
                    
                    if (obj.apply_status == 0) {
                        showErr('该条信息正在审核中,暂时无法编辑...');
                        return
                    }
                    edit_shop.Shopno = $.trim(obj.Shopno);
                    edit_shop.Status = $.trim(obj.Status);
                    edit_shop.RegionPerson = $.trim(obj.RegionPerson);
                    edit_shop.KediID = $.trim(obj.KediID);
                    edit_shop.OwnerName = $.trim(obj.OwnerName);
                    edit_shop.State = $.trim(obj.State);
                    edit_shop.Phone = $.trim(obj.Phone);
                    edit_shop.Address = $.trim(obj.Address);
                    edit_shop.Preparedby = $.trim(obj.Preparedby);
                    edit_shop.Memo = $.trim(obj.Memo);
                    edit_shop.Region = $.trim(obj.Region);
                    edit_shop.Direction = $.trim(obj.Direction);

                    $(".OpenDate").val(obj.OpenDate.substring(0,16))
                    $('#edit_shop').modal('show')
                },
                open_detail_shop(s_no) {
                    detail_shop.Shopno = s_no;
                    $('#detail_shop').modal('show');
                    detail_shop.get_detail()
                },
                status_txt(type) {
                    let a = "";
                    switch (type) {
                        case "0":
                            a = "禁用"
                            break;
                        case "1":
                            a = "可用"
                            break;
                    }
                    return a;
                },
                apply_status_txt(type) {
                    let a = "";
                    switch (type) {
                        case "0":
                            a = "待审核"
                            break;
                        case "1":
                            a = "通过"
                            break;
                        case "2":
                            a = "拒绝"
                            break;
                    }
                    return a;
                },
                open_apply_form() { //打开申请店铺表单
                    $("#apply_shop").modal('show')
                }


            }
        })

        var edit_shop = new Vue({
            el: "#edit_shop",
            data: {
                Shopno: '',
                Status: '',
                RegionPerson: "",
                KediID: '',
                OwnerName: '',
                State: '',
                Phone: '',
                Address: '',
                Preparedby: '',
                Memo: '',
                Region: '',
                Direction: '',
                region_con: get_local_cache('region_data').split(','),
                obj_txt: vm.obj_txt
            },
            methods: {
                edit_shop() {
                    var url = "/index.php?s=desktop/Market_Shop/edit";
                    var data = {};
                    data['usertoken'] = user_token;
                    data["Shopno"] = this.Shopno;
                    data["Status"] = this.Status;

                    data["RegionPerson"] = this.RegionPerson;
                    data["KediID"] = this.KediID;
                    data["OwnerName"] = this.OwnerName;
                    data["Phone"] = this.Phone;
                    data["Address"] = this.Address;
                    data["Preparedby"] = this.Preparedby;
                    data["Memo"] = this.Memo;
                    data["Region"] = this.Region;
                    data["OpenDate"] = $('.OpenDate').val()

                    ajax(url, data, function (retjson) {
                        if (retjson.stat == 1) {
                            success('已提交');
                           // edit_shop.update_shop(retjson.data)
                           $("#edit_shop").modal('hide');
                            obj = {};
                            obj['limit'] = [(page - 1) * pagesize, pagesize].join(","); //条目数
                            get_shop(obj)
                        } else {
                            showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                            $("#edit_shop").modal('hide')
                        }
                    })
                },

                update_shop(Shopno){
                    var url="/index.php?s=desktop/Market_Shop/update";
                    var data={};
                    data['usertoken']=user_token;
                    data['Shopno']=Shopno;
                    data['apply_status']=0;
                    ajax(url,data,function(retjson){
                        if (retjson.stat == 1) {
                            success('已提交');
                            $("#edit_shop").modal('hide');

                           
                        } else {
                            $("#edit_shop").modal('hide');
                        }
                    })
                }
            }

        })

        var apply_shop = new Vue({
            el: "#apply_shop",
            data: {
                Shopno: "",
                RegionPerson: get_local_cache('region_data').split(',')[0],
                KediID: '',
                OwnerName: '',
                State: '',
                Phone: '',
                Address: '',
                Preparedby: '',
                Memo: '',
                Region: '',
                Direction: '',
                region_con: get_local_cache('region_data').split(','),
                obj_txt: vm.obj_txt
            },

            methods: {
                add_apply_shop() {
                    if (!!!this.Shopno) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.Shopno)
                        return
                    }
                    if (!!!this.KediID) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.KediID)
                        return
                    }
                    if (!!!this.OwnerName) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.OwnerName)
                        return
                    }
                    if (!!!this.Phone) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.Phone)
                        return
                    }
                    if (!!!this.Address) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.Address)
                        return
                    }
                    if (!!!$('.open_date').val()) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.OpenDate)
                        return
                    }
                    if (!!!this.Preparedby) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.Preparedby)
                        return
                    }

                    if (!!!this.Memo) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.Memo)
                        return
                    }
                    if (!!!this.Region) {
                        showErr(this.obj_txt.Please_enter + " " + this.obj_txt.Region)
                        return
                    }
                    if (!!!this.Direction) {
                        showErr(this.obj_txt.Please_enter + "   " + this.obj_txt.Direction)
                        return
                    }


                    var url = "/index.php?s=desktop/Market_Shop/add";
                    var data = {};
                    data["usertoken"] = user_token;
                    data["Shopno"] = this.Shopno;
                    data["RegionPerson"] = this.RegionPerson;
                    data["KediID"] = this.KediID;
                    data["OwnerName"] = this.OwnerName;
                    data["State"] = this.State;
                    data["Phone"] = this.Phone;
                    data["Address"] = this.Address;
                    data["OpenDate"] = $('.open_date').val();
                    data["Preparedby"] = this.Preparedby;
                    data["Memo"] = this.Memo;
                    data["Region"] = this.Region;
                    data["Direction"] = this.Direction;
                    ajax(url, data, function (retjson) {
                        if (retjson.stat == 1) {
                            success('申请已提交');
                            setTimeout(function () {
                                $("#apply_shop").modal('hide');
                                obj = {};
                                obj['limit'] = [(page - 1) * pagesize, pagesize].join(","); //条目数
                                get_shop(obj)
                            }, 100)

                        } else {
                            showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                        }
                    })
                }
            }

        })
        var detail_shop = new Vue({
            el: "#detail_shop",
            data: {
                Shopno: '',
                data_detail: {},
                obj_txt: vm.obj_txt
            },
            methods: {
                get_detail() {
                    var url = "/index.php?s=desktop/Market_Shop/detail";
                    var data = {};
                    data["usertoken"] = user_token;
                    data["Shopno"] = this.Shopno;
                    ajax(url, data, function (retjson) {
                        if (retjson.stat == 1) {
                            detail_shop.data_detail = retjson.data
                        } else {
                            showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                        }
                    })
                }
            }

        })


        function init_data() {
            page = 1
            obj = {};
            pagestat = 0;
            obj['limit'] = [pagestat, pagesize].join(",");
            get_shop(obj)
        }

        function get_shop(obj) {
            $('.my_page').pagination({
                totalData: 0,
                pageCount: 0,
                current: 0
            })
            var url = "/index.php?s=desktop/Market_Shop/get_list";
            var data = {};
            data['usertoken'] = user_token;
            data['Oper'] = "";
            data['order'] = "Add_Date desc";
            data['apply_person'] = $('.apply_person').val();
            data['apply_status'] = $('.apply_status').val();
            data['start'] = $('.start_time').val();
            data['end'] = $('.end_time').val();
            var opt = $.extend({}, data, obj)
            ajax(url, opt, function (retjson) {
                if (retjson.stat == 1) {
                    vm.shop_list = retjson.data.list
                    pagecounts = retjson.data.count;
                    if (retjson.data.list.length == 0) {
                        vm.fade = true;
                    }

                    $('.my_page').pagination({
                        totalData: parseInt(pagecounts),
                        pageCount: Math.ceil(pagecounts / pagesize),
                        jump: true,
                        coping: true,
                        prevContent: '上页',
                        current: page,
                        nextContent: '下页',
                        callback: function (api) {
                            console.log(api.getCurrent())
                            page = api.getCurrent();
                            pagestat = pagesize * (api.getCurrent() - 1)
                            var x = {
                                'limit': [pagestat, pagesize].join(',')
                            };
                            var d = $.extend({}, x);

                            get_shop(d)
                        }
                    });
                    setTimeout(function () {
                        $('.my_page').append(
                            `<div href="javascript:;" class="cunt" style='padding: 0 4px;' >总记录数： ${retjson.data.count}</div>`
                        )

                        window.location.href = "#"
                    }, 500)
                } else {
                    showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                    $('.m-style').css('display', 'none');
                    vm.shop_list = [];

                }

            })
        }

        // function Parent() {
        //     this.x = 100;
        // }
        // Parent.prototype.getX = function () {
        //     console.log(this.x);
        // };

        // function Children() {
        //     Parent.call(this);
        //     this.y = 200;
        // }
        // Children.prototype = Object.create(Parent.prototype);
        // Children.prototype.constructor = Children;
        // Children.prototype.getY = function () {
        //     console.log(this.y);
        // };
    </script>


</body>

</html>