<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .progress-bar{width:100%;background-color:#efefef}

		.pb_span{width:;}
        .pb_span_width{width: 10%;}
		.pb_span2{background-color: #d9534f;}
		.pb_span.act{width: 10%;animation: pbspan 1.5s ease 1;}
		@keyframes pbspan{
			0%{
				width:0%
			}
			100%{
				width:10%;
			}
		}
    </style>
</head>

<body>
    <div id="pro_main" class="pd-10" v-cloak>
        <div class="top-nav">
            <input class="btn btn-primary size-M radius" type="button" value="<LastOne">
            <input class="btn btn-primary size-M radius" type="button" value="NextOne>">
        </div>

        <div class="bk-gray mt-10 pd-10 radius">
            <div class="cl mb-5 ">
                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>   Date:</span>
                        <input style="width:55%;height: 30px;border-color: rgb(221,221,221);" id=""  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
                    </div>
                    <div>
                        <span>SC/Card:</span>
                        <input style="width:55%;" type="text" class="input-text radius" placeholder="">
                    </div>
                </div>

                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>  Name:</span>
                        <input style="width:55%;" type="text" class="input-text radius" placeholder="">
                        <span class="btn btn-default radius">G</span>
                    </div>
                    <div>
                        
                        <span>SaleType:</span>
                        <select name="" style="width:55%;border-color: rgb(221,221,221);height: 30px;" class="radius" id="">
                            <option value=""></option>
                        </select>
                        <span class="btn btn-default radius">T</span>
                    </div>
                </div>
                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>PromoType:</span>
                        <select name="" style="width:55%;border-color: rgb(221,221,221);height: 30px;" class="radius" id="">
                            <option value=""></option>
                        </select>
                        <!-- <input style="width:55%;" type="text" class="input-text radius" placeholder=""> -->
                        <span @click="promotype_select($event)" class="btn btn-default radius">P</span>
                    </div>
                    <div>
                        
                        <span>GroupID:</span>
                        <input style="width:55%;" type="text" class="input-text radius" placeholder="">
                        <span style="opacity:0;" class="btn btn-default radius">E</span>
                    </div>
                </div>
                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>  Memo:</span>
                        <input style="width:55%;" type="text" class="input-text radius" placeholder="">
                    </div>
                    <div>
                        
                        <span>Search:</span>
                        <input style="width:35%;" type="text" class="input-text radius" placeholder="">
                        <span class="btn btn-default radius">Submit</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10 bk-gray pd-10 radius" style="height:400px;overflow-y:scroll;">
            <table class="table table-border table-bg" style="width:800px;">
                <thead>
                    <tr>
                        <th>ProductNO</th>
                        <th>Name</th>
                        <th>MemberPrice</th>
                        <th>StockQTY</th>
                        <th>说明Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="promoProduct_list.length" v-for="(item,index) in promoProduct_list" >
                        <td>{{item.ProductNO}}</td>
                        <td>{{item.CName}}</td>
                        <td>{{item.MemberPrice}}</td>
                        <td ref="td_ref_qty" @click="add_td_bg(item.index,$event)" @dblclick="i_qty($event)"><input id="td_ref_qty" style="position:relative;z-index:-1;border:none;width:100%;" type="text"></td>
                        <td ref="td_ref_memo" @dblclick="i_memo($event)"><input id="td_ref_memo" style="position:relative;z-index:-1;border:none;width:100%;" type="text"></td>
                    </tr>
                    <tr  v-if="!promoProduct_list.length">
                        <td colspan="5">暂无数据</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!--  -->


    <div id="PromoType" class='pd-10' style="display:none;">
        <div class="top-nav">
            Date:<input style="height: 30px;border-color: rgb(221,221,221);" id=""  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
            PromoName:<input style="width:100px;" type="text" class="input-text radius" placeholder="">
            <input @click="search($event)" class="btn btn-primary size-M radius" type="button" value="Search">
            <input @click="search_all($event)" class="btn btn-primary size-M radius" type="button" value="SearchAll">
        </div>

        <div class="mt-10 bk-gray pd-10 radius" style="height:300px;overflow-y:scroll;">
            <table class="table table-border table-bg" style="width:800px;">
                <thead>
                    <tr>
                        <th>ProductNO</th>
                        <th>Name</th>
                        <th>MemberPrice</th>
                        <th>StockQTY</th>
                        <th>说明Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr @click="tr_click(index,$event)" v-if="promotype_list.length" v-for="(item,index) in promotype_list" >
                        <td>{{item.ProductNO}}</td>
                        <td>{{item.CName}}</td>
                        <td>{{item.MemberPrice}}</td>
                        <td ref="td_ref_qty" @click="add_td_bg(item.index,$event)" @dblclick="i_qty($event)"><input id="td_ref_qty" style="position:relative;z-index:-1;border:none;width:100%;" type="text"></td>
                        <td ref="td_ref_memo" @dblclick="i_memo($event)"><input id="td_ref_memo" style="position:relative;z-index:-1;border:none;width:100%;" type="text"></td>
                    </tr>
                    <tr  v-if="!promotype_list.length">
                        <td colspan="5">暂无数据</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bk-gray mt-10 pd-10 radius">
            <div class="cl mb-5 ">
                <div class="f-l text-r pt-5" style="width:30%;">
                    <div class="mb-5">
                        <input class="btn size-M radius" type="button" value="Start启用">
                        <input class="btn size-M radius" type="button" value="Stop停用">
                    </div>
                    <div>
                        <input class="btn size-M radius" type="button" value="Add新增">
                        <input class="btn size-M radius" type="button" value="Update修改">
                    </div>
                </div>
                <div class="f-l text-r pt-10" style="width:20%;">
                    <div class="mb-5">
                        <span>   PromoID:</span>
                        <input style="width:55%;" type="text" class="input-text radius" placeholder="">
                        
                    </div>
                    <div>
                        <span>From:</span>
                        <input style="width:60%;height: 30px;border-color: rgb(221,221,221);" id=""  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
                    </div>
                </div>

                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>Name:</span>
                        <input style="width:60%;" type="text" class="input-text radius" placeholder="">
                    </div>
                    <div>
                        
                        <span>To:</span>
                        <input style="width:60%;height: 30px;border-color: rgb(221,221,221);" id=""  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
                        <!-- <input style="width:55%;" type="text" class="input-text radius" placeholder=""> -->
                    </div>
                </div>
                <div class="f-l text-r pt-10" style="width:25%;">
                    <div class="mb-5">
                        <span>Describe:</span>
                        <input style="width:55%;" type="text" class="input-text radius" placeholder="">
                    </div>
                    <div>
                        
                        <span>Memo:</span>
                        <input style="width:55%;" type="text" class="input-text radius" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var pro_main = new Vue({
            el:'#pro_main',
            data:{
                promoProduct_list:[],
                
            },
            methods:{
                init(){
                    $('.Wdate').val(
                        get_local_time()
                    )
                    var url = "/index.php?s=desktop/Product/search";
                    var data = {};
                    data["usertoken"] = get_cache('usertoken');
                    data["CName"] = '';
                    data["EName"] = '';
                    data["ProductNO"] = '';
                    data["CName"] = '';
                    data["order"] = 'ProductID desc';
                    data["limit"] = '0,';
                    // ajax(url,data,function (ret) {
                    //     if(ret.stat){
                    //         pro_main.promoProduct_list = ret.data.list;
                    //         // $('.pb_span2').addClass('act');
                    //     }
                    // })
                },
                promotype_select(){
                    console.log(46566);
                    open_html('PromoType','#PromoType','PromoType',function () {

                    },800,500)
                },
                add_td_bg(){        //单击
                    
                },
                i_qty(e){        //双击输入
                    if(e.isTrusted){
                        this.$refs.td_ref_qty.getElementsByTagName('input')[0].style.zIndex = '1'; 
                    }
                    $('#td_ref_qty').on('blur',function () {
                        $(this).css('z-index','-1');
                    })
                },
                i_memo(e){        //双击输入
                    if(e.isTrusted){
                        this.$refs.td_ref_memo.getElementsByTagName('input')[0].style.zIndex = '1'; 
                    }
                    $('#td_ref_memo').on('blur',function () {
                        $(this).css('z-index','-1');
                    })
                }
            }
        })
        pro_main.init()

        var promotype = new Vue({
            el:'#PromoType',
            data:{
                promotype_list : [],
                tr_index_def : '-1',
                tr_index_cur : '',
            },
            methods:{
                init(){
                    $('.Wdate').val(
                        get_local_time()
                    )
                },
                search(){
                    var url = "";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            
                        }
                    })

                },
                search_all(){
                    var url = "";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            // promotype.promotype_list = ret.data;
                        }
                    })
                },
                tr_click(){

                }
            }
        })
        promotype.init()
    </script>
</body>

</html>