<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .progress-bar{width:100%;background-color:#efefef}

		.pb_span{width:;}
        .pb_span_width{width: 10%;}
		.pb_span2{background-color: #d9534f;}
		.pb_span.act{width: 10%;animation: pbspan 1.5s ease 1;}
		@keyframes pbspan{
			0%{
				width:0%
			}
			100%{
				width:10%;
			}
		}
        .Wdate{border-color: #dddddd;}

        .tr_brick{background-color: #FF4500;}
        .tr_green{background-color:	#90EE90;}
        .td_bg{background-color: #FF4500;}
        .tr_gray{background-color: lightgray;}
        input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
        input[type="number"]{
			-moz-appearance: textfield;
		}

        table tr td{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
    </style>
</head>

<body>
    <div id="pro_main" class="pd-10" v-cloak>
        <div class="top-nav">
            <input @click="open_query($event)" class="btn btn-primary size-M radius" type="button" value="查询">
        </div>

        <div class="bk-gray mt-10 pd-10 radius">
            <div class="cl mb-5 ">
                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>   Date:</span>
                        <input style="width:55%;height: 30px;border-color: rgb(221,221,221);" id="pq_date"  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
                    </div>
                    <div>
                        <span>SC/Card:</span>
                        <input style="width:55%;" v-model="code_name" type="text" class="input-text radius" placeholder="">
                    </div>
                </div>

                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>  Name:</span>
                        <input style="width:55%;" v-model="name_code" type="text" class="input-text radius" placeholder="">
                        <span @click="getNameBycode( $event)" class="btn btn-default radius">G</span>
                    </div>
                    <div>
                        
                        <span>SaleType:</span>
                        <input style="width:55%;" v-show="SaleType_iss" disabled v-model="SaleType" type="text" class="input-text radius" placeholder="">
                        <select v-model="SaleType" v-show="!SaleType_iss" name="" style="width:55%;border-color: rgb(221,221,221);height: 30px;" class="radius" id="">
                            <option :value="item.TypeName" v-for="item in saletype_list" :key="item.id">{{item.TypeName+'（'+item.TypeName_E+'）'}}</option>
                        </select>
                        <span @click="SaleType_select($event)" class="btn btn-default radius">T</span>
                    </div>
                </div>
                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>PromoType:</span>
                        <input style="width:55%;" v-show="PromoType_iss" disabled v-model="PromoType" type="text" class="input-text radius" placeholder="">
                        <select v-model="PromoType" v-show="!PromoType_iss" name="" style="width:55%;border-color: rgb(221,221,221);height: 30px;" class="radius" id="">
                            <option :value="item.PromoName" v-for="item in promotype_list" :key="item.id">{{item.PromoName}}</option>
                        </select>
                        <!-- <input style="width:55%;" type="text" class="input-text radius" placeholder=""> -->
                        <span @click="promotype_select($event)" class="btn btn-default radius">P</span>
                    </div>
                    <div>
                        
                        <span>GroupID:</span>
                        <input v-model="GroupID" style="width:55%;" type="text" class="input-text radius" placeholder="">
                        <span style="opacity:0;" class="btn btn-default radius">E</span>
                    </div>
                </div>
                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>  Memo:</span>
                        <input v-model="Memo" style="width:61%;" type="text" class="input-text radius" placeholder="">
                    </div>
                    <div class="text-l">
                        <span>GID:</span>
                        <input v-model="gid" disabled style="width:45%;" type="text" class="input-text radius" placeholder="">
                        <span @click="submit($event)" class="btn btn-default radius">Submit</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10 bk-gray pd-10 radius" style="height:400px;overflow-y:scroll;">
            <table class="table table-border table-bg" style="width:800px;">
                <thead>
                    <tr>
                        <th>ProductNO</th>
                        <th>Name</th>
                        <th>MemberPrice</th>
                        <th>StockQTY</th>
                        <th>说明Memo</th>
                    </tr>
                </thead>
                <tbody ref="sub_data">
                    <tr v-for="(item,index) in promoProduct_list" :no="item.ProductNO" :name="item.CName" :data="item.ProductID">
                        <td>{{item.ProductNO}}</td>
                        <td>{{item.CName}}</td>
                        <td>{{item.MemberPrice}}</td>
                        <td ref="td_ref_qty" @click="add_td_bg(item.index,$event)" @dblclick="i_qty($event)"><input class="sub_qty" style="position:relative;z-index:;border:none;width:100%;" type="number"></td>
                        <td ref="td_ref_memo" @dblclick="i_memo($event)"><input class="sub_memo" style="position:relative;z-index:;border:none;width:100%;" type="text"></td>
                    </tr>
                    <!-- <tr  v-if="!promoProduct_list.length">
                        <td colspan="5">暂无数据</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    
    <!--  -->


    <div id="PromoType" class='pd-10' style="display:none;">
        <div class="top-nav">
            Date:<input style="height: 30px;border-color: rgb(221,221,221);" id="search_date"  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
            PromoName:<input style="width:100px;" v-model="PromoName" type="text" class="input-text radius" placeholder="">
            <input @click="search($event)" class="btn btn-primary size-M radius" type="button" value="Search">
            <input @click="search_all($event)" class="btn btn-primary size-M radius" type="button" value="SearchAll">
        </div>

        <div class="mt-10 bk-gray pd-10 radius" style="height:300px;overflow-y:scroll;">
            <table class="table table-border table-bg" style="width:800px;">
                <thead>
                    <tr>
                        <th>PromoID</th>
                        <th>PromoName</th>
                        <th>Describe</th>
                        <th>ValidDateForm</th>
                        <th>ValidDateTo</th>
                        <th>Oper</th>
                        <th>Memo</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :class="item.Status == 0 ?'tr_brick':'tr_green'" @click="tr_click(item,index,$event)" v-if="promotype_list.length" v-for="(item,index) in promotype_list" >
                        <td>{{item.PromoID}}</td>
                        <td>{{item.PromoName}}</td>
                        <td>{{item.Describe}}</td>
                        <td>{{item.ValidDateFrom.substring(0,10)}}</td>
                        <td>{{item.ValidDateTo.substring(0,10)}}</td>
                        <td>{{item.Oper}}</td>
                        <td>{{item.Memo}}</td>
                        <td>{{item.Status}}</td>
                    </tr>
                    <tr  v-if="!promotype_list.length">
                        <td colspan="5">暂无数据</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bk-gray mt-10 pd-10 radius">
            <div class="cl mb-5 ">
                <div class="f-l text-r pt-5" style="width:30%;">
                    <div class="mb-5">
                        <input @click="enable($event)" class="btn size-M radius" type="button" value="Start启用">
                        <input @click="disable($event)" class="btn size-M radius" type="button" value="Stop停用">
                    </div>
                    <div>
                        <input @click="add($event)" class="btn size-M radius" type="button" value="Add新增">
                        <input @click="modify($event)" class="btn size-M radius" type="button" value="Update修改">
                    </div>
                </div>
                <div class="f-l text-r pt-10" style="width:20%;">
                    <div class="mb-5">
                        <span>   PromoID:</span>
                        <input style="width:55%;" v-model="btm_act.id" type="text" class="input-text radius" placeholder="">
                        
                    </div>
                    <div>
                        <span>From:</span>
                        <input style="width:60%;height: 30px;border-color: rgb(221,221,221);" v-model="btm_act.from" id=""  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
                    </div>
                </div>

                <div class="f-l text-r pt-10" style="width:18%;">
                    <div class="mb-5">
                        <span>Name:</span>
                        <input style="width:60%;" type="text" class="input-text radius" v-model="btm_act.name" placeholder="">
                    </div>
                    <div>
                        
                        <span>To:</span>
                        <input style="width:60%;height: 30px;border-color: rgb(221,221,221);" v-model="btm_act.to" id=""  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
                        <!-- <input style="width:55%;" type="text" class="input-text radius" placeholder=""> -->
                    </div>
                </div>
                <div class="f-l text-r pt-10" style="width:25%;">
                    <div class="mb-5">
                        <span>Describe:</span>
                        <input style="width:55%;" v-model="btm_act.describe" type="text" class="input-text radius" placeholder="">
                    </div>
                    <div>
                        
                        <span>Memo:</span>
                        <input style="width:55%;" v-model="btm_act.memo" type="text" class="input-text radius" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SaleType" class="pd-10" style="display:none;">
        <div class="top-nav">
            SaleType:<input style="width:100px;" v-model="saletype" type="text" class="input-text radius" placeholder="">
            <input @click="search($event)" class="btn btn-primary size-M radius" type="button" value="Search">
            <input @click="search_all($event)" class="btn btn-primary size-M radius" type="button" value="SearchAll">
        </div>
        <div class="mt-10 bk-gray pd-10 radius" style="height:300px;overflow-y:scroll;">
            <table class="table table-border table-bg" style="width:800px;">
                <thead>
                    <tr>
                        <th>StockTypeID</th>
                        <th>TypeName</th>
                        <th>TypeName_E</th>
                        <th>Status</th>
                        <th>Memo</th>
                        <th>Oper</th>
                        <th>CreateTime</th>
                        <th>LastEditDate</th>
                        <th>Dept</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :class="tr_index==index?'tr_gray':''" @click="tr_click(item.StockTypeID,item.TypeName,item.Dept,index,$event)" v-for="(item,index) in list" :key="item.id">
                        <td>{{item["StockTypeID"]}}</td>
                        <td>{{item["TypeName"]}}</td>
                        <td>{{item["TypeName_E"]}}</td>
                        <td :class="item['Status']==0?'td_bg':''">{{item["Status"]==0?'停用':'正常'}}</td>
                        <td>{{item["Memo"]}}</td>
                        <td>{{item["Oper"]}}</td>
                        <td>{{item["CreateTime"].substring(0,19)}}</td>
                        <td>{{item["LastEditDate"].substring(0,19)}}</td>
                        <td>{{item["Dept"]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-10">
            <input @click="enable($event)" class="btn btn-primary size-M radius" type="button" value="Start启用">
            <input @click="disable($event)" class="btn btn-primary size-M radius" type="button" value="Stop停用">
            <input @click="add($event)" class="btn btn-primary size-M radius" type="button" value="Add新增">
            <input class="btn btn-primary size-M radius" type="button" value="Update修改">
            TypeID:<input style="width:80px;" v-model="btm_data.TypeID" type="text" class="input-text radius" placeholder="">
            Name:<input style="width:100px;" v-model="btm_data.Name" type="text" class="input-text radius" placeholder="">
            Dept:<input style="width:70px;" v-model="btm_data.Dept" type="text" class="input-text radius" placeholder="">
        </div>
    </div>



    <div id="query" class="radius" style="display:none;">
        <div class="pd-10 cl">
            <div class="f-l">
                <input @click="last($event)" class="btn btn-primary size-M radius" type="button" value="<LastOne">
                <input @click="next($event)" class="btn btn-primary size-M radius" type="button" value="NextOne>">
            </div>
            <div class="f-r">
                <input @click="delete_item($event)" class="btn btn-primary size-M radius" type="button" value="删除Del">
                <input @click="delete_manage($event)" class="btn btn-primary size-M radius" type="button" value="删除管理">
            </div>
        </div>
        <div class="pd-10">
            <fieldset id="" class="radius" style="">
                <legend style="width: auto;margin-bottom: 0px;line-height: 16px; border-bottom: none;font-size: 14px;">Search</legend>
                <div class="">
                    GroupID：<input v-model="search_sc" class="input-text radius size-M" style="width:20%;" type="text">
                    起始日期：<input id="s_start" class="Wdate size-M input-text radius" style="width:125px;" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                    结束日期：<input id="s_end" class="Wdate size-M input-text radius" style="width:125px;" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                    <span @click="search($event)" class="btn btn-default radius">Search</span>
                    <span @click="searchall($event)" class="btn btn-default radius">SearchAll</span>
                </div>
            </fieldset>
        </div>
        <div class="pd-10 cl">
            <div class="f-l col-lg-8" style="overflow-x:scroll;">
                    <!-- <legend style="width: auto;margin-bottom: 5px;line-height: 16px; border-bottom: none;font-size: 14px;">查询结果</legend> -->
                    <div class="mt-10 bk-gray pd-10 radius" style="height:300px;overflow-y:scroll;">
                        <table class="table table-border table-bg" style="width:500px;">
                            <thead>
                                <tr>
                                    <th>GroupID</th><th>SC</th><th>Promoname</th><th>Saletype</th><th>Memo</th><th>Collectdate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr @click="tr_click(item.groupid,item.status,item.saletype, $event)" v-for="(item,index) in one.list" :class="tr_index==index?'tr_gray':''">
                                    <td>{{item.groupid}}</td>
                                    <td>{{item.collector}}</td>
                                    <td>{{item.promoname}}</td>    
                                    <td>{{item.saletype}}</td>
                                    <td>{{item.memo}}</td>
                                    <td>{{item.collectdate.substring(0,10)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="f-l col-lg-4" style="overflow-x:scroll;">
                <div class="mt-10 bk-gray pd-10 radius" style="height:300px;overflow-y:scroll;">
                        <table class="table table-border table-bg" style="width:200%;">
                            <thead>
                                <tr>
                                    <th>ProductNO</th><th>Name</th><th>Amount</th><th>说明Memo</th><th>Maker</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr :class="tr_index==index?'tr_gray':''" v-for="item in r_list" :key="item.id">
                                    <td>{{item.ProductNO!=undefined?item.ProductNO:''}}</td>
                                    <td>{{item.Name!=undefined?item.Name:''}}</td>
                                    <td>{{item.Amount!=undefined?item.Amount:''}}</td>
                                    <td>{{item["说明Memo"]!=undefined?item["说明Memo"]:''}}</td>
                                    <td>{{item.Maker!=undefined?item.Maker:''}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>


    <div id="promocollect" style="display:none;">
        <div class="pd-10">
            <input @click="print($event)" class="btn btn-primary size-M radius" type="button" value="Print打印">
        </div>
        <div class="cl pd-10">
            <div class="f-l">
                <div class="mb-5">
                    <span>   Date:</span>
                    <input v-model="Date" style="height: 30px;border-color: rgb(221,221,221);" id=""  onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate radius date_from">
                    <span>   Name:</span>
                    <input v-model="name" id="" type="text" style="width:100px;" class="input-text radius">
                    <span>   Saletype:</span>
                    <input v-model="SaleType" id="" type="text" style="width:100px;" class="input-text radius">
                    <span>   SC/Card:</span>
                    <input v-model="SC" id="" type="text" style="width:150px;" class="input-text radius">
                </div>
                <div>
                    <input @click="GoToWarehouse($event)" class="btn size-M radius" type="button" value="GoToWarehouse">
                    <input @click="BackFormStockOut($event)" class="btn size-M radius" type="button" value="BackFormStockOut">
                </div>
            </div>
            <div class="f-r">
                <div class="text-r mb-5">
                    <span>   Promotype:</span>
                    <input v-model="PromoType" id="" type="text" style="width:100px;" class="input-text radius">
                </div>
                <div>
                    <span>   GroupID:</span>
                    <input v-model="GroupID" disabled id="" type="text" style="width:150px;" class="input-text radius">
                </div>
            </div>
        </div>

        <div class="mt-5 pd-10" style="height:300px;overflow-y:scroll;">
            <table class="table table-border table-bg">
                <thead>
                    <tr>
                        <th>ProductNO</th><th>Name</th><th>Amount</th><th>说明Memo</th><th>Maker</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in list" :key="item.id">
                        <td>{{item["prono"]}}</td>
                        <td>{{item["name"]}}</td>
                        <td>{{item["amount"]}}</td>
                        <td>{{item["memo"]}}</td>
                        <td>{{realname}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div id="delete_manage" style="display:none;">
        <div class="pd-10">
            <fieldset id="" class="radius" style="">
                <legend style="width: auto;margin-bottom: 0px;line-height: 16px; border-bottom: none;font-size: 14px;">Search</legend>
                <div class="">
                    GroupID：<input v-model="search_sc" class="input-text radius size-M" style="width:20%;" type="text">
                    起始日期：<input id="del_start" class="Wdate size-M input-text radius" style="width:125px;" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                    结束日期：<input id="del_end" class="Wdate size-M input-text radius" style="width:125px;" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
                    <span @click="search($event)" class="btn btn-default radius">Search</span>
                    <span @click="searchall($event)" class="btn btn-default radius">SearchAll</span>
                </div>
            </fieldset>
        </div>
        <div class="pd-10 cl">
            <div class="">
                <!-- <legend style="width: auto;margin-bottom: 5px;line-height: 16px; border-bottom: none;font-size: 14px;">查询结果</legend> -->
                <div class="mt-10 bk-gray pd-10 radius" style="height:400px;overflow-y:scroll;">
                    <table class="table table-border table-bg">
                        <thead>
                            <tr>
                                <th>GroupID</th><th>SC</th><th>Promoname</th><th>Saletype</th><th>Memo</th><th>Collectdate</th><th>Operate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr @click="tr_click(index,$event)" v-for="(item,index) in del_list" :class="tr_index==index?'tr_gray':''">
                                <td style="max-width: 255px;">{{item.groupid}}</td>
                                <td>{{item.collector}}</td>
                                <td>{{item.promoname}}</td>    
                                <td>{{item.saletype}}</td>
                                <td style="max-width: 150px;">{{item.memo}}</td>
                                <td>{{item.collectdate.substring(0,10)}}</td>
                                <td v-show="item.status == 0"><span @click="del_deep(item.groupid,$event)" class="btn btn-warning mr-10 radius">彻底删除</span><span @click="del_back(item.groupid,$event)" class="btn btn-secondary  radius">撤销删除</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var tamia = 'tamia';
        

        var pro_main = new Vue({
            el:'#pro_main',
            data:{
                promoProduct_list:[],
                promotype_list:[],
                saletype_list:[],
                code_name:'',
                name_code:'',
                SaleType:'',
                PromoType:'',
                GroupID:'',
                Memo:'',    
                gid:'',
                SaleType_iss : false,
                PromoType_iss : false
            },
            computed: {
                get_id : function(){
                    return 'td_ref_qty_';
                }
            },
            methods:{
                init(){
                    $('.Wdate').val(
                        get_local_time()
                    )
                    var url = "/index.php?s=desktop/Product/search";
                    var data = {};
                    data["usertoken"] = get_cache('usertoken');
                    data["CName"] = '';
                    data["EName"] = '';
                    data["ProductNO"] = '';
                    data["CName"] = '';
                    data["order"] = 'ProductID desc';
                    data["limit"] = '0,';
                    // ajax(url,data,function (ret) {
                    //     if(ret.stat){
                    //         pro_main.promoProduct_list = ret.data.list;
                    //         // $('.pb_span2').addClass('act');
                    //     }
                    // })

                    this.get_product_list()
                    this.get_prom_type()
                    this.get_sale_type()

                    var para1 = queryString('promotype'),
                        para2 = queryString('saletype'),
                        para3 = queryString('gid'); 
                        if(para2 != ''){
                            this.SaleType_iss = true;
                        }
                        if(para1 != ''){
                            this.PromoType_iss = true;
                        }
                    console.log(para1,para2,para3);
                    this.SaleType = para2;
                    this.PromoType = para1;
                    this.gid = para3;
                    // open_html('PromoCollectPrint','#promocollect','promocollect',function () {

                    // },1000,600)
                },
                get_product_list(){
                    var url = '/index.php?s=desktop/Tb_Product/get_list';
                    var data = {};
                    data['usertoken'] = get_cache('usertoken'); 
                    ajax(url, data, function (e) {
                        query_stat = e.stat;
                        if (e.stat == 1) {
                            var a = e.data.list;
                            for(var i = 0;i < a.length;i++){
                                // a[i]['qty'] = 0;
                            }
                            pro_main.promoProduct_list = a;
                        } else {
                            showErr(e.errmsg, e.errmsg_en, e.errcode)
                            return
                        }
                    })

                },
                promotype_select(){
                    // if(!PromoType_iss){
                        open_html('PromoType','#PromoType','PromoType',function () {

                        },800,570)
                    // }
                    
                },
                SaleType_select(){
                    if(!this.SaleType_iss){
                        open_html('SaleType','#SaleType','SaleType',function () {

                        },800,570)
                    }
                },
                add_td_bg(){        //单击
                    
                },
                i_qty(e){        //双击输入
                    if(e.isTrusted){
                        // this.$refs.td_ref_qty.getElementsByTagName('input')[0].style.zIndex = '1'; 
                    }
                    $('#td_ref_qty').on('blur',function () {
                        // $(this).css('z-index','-1');
                    })
                },
                i_memo(e){        //双击输入
                    if(e.isTrusted){
                        // this.$refs.td_ref_memo.getElementsByTagName('input')[0].style.zIndex = '1'; 
                    }
                    $('#td_ref_memo').on('blur',function () {
                        // $(this).css('z-index','-1');
                    })
                },
                open_query(){
                    open_html('查询','#query','query',function () {  },1000,600)
                },
                submit(){
                    var tr = this.$refs.sub_data.getElementsByTagName('tr');
                    var cell = [];

                    for(var i = 0; i< tr.length;i++){
                        if(tr[i].getElementsByTagName('input')[0].value != ''){
                            // console.log( , , );
                            cell.push({'prono':tr[i].getAttribute('no'),'name':tr[i].getAttribute('name'),'productid':tr[i].getAttribute('data'),'amount':tr[i].getElementsByTagName('input')[0].value,'memo':tr[i].getElementsByClassName('sub_memo')[0].value})
                        }
                        
                    }
                    var url = "/index.php?s=desktop/Promo_Collect/button2_Click";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["SC/Card"] = this.code_name;
                    data["Date"] = $('#pq_date').val();
                    data["Memo"] = this.Memo;
                    data["PromoType"] = this.PromoType;
                    data["SaleType"] = this.SaleType;
                    data["GroupID"] = this.GroupID;
                    data["cell"] = JSON.stringify(cell);
                    // data[""] = ;
                    
                    // console.log(this.$refs.sub_data)
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data.msg);
                            var ret = ret.data.input;
                            promo_collect.Date = ret.Date;
                            promo_collect.GroupID = ret.GroupID;
                            promo_collect.SC = ret['SC/Card'];
                            promo_collect.PromoType = ret.PromoType;
                            promo_collect.name = pro_main.name_code;
                            promo_collect.SaleType = ret.SaleType;
                            promo_collect.list = JSON.parse(ret.cell);
                            open_html('PromoCollectPrint','#promocollect','promocollect',function () {

                            },1000,600)
                            // pro_main.promotype_list = ret.data;
                        }else{showErr(ret.errmsg,ret.errmsg_en)}
                    })
                },
                get_prom_type(){
                    var url = "/index.php?s=desktop/Promo_Collect/GetPromoTypeName";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            pro_main.promotype_list = ret.data;
                        }
                    })
                },
                get_sale_type(){
                    var url = "/index.php?s=desktop/Promo_Collect/GetTypeName";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            pro_main.saletype_list = ret.data;
                        }
                    })
                },
                getNameBycode(){
                    var url = '/index.php?s=desktop/Tb_Customer/get_list';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["CustomerNO"] = this.code_name;
                    if($("#get_name").val() !=''){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                pro_main.name_code = ret.data.list[0].CustomerName;
                                promo_collect.CustomerID = ret.data.list[0].CustomerID;
                                console.log('');
                            }
                        })
                    }
                }
            }
        })
        pro_main.init()

        var promotype = new Vue({
            el:'#PromoType',
            data:{
                PromoName:'',
                promotype_list : [],
                tr_index_def : '-1',
                tr_index_cur : '',
                btm_act:{
                    id:'',
                    name:'',
                    describe:'',
                    from:'',
                    to:'',
                    memo:''
                }
            },
            methods:{
                init(){
                    $('.Wdate').val(
                        get_local_time()
                    );
                },
                search(){
                    var url = "/index.php?s=desktop/Promo_Collect/PromoTypeSearch";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["Date"] = $('#search_date').val();
                    data["PromoName"] = this.PromoName;
                    if(this.PromoName != ''){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                promotype.promotype_list = ret.data;
                            }
                        })
                    }else{
                        showErr('请填写PromoName');
                    }
                    

                },
                search_all(){
                    var url = "/index.php?s=desktop/Promo_Collect/PromoTypeSearchAll";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            promotype.promotype_list = ret.data;
                        }
                    })
                },
                tr_click(item,index){
                    this.btm_act.id = item.PromoID;
                    this.btm_act.name = item.PromoName;
                    this.btm_act.describe = item.Describe;
                    this.btm_act.from = item.ValidDateFrom.substring(0,10);
                    this.btm_act.to = item.ValidDateTo.substring(0,10);
                    this.btm_act.memo = item.Memo;
                },
                enable(){
                    var url = "/index.php?s=desktop/Promo_Collect/PromoTypeStart";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["PromoID"] = this.btm_act.id;
                    if(data["PromoID"] != ''){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                showErr(ret.data);
                                promotype.search_all();
                            }else{
                                showErr(ret.errmsg,ret.errmsg_en)
                            }
                        })
                    }else{
                        // showErr('')
                    }
                },
                disable(){
                    var url = "/index.php?s=desktop/Promo_Collect/PromoTypeStop";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["PromoID"] = this.btm_act.id;
                    if(data["PromoID"] != ''){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                showErr(ret.data);
                                promotype.search_all();
                            }else{
                                showErr(ret.errmsg,ret.errmsg_en)
                            }
                        })
                    }else{
                        // showErr('')
                    }
                },
                add(){
                    var url = "/index.php?s=desktop/Promo_Collect/PromoTypeAdd";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["Name"] = this.btm_act.name;
                    data["From"] = this.btm_act.from;
                    data["To"] = this.btm_act.to;
                    data["Describe"] = this.btm_act.describe;
                    data["Memo"] = this.btm_act.memo;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data);
                            promotype.search_all();
                        }{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                },
                modify(){
                    var url = "/index.php?s=desktop/Promo_Collect/PromoTypeUpdate";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["PromoID"] = this.btm_act.id;
                    data["Name"] = this.btm_act.name;
                    data["From"] = this.btm_act.from;
                    data["To"] = this.btm_act.to;
                    data["Describe"] = this.btm_act.describe;
                    data["Memo"] = this.btm_act.memo;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data);
                            promotype.search_all();
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                }
            }
        })
        promotype.init()

        var sale_type = new Vue({
            el:'#SaleType',
            data:{
                tr_index:-1,
                saletype:'',
                list:[],
                btm_data:{
                    TypeID:'',
                    Name:'',
                    Dept:''
                }
            },
            methods:{

                search(){
                    var url = "/index.php?s=desktop/Promo_Collect/SaleTypeSearch";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["TypeName"] = this.saletype;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            sale_type.list = ret.data;
                        }
                    })
                },
                search_all(){
                    var url = "/index.php?s=desktop/Promo_Collect/SaleTypeSearchAll";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            sale_type.list = ret.data;
                        }
                    })
                },
                tr_click(i,n,dep,index){
                    this.btm_data.TypeID = i;
                    this.btm_data.Name = n;
                    this.btm_data.Dept = dep;
                    this.tr_index = index;
                },
                enable(){
                    this.able('SaleTypeStart')
                },
                disable(){
                    this.able('SaleTypeStop')
                },
                add(){
                    var url = "/index.php?s=desktop/Promo_Collect/SaleTypeAdd";
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["TypeName"] = this.btm_data.Name;
                    data["Dept"] = this.btm_data.Dept;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data);
                            sale_type.search_all();
                        }
                    })
                },
                able(suffix){
                    var url = "/index.php?s=desktop/Promo_Collect/" + suffix;
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["StockTypeID"] = this.btm_data.TypeID;
                    if(this.btm_data.TypeID!=''){
                        ajax(url,data,function (ret) {
                            if(ret.stat){
                                showErr(ret.data);
                                sale_type.search_all();
                            }
                        })
                    }else{

                    }
                    
                }
            }

        })
    
    
        var query = new Vue({
            el:'#query',
            data:{
                index:0,
                tr_index:-1,
                search_sc:'',
                search_res:[],
                one:{
                    GroupID:'',
                    list:[]
                },
                r_list:[],
                one_more_c:{
                    gid:'',
                    status:''
                },
                del:{
                    GroupID:'',
                    SaleType:''
                }
            },
            methods:{
                init(){
                    $('.Wdate').val(
                        get_local_time()
                    )
                },
                last(){
                    query.r_list = [];
                    var url = '/index.php?s=desktop/Promo_Collect/LastOne';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            query.one.list = ret.data;
                            if(ret.data.GroupID!=false){
                                query.one.GroupID = ret.data.GroupID;
                            }
                        }
                    })
                },
                next(){
                    query.r_list = [];
                    var url = '/index.php?s=desktop/Promo_Collect/NextOne';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            query.one.list = ret.data;
                            if(ret.data.GroupID!=false){
                                query.one.GroupID = ret.data.GroupID;
                            }
                            // search_res = ret.data;
                        }
                    })
                },
                delete_item(){
                    var url = '/index.php?s=desktop/Promo_Collect/del_data';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = this.del.GroupID;
                    data["SaleType"] = this.del.SaleType;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data);
                            // search_res = ret.data;
                        }
                    })
                },
                delete_manage(){
                    // window.location.href = 'http://www.baidu.com';
                    open_html('删除管理','#delete_manage','delete_manage',function () {
                        
                    },1000,600)
                },
                one_more(){
                    var url = '/index.php?s=desktop/Promo_Collect/GetDetailInfo';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = this.one_more_c.gid;
                    data["status"] = parseInt(this.one_more_c.status);
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            query.r_list = ret.data;
                            // search_res = ret.data;
                        }
                    })
                },
                searchall(){
                    query.r_list = [];
                    var url = '/index.php?s=desktop/Promo_Collect/SearchAll';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = this.search_sc;
                    data["From"] = $('#s_start').val();
                    data["To"] = $('#s_end').val();
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            query.one.list = ret.data;
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                },
                search(){
                    query.r_list = [];
                    var url = '/index.php?s=desktop/Promo_Collect/Search';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = this.search_sc;
                    data["From"] = $('#s_start').val();
                    data["To"] = $('#s_end').val();

                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            query.one.list = ret.data;
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                    console.log(this.search_sc, $('#s_start').val(), $('#s_end').val())
                },
                tr_click(gid,status,saletype){
                    query.r_list = [];
                    console.log(gid,status)
                    this.one_more_c.gid = gid;
                    
                    this.one_more_c.status = status;
                    this.del.GroupID = gid;
                    this.del.SaleType = saletype;
                    this.one_more();
                },

            }
        })

        query.init()

        var del_manage = new Vue({
            el:'#delete_manage',
            data:{
                index: '',
                tr_index:-1,
                search_sc:'',
                del_list:[],
                s_or_sa:0
            },
            methods:{
                search(){
                    this.s_or_sa = 1;
                    var url = '/index.php?s=desktop/Promo_Collect/del_search';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = this.search_sc;
                    data["From"] = $('#del_start').val();
                    data["To"] = $('#del_end').val();
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            del_manage.del_list = ret.data;
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                },
                searchall(){
                    this.s_or_sa = 2;
                    query.r_list = [];
                    var url = '/index.php?s=desktop/Promo_Collect/del_search_all';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = this.search_sc;
                    data["From"] = $('#del_start').val();
                    data["To"] = $('#del_end').val();
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            del_manage.del_list = ret.data;
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                },
                isall(){
                    if(this.s_or_sa == 1){
                        this.search()
                    }else if(this.s_or_sa == 2){
                        this.searchall()
                    }
                },
                tr_click(index){
                    this.tr_index = index;
                },
                del_deep(gid){
                    var url = '/index.php?s=desktop/Promo_Collect/del_perpetual';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = gid;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data);
                            setTimeout(function(){
                                del_manage.isall()
                            },1000)
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                },
                del_back(gid){
                    var url = '/index.php?s=desktop/Promo_Collect/repal_del';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = gid;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data);
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                }
            }
        })
    </script>

    <script>
        var promo_collect = new Vue({
            el:'#promocollect',
            data:{
                GroupID:'',
                SC:'',
                Date:'',
                name:'',
                PromoType:'',
                SaleType:'',
                CustomerID:'',
                list:[],
                realname:''
            },
            methods:{
                init(){
                    this.realname = JSON.parse(get_cache('user_info'))["realname"];
                    console.log(this.realname,JSON.parse(get_cache('user_info')))
                },
                GoToWarehouse(){
                    var url = '/index.php?s=desktop/Promo_Collect/button1_Click';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = this.GroupID;
                    data["SaleType"] = this.SaleType;
                    data["Date"] = this.Date;
                    data["CustomerID"] = this.CustomerID;
                    data["CustomerName"] = this.name;
                    data["SC/Card"] = this.SC;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data);
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })


                },

                BackFormStockOut(){
                    var url = '/index.php?s=desktop/Promo_Collect/RevertWareHouse';
                    var user_token = get_cache('usertoken');
                    var data = {};
                    data["usertoken"] = user_token;
                    data["GroupID"] = this.GroupID;
                    data["SaleType"] = this.SaleType;
                    ajax(url,data,function (ret) {
                        if(ret.stat){
                            showErr(ret.data);
                        }else{
                            showErr(ret.errmsg,ret.errmsg_en)
                        }
                    })
                },
            }
        })
        promo_collect.init()
    </script>
</body>

</html>