<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科迪会员录入系统</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="region_lock" style="width: 90%;margin: 10px auto;">
        <div class="regio_l_top">
            <span>时间：</span>
            <input type="text" class="Wdate lock_time" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
            <span>地区:</span>
            <select name="" id="" class="lock_region">
                <option :value="r" v-for="r in lock_region" :key="r">{{r}}</option>
            </select>
            <button class="btn  btn-primary-outline radius size-S" @click="search_region()">搜索区域</button>
        </div>
        <div class="region_con" style="height: 350px; overflow: auto; background: rgb(204, 204, 204); padding: 4px 0px; margin-top: 5px;">
            <table class="table table-border table-bordered table-bg" style="width: 700px; background: #fff;">
                <thead>
                    <tr>
                        <th>选择</th>
                        <th>GroupID</th>
                        <th>ShopNo</th>
                        <th>Region</th>
                        <th>Kits</th>
                        <th>TotalMoney</th>
                        <th>Cash</th>
                        <th>Teller</th>
                        <th>Debt</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="r in list_data" v-bind:class=" r['״̬']== '未锁定' ? 'unlock' : 'lock' ">
                        <td>
                            <input type="checkbox" :value="r.GroupID" name="" id="" v-bind:checked="ifchecked">
                        </td>
                        <td>{{r.GroupID}}</td>
                        <td>{{r.ShopNo}}</td>
                        <td>{{r.Region}}</td>
                        <td>{{r.Kits}}</td>
                        <td>{{r.TotalMoney}}</td>
                        <td>{{r.Cash}}</td>
                        <td>{{r.Teller}}</td>
                        <td>{{r.Debt}}</td>
                        <td>{{r['״̬']}}</td>
                    </tr>
                    <tr v-if="!list_data.length">
                        <td colspan="10">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bot_lock">
            <input type="checkbox" name="" id="" v-model="ifchecked">
            <span>全选</span>
            <button class="btn  btn-primary-outline radius size-S" @click="click_lock()">锁定</button>
            <button class="btn  btn-primary-outline radius size-S" @click="click_unlock()">解锁</button>
        </div>
    </div>
    <script>
        $(function(){
            get_region(function(e) {
                    var data = [];
                    e.forEach(element => {
                        regionLock.lock_region.push(element.result) //regionLock
                    });
                })
        })

        var regionLock = new Vue({ //区域店锁定
            el: "#region_lock",
            data: {
                lock_region: [],
                list_data: [],
                ifchecked: false,
                no_data:config_txt.no_data.zn,
                // local_time: get_local_time()
            },
            methods: {
                search_region() {
                    query_region_lock()
                },
                click_lock() {
                    lock_region()
                },
                click_unlock() {
                    unlock_region()
                },
            }
        })


        
        function query_region_lock() { //查询区域店 
            var url = "/index.php?s=desktop/Region_Lock/button1_Click";
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            data['date'] = $('.lock_time').val();
            data['Region'] = $('.lock_region').val();
            data['check_all'] = "";
            ajax1(url, data, function(e) {
                if (e.stat == 1) {
                    regionLock.list_data = e.data
                    regionLock.ifchecked = false
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }

        function lock_region() { //
            var arry = [];
            var url = '/index.php?s=desktop/Region_Lock/button3_Click';
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            data['date'] = $('.lock_time').val();
            data['Region'] = $('.lock_region').val();
            $('.region_con input:checked').each(function() {
                arry.push(`"${$(this).val()}"`)
            })

            data['check_all'] = `[${arry}]`
            ajax(url, data, function(e) {
                if (e.stat == 1) {
                    success(e.data.msg);
                    setTimeout(function() {
                        query_region_lock()
                    }, 2000)
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }

        function unlock_region() {
            var arry = [];
            var url = '/index.php?s=desktop/Region_Lock/button4_Click';
            var data = {};
            data['usertoken'] = get_cache('usertoken');
            data['date'] = $('.lock_time').val();
            data['Region'] = $('.lock_region').val();
            data['Region'] = $('.lock_region').val();
            $('.region_con input:checked').each(function() {
                arry.push(`"${$(this).val()}"`)
            })

            data['check_all'] = `[${arry}]`
            ajax(url, data, function(e) {
                if (e.stat == 1) {
                    success(e.data.msg)
                    setTimeout(function() {
                        query_region_lock()
                    }, 3000)
                } else {
                    showErr(e.errmsg, e.errmsg_en, e.errcode)
                }
            })
        }
    </script>
</body>

</html>