<!DOCTYPE html>
<html>
<head>
<!-- <script>
/*为了在普通浏览器里调试加了此代码。 可以随时删除*/
nw={};
nw.App={};
nw.App.manifest={};
nw.App.manifest.version = 'test';
</script> -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>货源地国家</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/kd.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
</head>
<body>
	<div id="main" v-cloak class="market_shop">
        <div class="search_txt">
            <div>
                <p>{{obj_txt.FromCountry}}</p>
                <input type="text" id="search_FromCountry" :placeholder="obj_txt.FromCountry">
            </div>
            <div>
                <p>{{obj_txt.Status}}</p>
                <select name="" id="search_Status">
                    <option value="-">==ALL==</option>
                    <option value="0">{{obj_txt.status_0}}</option>
                    <option value="1">{{obj_txt.status_1}}</option>
                </select>
            </div>

            <input type="button" id="" name="" :value="obj_txt.BtnSearch" class="btn btn-success btn-radius btn-serach" style="height: 30px; margin-right: 10px;"
                @click="search_btn()">


            <input type="button"  :value="obj_txt.BtnAdd" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="open_oper_add()">
        </div>
		<div class="shop_list">
			<table class="table table-border table-bordered table-bg" style="width: 95%; margin: 0 auto; margin-bottom: 10px;">
                <thead>
                <tr>
                    <th style="width: 170px;">{{obj_txt.FromID}}</th>
					<th style="width: 170px;">{{obj_txt.FromCountry}}</th>
					<th style="width: 170px;">{{obj_txt.Status}}</th>
                    <th style="width: 170px;">{{obj_txt.Oper}}</th>
					<th style="width: 170px;">{{obj_txt.LastEditDate}}</th>
					
                    
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(s,index) in list" v-if='list.length'>
                        <td style="width: 170px;">{{s.FromID}}</td>
						<td style="width: 170px;">{{s.FromCountry}}</td>
                        <td style="width: 170px;">{{status(s.Status)}}</td>
                        <td style="width: 170px;">{{s.Oper}}</td>
						<th style="width: 170px;">{{s.LastEditDate}}</th>
                        <td>
                            <a title="修改" class="btn btn-primary size-S radius" href="javascript:;" @click="open_oper_edit(s)" style="text-decoration: none;">
                                {{obj_txt.edit}}
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: #fff"></i>
                            </a>
                            
                        </td>
                    </tr>
                    <tr v-if="!list.length">
                        <td colspan="10">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="my_page m-style">

            </div>
		</div>
	</div>


    <!-- 修改窗口    -->
    <div id="W_edit" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog "> 
            <div class="modal-content">
                <div v-if="is_add">Add</div>
                <div v-if="!is_add">Edit</div>
                <div class="model_list">
                    <!-- 货源地国家-->
                    <div>
                        <p class="">
                            {{obj_txt.FromCountry}}
                        </p>
                        <input type="text" v-model="data.FromCountry" >
                    </div>
                    <div>
                        <p>
                            {{obj_txt.Status}}
                        </p>
                        <select name="" id="" v-model="data.Status">
                            <option value="0">{{obj_txt.status_0}}</option>
                            <option value="1">{{obj_txt.status_1}}</option>
                        </select>
                    </div>
                </div>
                    

                <div class="btn_con">
                    <input type="button" class="btn btn-success BtnUpdate" v-on:click='editsave()' value="提交">
                    <input type="button" class="btn btn-default BtnClose" value="取消" data-dismiss="modal" aria-hidden="true">
                </div>


            </div>
        </div>
    </div>

</body>
<script>
var user_token = get_cache('usertoken'),
Vdata_list, //列表VUE
Vedit;

	$(function(){
		shoplist = [];

		var Vdata_list = new Vue({
			el:"#main",
			data:{
                list:[],
                no_data: config_txt.no_data.zn,
                obj_txt: splicing_obj(get_page_txt('stock_sys_fromcontry')), // 对象拼接
            },
			
            mounted: function(){
                getDatalist();
            },
            methods:{
                //搜索按钮
                search_btn : function(){
                    getDatalist();
                },
                //解析状态
                status:function(stat){ if(this.obj_txt && this.obj_txt['status_'+stat]) return this.obj_txt['status_'+stat]; return '未知状态'; },
                //打开修改窗口
                open_oper_edit : function(s){
                    Vedit.data = s;
                    Vedit.is_add = false;
                    Vedit.data.FromID = s.FromID
                    $('#W_edit').modal("show");
                },
                open_oper_add : function(){
                    Vedit.data = {};
                    Vedit.is_add = true;
                    $('#W_edit').modal("show");
                }
            }
		});
        //获取列表
        function getDatalist(opt){
            opt = opt || {};
            opt["usertoken"] = user_token;
            opt['FromCountry'] = $("#search_FromCountry").val();
            opt['Status']     = $("#search_Status").val();
            var url = "/index.php?s=desktop/Stock_From/Search";
            ajax(url, opt, function (retjson) {
                if (retjson.stat == 1) {
                    Vdata_list.list = retjson.data.list;
                } else {
                    showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                }
            })
        }

        Vedit = new  Vue({
            el:'#W_edit',
            data:{
                data:{
                    FromCountry:'',
                    Status:1,
                },
                fromcountrylist:[],
                fade:false,
                no_data: config_txt.no_data.zn,
                obj_txt: Vdata_list.obj_txt, // 对象拼接
                is_add : false, //是否是新增，或是修改
            },
            methods:{
                //保存
                editsave : function(){
                    var data = this.data;
                    if(!data.FromCountry){
                        alert('FromCountry can not be empty!!');
                        return;
                    }
                    data.usertoken = user_token;
                    var url = '';
                    if(this.is_add){
                        url = '/index.php?s=desktop/Stock_From/add';
                    }else{
                        url = '/index.php?s=desktop/Stock_From/update';
                    }
                    ajax(url, data, function (retjson) {
                        if (retjson.stat == 1) {
                            Vedit.fromcountrylist = retjson.data;
                            getDatalist()
                            $('#W_edit').modal("hide");
                        } else {
                            showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                        }
                    })
                }
            }
        });

	});


</script>



</html>