<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>入库</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        .tr_bg{
            background: #eee;
        }
        select.is_check{background: rgba(140,140,140,0.35);}
    </style>
</head>
<body>

    

    <div id="main" v-cloak class="market_shop">
        <div class="search_txt">
            <div>
                <p>{{obj_txt.date_from}}</p>
                <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_from">
            </div>
            <div>
                <p>To</p>
                <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_to">
            </div>
            <div>
                <p>仓库InStock</p>
               <select name="" id="in_stock"  style="width: 140px;">
                   <option :value="item.StockName" v-for="(item, index) in stock_manage">{{item.StockName}}</option>
               </select>
            </div>
            <div>
                <p>筛选</p>
               <select class="" name="" id="" :class="{is_check:!is_check}" :disabled="!is_check" style="width: 140px;">
                   <option value=""></option>
                   <option v-for="item in select_item" :value="item">{{item}}</option>
               </select> 
               <input type="checkbox" v-model="is_check" name="" id=""> OK
            </div>

            <div>
                <select name="" id="" style="width: 140px;">
                    <option value=""></option>
                </select>
            </div>
            
            <input type="button" id="" name="" value="查询入库单In" class="btn btn-success btn-radius btn-serach" style="height: 30px; margin-right: 15px;"
                @click="">
            <!--<input type="button" id="" name="" value="SearchProduct" class="btn btn-success btn-radius btn-serach" style="height: 30px; margin-right: 15px;"
            @click="">-->
            <input type="button"  value="add" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="open_add_stock()">
        </div>
        <div class="shop_list">
            <table class="table table-border table-bordered table-bg" style="width: 95%; margin: 0 auto; margin-bottom: 10px;">
                <thead>
                <tr>
                    <th style="width: 100px;">ProductNo</th>
                    <th style="width: 100px;">Name</th>
                    <th style="width: 100px;">StockQTY</th>
                    <th style="width: 200px;">Memo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(s,index) in list" v-if='list.length'>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <a title="审核" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                            check
                            <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i></a>
                            <a title="删除" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                            delete
                            <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i></a>
                        </td>

                    </tr>
                    <tr v-if="!list.length">
                        <td colspan="5">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="my_page m-style">

            </div>
        </div>
    </div>
</body>
<!----------------
	//
----------------->
<div id="stock_add" style="display: none;">
    <div class="add_top">
        <div class="condition">
                <div class="model_list">
                        <div>
                            <p class="">
                               Date
                            </p>
                            <input onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate add_wdate">
                        </div>
                        <div>
                            <p class="">
                                StockInID
                            </p>
                            <input type="text" disabled  v-model="StockInID">
                        </div>
                </div>
                <div class="model_list">
                        <div>
                            <P>GroupID</P>
                            <input type="text" disabled v-model="GroupID">
                        </div>
                        <div>
                            <P>StockName</P>
                            <select name="" id="StockName">
                                <option :value="item.StockName" v-for="(item, index) in stock_manage">{{item.StockName}}</option>
                              
                            </select>
                        </div>
                </div>
                <div class="model_list">
                        <div>
                            <P>StockType</P>
                            <select name="" id="StockType">
                                <option :value="item.TypeName" v-for="item in stock_type">{{item.TypeName}}</option>
                            </select>
                        </div>
                        <div>
                            <P>来源From</P>
                            <select name="" id="from_name">
                                <option :value="item.FromPlace" v-for="(item, index) in stock_from" >{{item.FromPlace}}</option>
                            </select>
                        </div>
                </div>
        </div>
        <div class="operate">
            <div>
                <p>入库说明</p>
                <input type="text" v-model="memo">
            </div>
            <div>
                <p>Product</p>
                <input type="text" v-model="product_no" disabled>
            </div>
            <div>
                <p>产品说明Memo</p>
                <input type="text" v-model="product_memo">
            </div>
            <div class="">
                <button class="btn btn-success btn-radius btn-serach" @click="Add_Memo()">Add_Memo</button>
                <button class="btn btn-success btn-radius btn-serach" id="save_btn" @click="save_stock()" v-if="!save_list.length">保存Save</button>
                <button class="btn btn-success btn-radius btn-serach" id="edit_btn" @click="edit_stock()" v-if="save_list.length">编辑Edit</button>
                <button class="btn btn-success btn-radius btn-serach" @click="check_btn_stock()">审核Check</button>
            </div>
        </div>
    </div>
    <div class="detail">
        <div v-if="!save_list.length">
            <table class="table table-border table-bordered table-bg" style="width: 550px;">
                <thead>
                    <th style="width: 100px;">ProductNO</th>
                    <th style="width: 190px;" class="text_1">Name</th>
                    <th style="width: 80px;" >StockQTY</th>
                    <th style="width: 200px;">说明Memo</th>
                </thead>
            </table>
            <div class="product_list">
                    <table class="table table-border table-bordered table-bg " style="width: 550px; background: #fff;">
                        <tr v-for="(item,$index) in product_list" @click="click_product(item,$index)" :class="{ tr_bg:$index == index_product}">
                            <td style="width: 100px;">{{item.ProductNO}}</td>
                            <td style="width: 190px;" class="text_1">{{item.CName}}</td>
                            <td style="width: 80px;" contenteditable="true" :data-title="item.ProductID+','+ item.memo"></td>
                            <td style="width: 200px;" contenteditable="false">{{item.memo}}</td>
                        </tr>
                </table>
            </div>
        </div>

        <div class="svae_stock_list" v-if="save_list.length">
                <table class="table table-border table-bordered table-bg" style="width: 550px;">
                    <thead>
                        <tr>
                            <th style="width: 100px;">ProductNO</th>
                            <th style="width: 190px;" class="text_1">Name</th>
                            <th style="width: 80px;" >StockQTY</th>
                            <th style="width: 200px;">说明Memo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in save_list">
                            <td style="width: 100px;">{{item.ProductNo}}</td>
                            <td style="width: 190px;">{{item.Name}}</td>
                            <td style="width: 80px;">{{item.StockQTY}}</td>
                            <td style="width: 200px;">{{item['说明Memo']}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
<script>

      
    var user_token = get_cache('usertoken'),
    Vdata_list, //列表VUE
    Vresult;
    $(function(){
        $('.Wdate').val(get_local_time())
        get_product_list()
        get_stock_type()
        get_stock_manage()
        get_from()
//      cancel()
        query_sys_in_list()
        setTimeout(function(){
        	console.log($("#in_stock").val()+'TTTT')
        },1200)
        
    });
    Vdata_list = new Vue({
        el:"#main",
        data:{
            list:[],
            no_data: config_txt.no_data.zn, 
            obj_txt: splicing_obj(get_page_txt('stock_in')), // 对象拼接
            stock_manage: [],
            is_check:false
        },
        mounted: function(){
           
        },
        methods:{
            open_add_stock(){ //打开入库窗口
                add()
               open_html("stockIn",'#stock_add','stock_add',function(){
                Refresh()
               })
            }
        }
    });

   var add_stock=new Vue({
        el:"#stock_add",
        data:{
            StockInID:'',
            GroupID:'',
            StockName:'',
            StockType:'',
            date:'',
            product_list:[],
            index_product:-1,
            product_no:'',
            product_id:'',
            product_memo:'', //产品说明
            memo:'', // 入库说明
            stock_type:[], //仓库类型
            stock_manage:[],
            stock_from:[], //来源,
            save_list:[] // 保存后得到的数据
        },
        methods:{
            click_product(s,a){
                this.product_no=s.ProductNO
                this.product_id=s.ProductID
                this.index_product=a
            },
            Add_Memo(){ // 添加
                if(!! this.product_id ){
                    var a=[];
                    (this.product_list).forEach(function(item,index,arr){
                        if(item.ProductID == add_stock.product_id){
                            item.memo=add_stock.product_memo
                        }else{
                            
                        }
                        a.push(item)
                    })
                    this.product_list=a
                }else{
                    showErr('请选择数据')
                }
            },
            save_stock(){ // 保存
                let txt= `<div>进货单即将进入库${$("#StockName").val()},货源地：${$('#from_name').val()},入库类型：${$("#StockType").val()}; 请核对单据目录 正确点击 ‘确定’ 否则点击 ‘取消’ </div>`;
                firm('保存进货单',txt,function(){
                    layer.close(layer.index);
                    add_stock.product_no=''
                    add_stock.product_id=''
                    save()
                })
            },
            edit_stock(){
                this.save_list =[]
            },
            check_btn_stock(){  // 审核
                check_stock()
            }
        }
    })
    function add(){
        var url="/index.php?s=desktop/Stock_In_Management/add";
        ajax(url,{"usertoken":user_token},function(e){
            if(e.stat == 1){
                console.log(JSON.stringify(e));
                add_stock.StockInID=e.data.input.StockInID;
                add_stock.GroupID=e.data.input.GroupID;
            }else{
                showErr(e.errmsg, e.errmsg_en, e.errcode)
            }
        })
    }
    function save(){
        var arr=[];
        $('.product_list table tr td:nth-child(3)').each(function(){
            if (!!$(this).html()){
                if( !!!Number($(this).html()) ){showErr('数量必须是数字');return false}
                let obj={};
                obj.ProductID=$(this).attr('data-title').split(',')[0];
                if($(this).attr('data-title').split(',')[1] == "undefined"){
                    obj.memo=""
                }else{
                    obj.memo=$(this).attr('data-title').split(',')[1]
                }
                obj.num=$(this).html();

                arr.push(JSON.stringify(obj))
            }
        })

        if(arr.length <=0){
            showErr('请填写数据和 说明')
            return 
        }

        var url="/index.php?s=desktop/Stock_In_Management/save";
        var data={};
        data["usertoken"]=user_token;
        data["Date"]= $('.add_wdate').val();
        data["StockInID"]=add_stock.StockInID;
        data["GroupID"]=add_stock.GroupID;
        data["From"]=$('#from_name').val();
        data["StockName"]=$("#StockName").val();
        data["StockType"]=$("#StockType").val();
        data["Stock_Memo"]=add_stock.memo
        data["Product"]='1';
        data["Product_Memo"]='1';
        data["check_Products"]=1;
        data["check_Material"]=1;
        data["Up"]='1';
        data["products"]=`[${arr}]`
        ajax(url,data,function (e) { 
            if(e.stat == 1){
                add_stock.save_list=e.data.GetSearchStock;
                success('保存成功')
            }else{
                showErr(e.errmsg, e.errmsg_en, e.errcode)
            }
        })
    }

    function get_product_list(){
        var url="/index.php?s=desktop/Product/search";
        var data={};
        data["usertoken"]=user_token;
        data['order']='ProductID desc';
        data['limit']='0,'
        ajax(url,data,function(e){
            if( e.stat == 1){
                add_stock.product_list=e.data.list
            }else{
                showErr(e.errmsg, e.errmsg_en, e.errcode)
            }
        })
    }

    function get_stock_type(opt){
        opt = opt || {};
        opt["usertoken"] = user_token;
       
        var url = "/index.php?s=desktop/Manage_Stock_Out_Type/search";
        ajax(url, opt, function (retjson) {
            if (retjson.stat == 1) {
                 let a=[];
                retjson.data.forEach(function(val){
                     if(val.Status == 1){
                         a.push(val)
                     }
                })
                add_stock.stock_type=a
            } else {
                showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
            }
        })
    }

   function get_stock_manage(opt){
        opt = opt || {};
        opt["usertoken"] = user_token;
        var url = "/index.php?s=desktop/Manage_Stock_List/Search";
        ajax(url, opt, function (retjson) {
            if (retjson.stat == 1) {
                let a=[];
                retjson.data.forEach(function(val){
                     if(val.Status == 1){
                         a.push(val)
                     }
                })
                add_stock.stock_manage=a;
                Vdata_list.stock_manage=a;
            } else {
                showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
            }
        })
   }

   function get_from(opt){ // 获取来源
        opt = opt || {};
        opt["usertoken"] = user_token;
        opt["Status"] = 1;
        var url = "/index.php?s=desktop/Stock_From_Detail/search";
        ajax(url, opt, function (retjson) {
            if (retjson.stat == 1) {
                add_stock.stock_from=retjson.data.list;
                console.log('来源列表');
                console.log(retjson.data);
            } else {
                showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
            }
        })
   }
    function check_stock(){
        var url="/index.php?s=desktop/Stock_In_Management/check";
        var data={};
        data["usertoken"]=user_token;
        data["Date"]=$('.add_wdate').val();;
        data["StockInID"]=add_stock.StockInID;
        data["GroupID"]=add_stock.GroupID;
        data["From"]=$('#from_name').val();
        data["StockName"]=$("#StockName").val();
        data["StockType"]=$("#StockType").val();
        data["Stock_Memo"]=add_stock.memo;
        data["Product"]='1';
        data["Product_Memo"]='1';
        data["check_Products"]=1;
        data["check_Material"]=1;
        data["Up"]='';
        data["products"]=`${JSON.stringify(add_stock.save_list)}`;
        data["button5_Text"]='审核Check';
       ajax(url,data,function(retjson){
        if (retjson.stat == 1) {
               success(retjson.data.ActiveStockIn.data)
            } else {
                showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
            }
       })
    }
   
    function query_sys_in_list(){ //查询入库单
        var url="/index.php?s=desktop/In_Stock_Search/SearchOutStockReport";
        var data={};
        data['usertoken']=user_token
        data['From']="20180701";
        data['To']="20181010";
        data['InStock']="878";
        data['selected']="";
        data['P']="";
        data['M']="";
        data['OK']="";
        data['M_Box']="";
        ajax(url,data,function(retjson){
            if(retjson.stat == 1){

            }else{

            }
        })
    }
   
</script>
</html>