<!DOCTYPE html>
<html>

<head>
    <!-- <script>
/*为了在普通浏览器里调试加了此代码。 可以随时删除*/
nw={};
nw.App={};
nw.App.manifest={};
nw.App.manifest.version = 'test';
</script> -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品牌管理</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/kd.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        .pic{
            width:100px;
        }
    </style>




</head>

<body>
    <div id="main" v-cloak class="market_shop">
        <div class="search_txt">
            <div>
                <p>{{obj_txt.CName}}</p>
                <input type="text" id="search_CName" :placeholder="obj_txt.CName">
            </div>
            <div>
                <p>{{obj_txt.EName}}</p>
                <input type="text" id="search_EName" :placeholder="obj_txt.EName">
            </div>
            <input type="button" id="" name="" :value="obj_txt.BtnSearch" class="btn btn-success btn-radius btn-serach" style="height: 30px; margin-right: 10px;" @click="search_btn()">

            <input type="button" :value="obj_txt.BtnAdd" class="btn btn-success btn-radius btn-serach" style="height: 30px;" @click="open_oper_add()">
        </div>
        <div class="shop_list">
            <table class="table table-border table-bordered table-bg" style="width: 95%; margin: 0 auto; margin-bottom: 10px;">
                <thead>
                    <tr>
                        <th style="width: 170px;">{{obj_txt.BrandID}}</th>
                        <th style="width: 170px;">{{obj_txt.Pic}}</th>
                        <th style="width: 170px;">{{obj_txt.BrandNO}}</th>
                        <th style="width: 170px;">{{obj_txt.CName}}</th>
                        <th style="width: 170px;">{{obj_txt.EName}}</th>
                        <th style="width: 170px;">{{obj_txt.BrandType}}</th>
                        <th style="width: 170px;">{{obj_txt.Introduce}}</th>
                        <th style="width: 170px;">{{obj_txt.Memo}}</th>
                        <th style="width: 170px;">{{obj_txt.LastEditDate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(s,index) in list" v-if='list.length'>
                        <td style="width: 170px;">{{s.BrandID}}</td>
                        <td style="width: 170px;"><img  class="pic" :src="img(s.Pic)" /></td>
                        <td style="width: 170px;">{{s.BrandNO}}</td>
                        <td style="width: 170px;">{{s.CName}}</td>
                        <th style="width: 170px;">{{s.EName}}</th>
                        <th style="width: 170px;">{{s.BrandType}}</th>
                        <td style="width: 170px;">{{s.Introduce}}</td>
                        <th style="width: 170px;">{{s.Memo}}</th>
                        <th style="width: 170px;">{{s.LastEditTime}}</th>
                        <td>
                            <a title="修改" class="btn btn-primary size-S radius" href="javascript:;" @click="open_oper_edit(s)" style="text-decoration: none;">
                                {{obj_txt.edit}}
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: #fff"></i>
                            </a>

                        </td>
                    </tr>
                    <tr v-if="!list.length">
                        <td colspan="10">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="my_page m-style">

            </div>
        </div>
    </div>


    <!-- 修改窗口    -->
    <div id="W_edit" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog ">
            <div class="modal-content">
                <div v-if="is_add">Add</div>
                <div v-if="!is_add">Edit</div>
                <div class="model_list">
                    <!-- 品牌号 -->
                    <div>
                        <p class="">
                            {{obj_txt.BrandNO}}
                        </p>
                        <input type="text" v-model="data.BrandNO">
                    </div>
                    <!-- 类型名 中文-->
                    <div>
                        <p class="">
                            {{obj_txt.CName}}
                        </p>
                        <input type="text" v-model="data.CName">
                    </div>
                </div>

                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.EName}}
                        </p>
                        <input type="text" v-model="data.EName">
                    </div>
                    <!-- 类型-->
                    <div>
                        <p class="">
                            {{obj_txt.BrandType}}
                        </p>
                        <input type="text" v-model="data.BrandType">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p class="">
                            {{obj_txt.Introduce}}
                        </p>
                        <input type="text" v-model="data.Introduce">
                    </div>
                    <!-- 说明 -->
                    <div>
                        <p>
                            {{obj_txt.Memo}}
                        </p>
                        <input type="text" v-model="data.Memo">
                    </div>
                </div>
                <div class="btn_con">
                    <input type="button" class="btn btn-success BtnUpdate" v-on:click='editsave()' value="提交">
                    <input type="button" class="btn btn-default BtnClose" value="取消" data-dismiss="modal" aria-hidden="true">
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
<script>
    var user_token = get_cache('usertoken'),
        Vdata_list, //列表VUE
        Vedit;
    var pagecounts,page=1,pagesize=30,pagestat=0,obj; // 分页相关的参数
    $(function() {
        shoplist = [];
    });
    var Vdata_list = new Vue({
        el: "#main",
        data: {
            list: [],
            no_data: config_txt.no_data.zn,
            obj_txt: splicing_obj(get_page_txt('stock_sys_brand')), // 对象拼接
        },

        mounted: function() {
            page = 1;
            obj = {};
            obj['limit'] = [0, pagesize].join(","); //条目数
            getDatalist(obj);
           
        },
        methods: {
            //搜索按钮
            search_btn: function() {
                page = 1;
                obj = {};
                obj['limit'] = [0, pagesize].join(","); //条目数
                getDatalist(obj);
            },
            //图片
            img:function(data){
                return 'data:image/jpeg;base64,'+showimg(data);
            },

            //解析状态
            status: function(stat) {
                if (this.obj_txt && this.obj_txt['status_' + stat]) return this.obj_txt['status_' + stat];
                return '未知状态';
            },
            //打开修改窗口
            open_oper_edit: function(s) {
                Vedit.data = s;
                Vedit.is_add = false;
                Vedit.data.FromID = s.FromID
                $('#W_edit').modal("show");
            },
            open_oper_add: function() {
                Vedit.data = {};
                Vedit.is_add = true;
                $('#W_edit').modal("show");
            }
        }
    });





    //获取列表
    function getDatalist(obj) {
         $('.m-style').pagination({
                totalData: 0,
                pageCount: 0,
                current: 0
        })
        var opt={};
        opt["usertoken"] = user_token;
        opt['CName'] = $("#search_CName").val();
        opt['EName'] = $("#search_EName").val();
        opt['order'] = 'BrandID desc';
        opt['limit'] = [pagestat, pagesize].join(","); //条目数
        var data=$.extend({},opt,obj)
        var url = "/index.php?s=desktop/brand/search";
        ajax(url, data, function(retjson) {
            if (retjson.stat == 1) {
                Vdata_list.list = retjson.data.list;
                pagecounts = retjson.data.count;
                    $('.m-style').pagination({
                        totalData: parseInt(pagecounts),
                        pageCount: Math.ceil(pagecounts / pagesize),
                        jump: true,
                        coping: true,
                        // homePage: '首页',
                        // endPage: '末页',
                        prevContent: '上页',
                        current: page,
                        nextContent: '下页',
                        callback: function (api) {
                            console.log(api.getCurrent())
                            page = api.getCurrent();
                            pagestat = pagesize * (api.getCurrent() - 1)
                            var x = {
                                'limit': [pagestat, 30].join(',')
                            };
                            var d = $.extend({}, obj, x);
                            getDatalist(d)
                        }
                    });
                    // 数据的总条数
                    setTimeout(function () {
                        $('.m-style').append(
                            `<div href="javascript:;" class="cunt" style='padding: 0 4px;' >总记录数： ${retjson.data.count}</div>`
                        )
                    }, 1000)
                    window.location.href="#"
            } else {
                showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)

            }
        })
    }

    Vedit = new Vue({
        el: '#W_edit',
        data: {
            data: {
                BrandNO: '',
                CName: '',
                EName: '',
                BrandType: '',
                Introduce: '',
                Memo: ''
            },
            fromcountrylist: [],
            fade: false,
            no_data: config_txt.no_data.zn,
            obj_txt: Vdata_list.obj_txt, // 对象拼接
            is_add: false, //是否是新增，或是修改
        },
        methods: {
            //保存
            editsave: function() {

                var data = this.data;

                if (!data.CName) {
                    alert('CName can not be empty!!');
                    return;
                }

                data.usertoken = user_token;
                var url = '';
                if (this.is_add) {
                    url = '/index.php?s=desktop/brand/add';
                } else {
                    url = '/index.php?s=desktop/brand/update';
                }
                ajax(url, data, function(retjson) {
                    if (retjson.stat == 1) {
                        success('已提交');
                        $('#W_edit').modal("hide");
                        Vedit.fromcountrylist = retjson.data;
                        obj = {};
                        obj['limit'] = [(page - 1) * pagesize, pagesize].join(","); //条目数
                        getDatalist(obj)
                    } else {
                        showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                    }
                })
            }
        }
    });

    
function showimg(data){

    var len = data.length,
        i,ch1,ch2,ch3,
    str = '',
    ss = [],
    b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
    var yu = Math.ceil(len/2) % 3;
    for(i =0; i<len; i+=6){
        ch1 = parseInt(data.substr(i, 2), 16);
        ch2 = parseInt(data.substr(i+2,2), 16);
        ch3 = parseInt(data.substr(i+4,2), 16);
        ss.push( b64.substr(String.fromCharCode(ch1).charCodeAt(0)>>2, 1));
        ss.push(b64.substr( ((String.fromCharCode(ch1).charCodeAt(0) & 0x03)<<4)  +  (String.fromCharCode(ch2).charCodeAt(0)>>4) , 1));
        ss.push(b64.substr( ((String.fromCharCode(ch2).charCodeAt(0)& 0x0F)<<2) + ((String.fromCharCode(ch3).charCodeAt(0)& 0xC0)>>6)  , 1));
        ss.push(b64.substr(String.fromCharCode(ch3).charCodeAt(0)&0x3F, 1));
    }
    if(yu >= 1){
        ss[ss.length - 1] = '=';
    }
    if(yu == 1){
        ss[ss.length - 2] = '=';
    }
    return ss.join('');
}


</script>



</html>