<!DOCTYPE html>
<html>
<head>
<!-- <script>
/*为了在普通浏览器里调试加了此代码。 可以随时删除*/
nw={};
nw.App={};
nw.App.manifest={};
nw.App.manifest.version = 'test';
</script> -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品管理</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/kd.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <style>
        .pic{
            width:100px;
        }
    </style>
</head>
<body>
    <div id="main" v-cloak class="market_shop">
        <div class="search_txt">
            <div>
                <p>{{obj_txt.ProductNO}}</p>
                <input type="text" id="search_ProductNO" :placeholder="obj_txt.ProductNO">
            </div>

            <div>
                <p>{{obj_txt.CName}}</p>
                <input type="text" id="search_CName" :placeholder="obj_txt.CName">
            </div>
            <div>
                <p>{{obj_txt.EName}}</p>
                <input type="text" id="search_EName" :placeholder="obj_txt.EName">
            </div>


            <div>
                <p>{{obj_txt.RetailPrice_low}}</p>
                <input type="text" id="search_RetailPrice_low" :placeholder="obj_txt.RetailPrice_low">
            </div>

            <div>
                <p>{{obj_txt.RetailPrice_high}}</p>
                <input type="text" id="search_RetailPrice_high" :placeholder="obj_txt.RetailPrice_high">
            </div>



            <input type="button" id="" name="" :value="obj_txt.BtnSearch" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="search_btn()">


            <input type="button"  :value="obj_txt.BtnAdd" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="open_oper_add()">
        </div>
        <div class="shop_list">
            <table class="table table-border table-bordered table-bg" style="width: 95%; margin: 0 auto; margin-bottom: 10px;">
                <thead>
                <tr>
                    <th style="width: 170px;">{{obj_txt.ProductID}}</th>
                    <th style="width: 170px;">{{obj_txt.ProductNO}}</th>
                    <th style="width: 170px;">{{obj_txt.CategoryID}}</th>
                    <th style="width: 170px;">{{obj_txt.BrandID}}</th>
                    <th style="width: 170px;">{{obj_txt.CName}}</th>
                    <th style="width: 170px;">{{obj_txt.EName}}</th>
                    <th style="width: 170px;">{{obj_txt.Pic}}</th>


                    <th style="width: 170px;">{{obj_txt.Status}}</th>
                    <th style="width: 170px;">{{obj_txt.Memo}}</th>
                    <th style="width: 170px;">{{obj_txt.Oper}}</th>
                    <th style="width: 170px;">{{obj_txt.Dept}}</th>
                    <th style="width: 170px;">{{obj_txt.LastEditDate}}</th>
                    
                    
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(s,index) in list" v-if='list.length'>
                        <td style="width: 170px;">{{s.ProductID}}</td>
                        <td style="width: 170px;">{{s.ProductNO}}</td>
                        <td style="width: 170px;">{{s.CategoryID}}</td>
                        <td style="width: 170px;">{{s.BrandID}}</td> 
                        <td style="width: 170px;">{{s.CName}}</td>   
                        <td style="width: 170px;">{{s.EName}}</td>
                        <td style="width: 170px;"><img class="pic" :src="img(s.Pic)" /></td>
                        
                                             

                        <td style="width: 170px;">{{status(s.Status)}}</td>
                        <th style="width: 170px;">{{s.Memo}}</th>
                        <th style="width: 170px;">{{s.Oper}}</th>
                        <th style="width: 170px;">{{s.Dept}}</th>
                        <th style="width: 170px;">{{s.LastEditDate}}</th>
                        <td>
                            <a title="修改" class="btn btn-primary size-S radius" href="javascript:;" @click="open_oper_edit(s)" style="text-decoration: none;">
                                {{obj_txt.edit}}
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: #fff"></i>
                            </a>
                            
                        </td>
                    </tr>
                    <tr v-if="!list.length">
                        <td colspan="10">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="my_page m-style">

            </div>
        </div>
    </div>


    <!-- 修改窗口    -->
    <div id="W_edit" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog "> 
            <div class="modal-content">
                <div v-if="is_add">Add</div>
                <div v-if="!is_add">Edit</div>
                <div class="model_list">
                    <!-- 类型名 中文-->
                    <div>
                        <p class="">
                            {{obj_txt.TypeName}}
                        </p>
                        <input type="text" v-model="data.TypeName" >
                    </div>
                    <!-- 类型名 英文-->
                    <div>
                        <p class="">
                            {{obj_txt.TypeName_E}}
                        </p>
                        <input type="text" v-model="data.TypeName_E" >
                    </div>



                    <!-- 说明 -->
                    <div>
                            <p>
                                {{obj_txt.Memo}}
                            </p>
                            <input type="text" v-model="data.Memo">
                            
                        </div>
                    </div>
                    <!-- 状态 -->
                    
                    <div>
                            <p>
                                {{obj_txt.Status}}
                            </p>
                            <select name="" id="" v-model="data.Status">
                                <option value="0">{{obj_txt.status_0}}</option>
                                <option value="1">{{obj_txt.status_1}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- 说明  -->
                    <div>
                        <p class="">
                            {{obj_txt.StockShow}}
                        </p>
                        <input type="text" v-model="data.StockShow" >
                    </div>
                    

                <div class="btn_con">
                    <input type="button" class="btn btn-success BtnUpdate" v-on:click='editsave()' value="提交">
                    <input type="button" class="btn btn-default BtnClose" value="取消" data-dismiss="modal" aria-hidden="true">
                </div>


            </div>
        </div>
    </div>

</body>
<script>



var user_token = get_cache('usertoken'),
Vdata_list, //列表VUE
Vedit;

    $(function(){
        shoplist = [];

        var Vdata_list = new Vue({
            el:"#main",
            data:{
                list:[],
                no_data: config_txt.no_data.zn,
                obj_txt: splicing_obj(get_page_txt('stock_sys_product')), // 对象拼接
            },
            
            mounted: function(){
                getDatalist();
            },
            methods:{
                //搜索按钮
                search_btn : function(){
                    getDatalist();
                },
                //图片
                img:function(data){
                   return 'data:image/jpeg;base64,'+showimg(data);
                },
                //解析状态
                status:function(stat){ if(this.obj_txt && this.obj_txt['status_'+stat]) return this.obj_txt['status_'+stat]; return '未知状态'; },
                //打开修改窗口
                open_oper_edit : function(s){
                    Vedit.data = s;
                    Vedit.is_add = false;
                    Vedit.data.FromID = s.FromID
                    $('#W_edit').modal("show");
                },
                open_oper_add : function(){
                    Vedit.data = {};
                    Vedit.is_add = true;
                    $('#W_edit').modal("show");
                }
            }
        });





        //获取列表
        function getDatalist(opt){
            opt = opt || {};
            opt["usertoken"] = user_token;
            opt['CName']  = $("#search_CName").val();
            opt['EName']  = $("#search_EName").val();
            opt['EName']  = $("#search_ProductNO").val();
            opt['RetailPrice_low'] = $("#search_RetailPrice_low").val(); //最底价
            opt['RetailPrice_high'] = $("#search_RetailPrice_high").val(); //最商价
            opt['order']  = 'ProductID desc';
            opt['limit']  = '0,50';
            if(!opt['RetailPrice_low']){
                delete opt['RetailPrice_low'];
            }
            if(!opt['RetailPrice_high']){
                delete opt['RetailPrice_high'];
            }


            var url = "/index.php?s=desktop/Product/search";
            ajax(url, opt, function (retjson) {
                if (retjson.stat == 1) {
                    
                    Vdata_list.list = retjson.data;
                    
                } else {
                    showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)

                }
            })
        }

        Vedit = new  Vue({
            el:'#W_edit',
            data:{
                data:{
                    TypeName:'',
                    TypeName_E:'',
                    Status:1,
                    Memo:'',
                    Dept:''
                },
                fromcountrylist:[],
                fade:false,
                no_data: config_txt.no_data.zn,
                obj_txt: Vdata_list.obj_txt, // 对象拼接
                is_add : false, //是否是新增，或是修改
            },
            methods:{
                //保存
                editsave : function(){

                    var data = this.data;

                    if(!data.TypeName){
                        alert('TypeName can not be empty!!');
                        return;
                    }

                    data.usertoken = user_token;
                    var url = '';
                    if(this.is_add){
                        url = '/index.php?s=desktop/Manage_Stock_Out_Type/AddStockOutType';
                    }else{
                        url = '/index.php?s=desktop/Manage_Stock_Out_Type/StartUse';
                    }
                    ajax(url, data, function (retjson) {
                        if (retjson.stat == 1) {
                            Vedit.fromcountrylist = retjson.data;
                        } else {
                            showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                        }
                    })

                    console.log(data);

                    alert('未完');
                }
            }
        });
function showimg(data){

    var len = data.length,
        i,ch1,ch2,ch3,
    str = '',
    ss = [],
    b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
    var yu = Math.ceil(len/2) % 3;
    for(i =0; i<len; i+=6){
        ch1 = parseInt(data.substr(i, 2), 16);
        ch2 = parseInt(data.substr(i+2,2), 16);
        ch3 = parseInt(data.substr(i+4,2), 16);
        ss.push( b64.substr(String.fromCharCode(ch1).charCodeAt(0)>>2, 1));
        ss.push(b64.substr( ((String.fromCharCode(ch1).charCodeAt(0) & 0x03)<<4)  +  (String.fromCharCode(ch2).charCodeAt(0)>>4) , 1));
        ss.push(b64.substr( ((String.fromCharCode(ch2).charCodeAt(0)& 0x0F)<<2) + ((String.fromCharCode(ch3).charCodeAt(0)& 0xC0)>>6)  , 1));
        ss.push(b64.substr(String.fromCharCode(ch3).charCodeAt(0)&0x3F, 1));
    }
    if(yu >= 1){
        ss[ss.length - 1] = '=';
    }
    if(yu == 1){
        ss[ss.length - 2] = '=';
    }
    return ss.join('');
}
    });


</script>



</html>