<!DOCTYPE html>
<html>
<head>
<!-- <script>
/*为了在普通浏览器里调试加了此代码。 可以随时删除*/
nw={};
nw.App={};
nw.App.manifest={};
nw.App.manifest.version = 'test';
</script> -->


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品管理</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/kd.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../script/jquery.pagination.js"></script>

    <style>
        .pic{
            width:100px;
        }
    </style>
</head>
<body>
    <div id="main" v-cloak class="market_shop">
        <div class="search_txt">
            <div>
                <p>{{obj_txt.ProductNO}}</p>
                <input type="text" id="search_ProductNO" :placeholder="obj_txt.ProductNO">
            </div>

            <div>
                <p>{{obj_txt.CName}}</p>
                <input type="text" id="search_CName" :placeholder="obj_txt.CName">
            </div>
            <div>
                <p>{{obj_txt.EName}}</p>
                <input type="text" id="search_EName" :placeholder="obj_txt.EName">
            </div>


            <div>
                <p>{{obj_txt.RetailPrice_low}}</p>
                <input type="text" id="search_RetailPrice_low" :placeholder="obj_txt.RetailPrice_low">
            </div>

            <div>
                <p>{{obj_txt.RetailPrice_high}}</p>
                <input type="text" id="search_RetailPrice_high" :placeholder="obj_txt.RetailPrice_high">
            </div>



            <input type="button" id="" name="" :value="obj_txt.BtnSearch" class="btn btn-success btn-radius btn-serach" style="height: 30px; margin-right: 10px;"
                @click="search_btn()">


            <input type="button"  :value="obj_txt.BtnAdd" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="open_oper_add()">
        </div>
        <div class="shop_list">
            <table class="table table-border table-bordered table-bg min-table" style="width: 95%; margin: 0 auto; margin-bottom: 10px;">
                <thead>
                <tr>
                    <th style="width: 170px;">{{obj_txt.ProductID}}</th>
                    <th style="width: 170px;">{{obj_txt.ProductNO}}</th>
                    <th style="width: 170px;">{{obj_txt.CategoryID}}</th>
                    <th style="width: 170px;">{{obj_txt.BrandID}}</th>
                    <th style="width: 170px;">{{obj_txt.CName}}</th>
                    <th style="width: 170px;">{{obj_txt.EName}}</th>
                    <th style="width: 170px;">{{obj_txt.Pic}}</th>
                    <th style="width: 170px;">{{obj_txt.MemberPrice}}</th>
                    <th style="width: 170px;">{{obj_txt.Status}}</th>
                    <!-- <th style="width: 170px;">{{obj_txt.Memo}}</th>
                    <th style="width: 170px;">{{obj_txt.Oper}}</th>
                    <th style="width: 170px;">{{obj_txt.Dept}}</th> -->
                    <th style="width: 170px;">{{obj_txt.PV}}</th>
                    <th style="width: 170px;">{{obj_txt.product_edit_time}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(s,index) in list" v-if="list.length">
                        <td style="width: 170px;">{{s.ProductID}}</td>
                        <td style="width: 170px;">{{s.ProductNO}}</td>
                        <td style="width: 170px;">{{s.CategoryID}}</td>
                        <td style="width: 170px;">{{s.BrandID}}</td> 
                        <td style="width: 170px;">{{s.CName}}</td>   
                        <td style="width: 170px;">{{s.EName}}</td>
                        <td style="width: 170px;"><img class="pic" :src="img(s.Pic)" /></td>
                        <td style="width: 170px;">{{s.MemberPrice}}</td>
                        <td style="width: 170px;">{{status(s.Status)}}</td>
                        <!-- <td style="width: 170px;">{{s.Memo}}</td>
                        <td style="width: 170px;">{{s.Oper}}</td>
                        <td style="width: 170px;">{{s.Dept}}</td> -->
                        <td style="width: 170px;">{{s.PV}}</td>
                        <td style="width: 170px;">{{s.LastEditDate}}</td>
                        <td>
                            <a title="修改" class="btn btn-primary size-S radius" href="javascript:;" @click="open_oper_edit(s)" style="text-decoration: none;">
                                {{obj_txt.edit}}
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: #fff"></i>
                            </a>
                            
                        </td>
                    </tr>
                    <tr v-if="!list.length">
                        <td colspan="12">{{no_data}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="my_page m-style">

            </div>
        </div>
    </div>


    <!-- 修改窗口    -->
    <div id="W_edit" class="model modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="content_model modal-dialog "> 
            <div class="modal-content">
                <div v-if="is_add">Add</div>
                <div v-if="!is_add">Edit</div>
                <div class="model_list">
                    <!-- 类型名 中文-->
                    <div>
                        <p class="">
                            {{obj_txt.EName}}
                        </p>
                        <input type="text" v-model="data.EName">
                    </div>
                    <!-- 类型名 英文-->
                    <div>
                        <p class="">
                            {{obj_txt.CName}}
                        </p>
                        <input type="text" v-model="data.CName">
                    </div>
                </div>
               
                <div class="model_list">
                   
                    <div>
                        <p>{{obj_txt.ProductNO}}</p>
                        <input type="text" v-model="data.ProductNO">
                    </div>
                    <div>
                        <p>BranchID</p>
                        <input type="text" v-model="data.BranchID">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>{{obj_txt.CategoryID}}</p>
                        <input type="text" v-model="data.CategoryID">
                    </div>
                    <div>
                        <p>{{obj_txt.BrandID}}</p>
                        <input type="text" v-model="data.BrandID">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>SerialID</p>
                        <input type="text" v-model="data.SerialID">
                    </div>
                    <div>
                        <p>ProductType</p>
                        <input type="text" v-model="data.ProductType">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>RetailPrice</p>
                        <input type="text" v-model="data.RetailPrice">
                    </div>
                    <div>
                        <p>{{obj_txt.MemberPrice}}</p>
                        <input type="text" v-model="data.MemberPrice">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>RebatePrice</p>
                        <input type="text" v-model="data.RebatePrice">
                    </div>
                    <div>
                        <p>PresentPrice</p>
                        <input type="text" v-model="data.PresentPrice">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>{{obj_txt.PV}}</p>
                        <input type="text" v-model="data.PV">
                    </div>
                    <div>
                        <p>InPrice</p>
                        <input type="text" v-model="data.InPrice">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>Unit</p>
                        <input type="text" v-model="data.Unit">
                    </div>
                    <div>
                        <p>ProduceDate</p>
                        <input type="text" v-model="data.ProduceDate">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>DeadLine</p>
                        <input type="text" v-model="data.DeadLine">
                    </div>
                    <div>
                        <p>Entry</p>
                        <input type="text" v-model="data.Entry">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>Introduce</p>
                        <input type="text" v-model="data.Introduce">
                    </div>
                    <div>
                        <p>{{obj_txt.Pro_Memo}}</p>
                        <input type="text" v-model="data.Memo">
                    </div>
                    <!-- <div>
                        <p>{{obj_txt.Pic}}</p>
                        <input type="text" >
                    </div> -->
                </div>
                <div class="model_list">
                    
                    <!-- <div>
                        <p>SmallPic</p>
                        <input type="text" v-model="data.SmallPic">
                    </div> -->
                </div>

                <div class="model_list">
                    <div>
                        <p>MarketPrice</p>
                        <input type="text" v-model="data.MarketPrice">
                    </div>
                    <div>
                        <p>ShopPrice</p>
                        <input type="text" v-model="data.ShopPrice">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>Point</p>
                        <input type="text" v-model="data.Point">
                    </div>
                    <div>
                        <p>IsDS</p>
                        <input type="text" v-model="data.IsDS">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>IsPresent</p>
                        <input type="text" v-model="data.IsPresent">
                    </div>
                    <div>
                        <p>IsRecommend</p>
                        <input type="text" v-model="data.IsRecommend"> 
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>IsNew</p>
                        <input type="text" v-model="data.IsNew">
                    </div>
                    <div>
                        <p>OnSaleDate</p>
                        <input type="text" v-model="data.OnSaleDate">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>Parameter</p>
                        <input type="text" v-model="data.Parameter">
                    </div>
                    <div>
                        <p>IsRebate</p>
                        <input type="text" v-model="data.IsRebate">
                    </div>
                </div>
                <div class="model_list">
                    <div>
                        <p>IsElite</p>
                        <input type="text" v-model="data.IsElite">
                    </div>
                    <div>
                        <p>Spec</p>
                        <input type="text" v-model="data.Spec">
                    </div>
                </div>

                <div class="model_list">
                    <div>
                        <p>Status</p>
                        <select name="" id="" v-model="data.Status">
                            <option value="">未知状态</option>
                            <option value="0">禁用</option>
                            <option value="1">可用</option>
                        </select>
                    </div>
                </div>
                <div class="btn_con">
                    <input type="button" class="btn btn-success BtnUpdate" v-on:click='editsave()' value="提交">
                    <input type="button" class="btn btn-default BtnClose" value="取消" data-dismiss="modal" aria-hidden="true">
                </div>
            </div>
        </div>
    </div>
</body>
<script>



var user_token = get_cache('usertoken'),
Vdata_list, //列表VUE
Vedit;
var pagecounts,page=1,pagesize=30,pagestat=0,obj; // 分页相关的参数
    $(function(){
        shoplist = [];
    });
    var Vdata_list = new Vue({
            el:"#main",
            data:{
                list:[],
                no_data: config_txt.no_data.zn,
                obj_txt: splicing_obj(get_page_txt('stock_sys_product')), // 对象拼接
            },
            
            mounted: function(){
                getDatalist();
            },
            methods:{
                //搜索按钮
                search_btn : function(){
                    page = 1
                    obj = {};
                    getDatalist(obj);
                },
                //图片
                img:function(data){
                    console.log(typeof data);
                    if(!!data){
                        return 'data:image/jpeg;base64,'+showimg(data);
                    }
                },
                //解析状态
                status:function(stat){ if(this.obj_txt && this.obj_txt['status_'+stat]) return this.obj_txt['status_'+stat]; return '未知状态'; },
                //打开修改窗口
                open_oper_edit : function(s){
                    Vedit.data = $.extend({},Vedit.data,s);
                    Vedit.is_add = false;
                    Vedit.data.FromID = s.FromID
                    $('#W_edit').modal("show");
                },
                open_oper_add : function(){
                    Vedit.data = {};
                    Vedit.is_add = true;
                    $('#W_edit').modal("show");
                }
            }
        });

        //获取列表
        function getDatalist(obj){
            /*
            *分页初始化*/ 
            $('.m-style').pagination({
                totalData: 0,
                pageCount: 0,
                current: 0
            })
            var opt={};
            opt["usertoken"] = user_token;
            opt['CName']  = $("#search_CName").val();
            opt['EName']  = $("#search_EName").val();
            opt['ProductNO']  = $("#search_ProductNO").val();
            opt['RetailPrice_low'] = $("#search_RetailPrice_low").val(); //最底价
            opt['RetailPrice_high'] = $("#search_RetailPrice_high").val(); //最商价
            opt['order']  = 'ProductID desc';
            opt['limit'] = [pagestat, pagesize].join(","); //条目数
            if(!opt['RetailPrice_low']){
                delete opt['RetailPrice_low'];
            }
            if(!opt['RetailPrice_high']){
                delete opt['RetailPrice_high'];
            }
            var url = "/index.php?s=desktop/Product/search";
            var data=$.extend({},opt,obj)
            ajax(url, data, function (retjson) {
                if (retjson.stat == 1) {
                    Vdata_list.list = retjson.data.list;
                    pagecounts = retjson.data.count;
                    $('.m-style').pagination({
                        totalData: parseInt(pagecounts),
                        pageCount: Math.ceil(pagecounts / pagesize),
                        jump: true,
                        coping: true,
                        // homePage: '首页',
                        //   endPage: '末页',
                        prevContent: '上页',
                        current: page,
                        nextContent: '下页',
                        callback: function (api) {
                            console.log(api.getCurrent())
                            page = api.getCurrent();
                            pagestat = pagesize * (api.getCurrent() - 1)
                            var x = {
                                'limit': [pagestat, 30].join(',')
                            };
                            var d = $.extend({}, obj, x);
                            getDatalist(d)
                        }
                    });

                    // 数据的总条数
                setTimeout(function () {
                    $('.m-style').append(
                        `<div href="javascript:;" class="cunt" style='padding: 0 4px;' >总记录数： ${retjson.data.count}</div>`
                    )
                }, 1000)
                } else {
                    showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)

                }
            })
        }
     Vedit = new  Vue({
            el:'#W_edit',
            data:{
                data:{
                    ProductNO:'',
                    CategoryID:'',
                    BrandID:'',
                    SerialID:'',
                    CName:'',
                    EName:'',
                    ProductType:'',
                    RetailPrice:'',
                    MemberPrice:'',
                    RebatePrice:'',
                    PresentPrice:'',
                    PV:'',
                    InPrice:'',
                    Unit:'',
                    ProduceDate:'',
                    DeadLine:'',
                    Entry:'',
                    Introduce:'',
                    Pic:'',
                    Memo:'',
                    Status:'',
                    SmallPic:'',
                    MarketPrice:'',
                    ShopPrice:'',
                    Point:'',
                    IsDS:'',
                    IsPresent:'',
                    IsRecommend:'',
                    IsNew:'',
                    OnSaleDate:'',
                    Parameter:'',
                    IsRebate:'',
                    IsElite:'',
                    Spec:'',
                    BranchID:''

                },
                fromcountrylist:[],
                fade:false,
                no_data: config_txt.no_data.zn,
                obj_txt: Vdata_list.obj_txt, // 对象拼接
                is_add : false, //是否是新增，或是修改
            },
            methods:{
                //保存
                editsave : function(){
                    var data = this.data;
                    // if(!data.TypeName){
                    //     alert('TypeName can not be empty!!');
                    //     return;
                    // }
                    data.usertoken = user_token;
                    var url = '';
                    if(this.is_add){
                        url = '/index.php?s=desktop/Product/add';
                    }else{
                        url = '/index.php?s=desktop/Product/update';
                    }
                    ajax(url, data, function (retjson) {
                        if (retjson.stat == 1) {
                            Vedit.fromcountrylist = retjson.data;

                            
                        } else {
                            showErr(retjson.errmsg, retjson.errmsg_en, retjson.errcode)
                        }
                    })
                }
            }
        });

    function showimg(data){
        var len = data.length,
            i,ch1,ch2,ch3,
        str = '',
        ss = [],
        b64 = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
        var yu = Math.ceil(len/2) % 3;
        for(i =0; i<len; i+=6){
            ch1 = parseInt(data.substr(i, 2), 16);
            ch2 = parseInt(data.substr(i+2,2), 16);
            ch3 = parseInt(data.substr(i+4,2), 16);
            ss.push( b64.substr(String.fromCharCode(ch1).charCodeAt(0)>>2, 1));
            ss.push(b64.substr( ((String.fromCharCode(ch1).charCodeAt(0) & 0x03)<<4)  +  (String.fromCharCode(ch2).charCodeAt(0)>>4) , 1));
            ss.push(b64.substr( ((String.fromCharCode(ch2).charCodeAt(0)& 0x0F)<<2) + ((String.fromCharCode(ch3).charCodeAt(0)& 0xC0)>>6)  , 1));
            ss.push(b64.substr(String.fromCharCode(ch3).charCodeAt(0)&0x3F, 1));
        }
        if(yu >= 1){
            ss[ss.length - 1] = '=';
        }
        if(yu == 1){
            ss[ss.length - 2] = '=';
        }
        return ss.join('');
    }
</script>



</html>