<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>财务查询</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        .teller_top>div div{margin-right: 15px;}
    </style>
</head>

<body>
    <div id="main" v-cloak class="market_shop" style="">
        <!-- <div class="search_txt" style="display:-webkit-box;">
            <div>
                <p>RetailKEDICard</p>
                <input type="text" id="search_CName" :placeholder="obj_txt.CName">
            </div>
            <div>
                <p>汇总编号(NO):</p>
                <input type="text" id="search_EName" v-model="huizong_num" disabled :placeholder="obj_txt.EName">
            </div>
    
    
            <input type="button" id="" name="" value="SearchSC" class="btn btn-success btn-radius btn-serach" style="height: 30px; margin-right: 10px;"
                @click="search_btn()">
            
            <div>
                <p>Region:</p>
                <input v-model="main_stock_out_num" type="text" id="search_EName" placeholder="">
                <input type="button"  value="..." class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="openRegion_select()">
            </div>
    
            <input type="button" value="SearchRegion" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="search_region()">
        </div> -->
        
        <div class="teller_top">
            <div class="left">
                <div class="left">
                    <input type="button" class="btn" value="财务管理" >
                </div>
                <div class="left">
                    <input type="button" class="btn" value="导入Teller">
                </div>
                <div class="left">
                    <input type="button" class="btn" value="Teller使用查询">
                </div>
                <div class="left">
                    <input type="button" class="btn" value="Teller提款">
                </div>
                <div class="left">
                    <input type="button" class="btn" value="导出未确认Teller">
                </div>
                <div class="clear"></div>
            </div>
            <div class="left">


            </div>
            <div class="clear"></div>
        </div>

        <div>
            <div class="left" style="min-height: 500px; width: 50%;padding: 1%;box-sizing: border-box;">
                
                    
                    <div class="marginbtm_15">
                        
                        <div class="left">
                            <div>
                                <div class="left">
                                    <span>从</span>
                                    <input id="ac_start" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_from">
                                </div>
                                <div class="left" style="margin-right: 5px;">
                                    <select name="" v-model="sel_val" id="" style="width: 140px;">
                                        <option :value="index" v-for="(item , index) in ac_query_list">{{item.sel}}</option>
                                    </select>
                                </div>
                                <div class="left"><input v-model="un_confirm" type="checkbox">未确认</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left">
                                    <span>到</span>
                                    <input id="ac_end" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_to">
                                </div>
                                <div class="left" style="margin-right: 5px;">
                                    <input type="text" v-model="sel_condition" style="width: 140px;padding-left: 0;">
                                </div>
                                <div class="left"><input type="checkbox" @click="confirm_is(confirm, $event)" v-model="confirm">已确认</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="left">
                            备注：<input type="text"><input @click="ac_query()" type="button" value="查询">
                        </div>
                        <div class="clear"></div>
                    </div>
                <fieldset id="" style="width: 100%;">
                    <legend style="width: auto;margin-bottom: 5px; border-bottom: none;">银行上传Teller数据</legend>
                
                    <div style="width: 100%;overflow-x: auto;">
                        <table class="table table-border table-bordered table-bg" style="width: 150%; margin:auto;background-color: rgba(200,200,200,.15);">
                            <thead>
                                <tr>
                                    <th style="width: 100px;">TellerID</th>
                                    <th style="width: 50px;">确认</th>
                                    <th style="width: 90px;">BANK_NAME</th>
                                    <th style="width: 120px;">EFFECTIVE_DATE</th>
                                    <th style="width: 200px;">MEMO</th>
                                    <th style="width: 70px;">Deposit</th>
                                    <th style="width: 100px;">确认日期</th>

                                    <th style="width: 70px;">专卖店</th>
                                    <th style="width: 80px;">Region</th>
                                    <th style="width: 100px;">用途</th>
                                    <th style="width: 150px;">唯一</th>
                                    <th style="width: 80px;">使用</th>
                                    <th style="width: 100px;">UploadDate</th>
                                    <th style="width: 100px;">LockBeforeConfirm</th>
                                    <th style="width: 80px;">LockReason</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr @click="get_teller_query_item(s.TellerID, s.Deposit, s['专卖店'] ,s.BANK_NAME,index)" v-for="(s,index) in teller_query" v-if='teller_query.length'>
                                    <td>{{s.TellerID}}
                                    </td>
                                    <td> <input type="checkbox" :value="s['确认']" v-model="s['确认']">
                                    </td>
                                    <td>{{s.BANK_NAME}}
                                    </td>
                                    <td>{{s.EFFECTIVE_DATE}}
                                    </td>
                                    <td>{{s.MEMO}}</td>
                                    <td>{{s.Deposit}}</td>
                                    <td>{{s["确认日期"]}}</td>
                                    <td>{{s["专卖店"]}}</td>
                                    <td>{{s.Region}}</td>
                                    <td>{{s["用途"]}}</td>
                                    <td>{{s["唯一"]}}</td>
                                    <td>{{s["使用"]}}</td>
                                    <td>{{s.UploadDate}}</td>
                                    <td>{{s.LockBeforeConfirm}}</td>
                                    <td>{{s.LockReason}}</td>
                                    <td>
                                        <a title="审核" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                                        check
                                            <!--<i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i>-->
                                        </a>
                                        <a title="删除" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                                        delete
                                            <!--<i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i>-->
                                        </a>
                                    </td>
            
                                </tr>
                                <!-- <tr @click="a()">
                                    <td>2018464656562</td>
                                    <td>123</td>
                                    <td>出库</td>
                                    <td>09-25</td>
                                    <td></td>
                                    <td>地区</td>
                                    <td></td>
                                </tr> -->
                                <!--<tr v-if="!list.length">
                                    <td colspan="5">{{no_data}}</td>
                                </tr>-->
                            </tbody>
                        </table>
                        <div class="my_page m-style">
            
                        </div>
                    
                    </div>
                </fieldset>	

                <div>
                    <div class="left" style="margin-right: 20px;"><span style="display:inline-block;vertical-align: sub;width: 15px;height: 15px;background: #ffff00;"></span>->关联</div>
                    <div class="left" style="margin-right: 20px;"><span style="display:inline-block;vertical-align: sub;width: 15px;height: 15px;background: #cccccc;"></span>->确认</div>
                    <div class="left" style="margin-right: 20px;"><span style="display:inline-block;vertical-align: sub;width: 15px;height: 15px;background: #B0E0E6;"></span>->使用</div>
                    <div class="left"><input @click="all_sel(is_all, $event)" v-model="is_all" type="checkbox"> 全选</div>
                    <div class="clear"></div>
                </div>

                <div>
                    <div class="left">
                        <div>
                            <div class="left"><span style="display: inline-block;text-align: right;width:100px;">期初余额</span><input type="text" disabled v-model="charge.ex_yue" ></div>
                            <div class="left"><span style="display: inline-block;text-align: right;width:100px;">本期支出</span><input type="text" disabled v-model="charge.cur_expenditure" name="" id=""></div>    
                            <div class="clear"></div>    
                        </div>
                        <div>
                            <div class="left"><span style="display: inline-block;text-align: right;width:100px;">本期收入</span><input type="text" disabled v-model="charge.income" ></div>
                            <div class="left"><span style="display: inline-block;text-align: right;width:100px;">期末余额</span><input type="text" disabled v-model="charge.ex_end_yue" name="" id=""></div>    
                            <div class="clear"></div>    
                        </div>
                    </div>
                    <div class="left">
                        <input @click="cal_ex_end()" class="btn btn-primary" type="button" value="计算期末" >
                    </div>
                    <div class="clear"></div>
                </div>


                <fieldset>
                    <legend style="width: auto;margin-bottom: 5px; border-bottom: none;">信息</legend>
                    <div>
                        <div class="left"><span style="display: inline-block;width:80px;text-align: right;">TellerID</span><input type="text" v-model="info.id" disabled name="" id=""></div>
                        <div class="left">确认日期<input id="confirm_date" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_from"></div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left"><span style="display: inline-block;width:80px;text-align: right;">银行</span> <input type="text" v-model='info.bank_name' disabled name="" id=""></div>
                        <div class="left">
                            <select name="" v-model="shop_type" id="">
                                <option value="0">专卖店</option>
                                <option value="1">经销商</option>
                            </select>
                            <input type="text"  v-model="info.shop_no">XXX
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="left"><span style="display: inline-block;width:80px;text-align: right;">REGION</span>
                            <select name="" v-model="region_item" id="ac_region">
                                <option :value="s.result" v-for="(s,index) in teller_region_list">{{s.result}}</option>
                            </select>
                        </div>
                        <div class="left" style="margin: 0 20px;"><input v-model="freeze" @click="is_freeze(freeze, $event)" type="checkbox">冻结</div>
                        <div class="left">数额<input type="text" value="123" disabled></div>
                        <div class="clear"></div>
                    </div>
                    <div>
                            <span style="display: inline-block;width:80px;text-align: right;">备注：</span><input type="text">
                    </div>
                </fieldset>
                <fieldset>
                    <legend style="width: auto;margin-bottom: 5px; border-bottom: none;">操作</legend>
                    <div>
                        <div class="left"><input @click="confirm_btn()" class="btn btn-success" type="button" value="确认" ></div>
                        <div class="left"><input class="btn btn-error" type="button" value="反确认" ></div>
                        <div class="left"><input class="btn btn-disabled" type="button" value="锁定未确认" ></div>
                    </div>
                </fieldset>

            </div>
            <!-- 订单详细列表  -->
            <!-- <div class="left" style="margin-left: 1%; width: 44%;">
                <table class="table table-border table-bordered table-bg" style="width: 95%; background-color: rgba(200,200,200,0); margin: 0 auto; margin-bottom: 10px;">
                    <thead>
                        <tr>
                            <th style="width: 80px;">{{obj_txt.Product_no}}</th>
                            <th style="width: 100px;">PName</th>
                            <th style="width: 70px;">Sale</th>
                            <th style="width: 70px;">StockOut</th>
                            <th style="width: 180px;">BackOrder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in list" v-if='list.length'>
                            <td>{{item.ProductNO}}
                            </td>
                            <td>{{item.PName}}
                            </td>
                            <td>{{item.Sale}}
                            </td>
                            <td>{{item.StockOut}}
                            </td>
                            <td>
                                <a title="审核" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                                check
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i></a>
                                <a title="删除" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                                delete
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i></a>
                            </td>
    
                        </tr>
                        <tr v-if="!list.length">
                            <td colspan="6">{{no_data}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="my_page m-style">
    
                </div>
                
            </div> -->
            <div class="clear"></div>
        </div>
        <div class="shop_list">
            
        </div>
    </div>
        <script>
            
            var user_token = get_cache('usertoken'),
                Vdata_list, //列表VUE
                Vresult;
    	    $(function(){
    	        $('.Wdate').val(get_local_time())
    			// get_region();//获取区域
    			// stock_out_search();//根据汇总编号查询
    			// search_region_g();

                get_teller_region();
    	    });
            
            Vdata_list = new Vue({
                el:"#main",
                data:{
                    list_l:[],
                    list:[],
                    teller_query:[],
                    no_data: config_txt.no_data.zn, 
                    obj_txt: splicing_obj(get_page_txt('stock_out')), // 对象拼接
                    huizong_num:'2018555555',
                    ac_query_list:[{'sel':'Deposit'},{'sel':'银行'},{'sel':'专卖店'},{'sel':'备注'}],
                    main_stock_out_num:'',
                    is_all:false,
                    sel_val:'',
                    sel_condition:'',
                    confirm:false,
                    un_confirm:false,
                    deposit:'',
                    region_item: '',
                    shop_type:0,
                    freeze:false,
                    teller_region_list:[],
                    charge:{ex_yue:0, cur_expenditure:'', income:'', ex_end_yue:''},
                    info:{id:'',shop_no:'',bank_name:''}
                },
                mounted: function(){
                   
                },
                methods:{
                    open_add_stock(){ //打开入库窗口
                        add()
                       open_html("stockIn",'#stock_add','stock_add',function(){
                        Refresh()
                       })
                    },
                    a(){
                        console.log('更新汇总编号');
                    },
                    openRegion_select(){
                        console.log('选择区域');
                        open_html("选择区域",'#region_select','region_select',function(){
    //		                Refresh()
                        },500)
                    },
                    search_region(){
                        search_region_g()
                        
                    },
                    ac_query(){
                        console.log($('#ac_start').val(),$('#ac_end').val(),this.sel_val);
                        ac_query_be($('#ac_start').val(),$('#ac_end').val(),this.sel_val,this.sel_condition);
                    },

                    confirm_is(arg){
                        if(!arg){
                            this.sel_val = 2;

                        }
                    },

                    all_sel(a){
                        console.log(this.teller_query);
                        if(!a){ 
                            for(var i = 0; i< this.teller_query.length;i++){
                                this.teller_query[i]["确认"] = true;
                            }
                        }
                    },

                    get_teller_query_item(TellerID,amount,shop_no,bank_name,index){
                        console.log(TellerID,index);
                        this.info.id         = TellerID;
                        this.deposit         = amount;
                        this.info.shop_no    = shop_no;
                        this.info.bank_name  = bank_name;
                    },

                    cal_ex_end(){
                        this.charge.ex_end_yue = this.charge.ex_yue + this.charge.income - this.charge.cur_expenditure;
                    },

                    confirm_btn(){
                        fn_confirm_btn(
                            this.info.id ,
                            $('#confirm_date').val(),
                            this.info.bank_name, 
                            this.region_item, 
                            this.shop_type,
                            this.info.shop_no,
                            this.deposit,
                            this.freeze
                            )
                    },

                    is_freeze(a){
                        if(!a){
                            this.freeze = true
                        }else{
                            this.freeze = false
                        }
                        console.log(this.freeze);

                    }
                }
            });
            
            function fn_confirm_btn (a,b,c,d,e,f,g,h) {
                var url = '/index.php?s=desktop/Teller_Recharge/Sconfirm_button9_Click';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"]         = user_token;
                data["TellerID"]          = a;
                data["confirmation_date"] = b;
                data["bank"]              = c;
                data["Region"]            = d;
                data["shop_type"]         = e;
                data["shopno"]            = f;
                data["amount"]            = g;
                data["freeze"]            = h;
                console.log(data)
                ajax(url,data,function (ret) {
                    console.log(ret);
                })
            }


            function ac_query_be(start,end,c,d){
                var url = '/index.php?s=desktop/Teller_Recharge/button2_Click';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"]=user_token;
                data["From"] = start;
                data["To"]   = end;
                data["comboBLcondition"] = c;
                data["textBox1"] = d;
                ajax(url,data,function (ret) {
                    console.log(ret);
                    Vdata_list.teller_query = ret.data.Get_Teller_Info;
                    Vdata_list.charge.income = ret.data.input.current_income;
                    Vdata_list.charge.cur_expenditure = ret.data.input.current_expenditures;
                })
            }

            function get_teller_region() {
                var url = '/index.php?s=desktop/Teller_Recharge/getRegion';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"]=user_token;
                ajax(url,data,function (ret) {
                    console.log(ret)
                    Vdata_list.teller_region_list = ret;
                    Vdata_list.region_item = 'NONE';
                    // Vdata_list.region_list = ret;
                })
            }


            function get_region(){
                var url = '/index.php?s=desktop/common/GetRegion';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"]=user_token;
                ajax(url,data,function (ret) {
                    console.log(ret)
                    
                    // Vdata_list.region_list = ret;
                })
            }
            
            function stock_out_search(){
                var url = '/index.php?s=desktop/Stock_Out_Management/SearchScStockOut';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"] = user_token;
                data["NO"]        = '2018109';
                data["Category"]  = 'MaterialSale';
                ajax(url,data,function (e) {
                    console.log()
                    if(e.stat == 1){
                        
                    }else{
                        showErr(e.errmsg, e.errmsg_en, e.errcode)
                    }
                })
            }
            
            function search_region_g(){
                var url = '/index.php?s=desktop/Stock_Out_Management/SearchRegion';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"] = user_token;
                data["NO"]        = '2018109';
                data["Category"]  = 'MaterialSale';
                data["Region"]    = 'ABA20170224024438';
                data["Condition"] = '123';
                ajax(url,data,function (e) {
                    if(e.stat == 1){
                        Vdata_list.list = e.data.LoadRegionStockOutInfo;
                    }else{
                        showErr(e.errmsg, e.errmsg_en, e.errcode)
                    }
                    
                })
            }
        </script>

</body>
</html>