<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>财务查询</title>
    <link rel="icon" href="../images/kd.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/H-ui.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/kd.css">
    <link rel="stylesheet" href="../css/layer.css">
    <script src="../script/vue.min.js"></script>
    <script src="../script/jquery-2.1.1.min.js"></script>
    <script src="../script/H-ui.min.js"></script>
    <script src="../script/common.js"></script>
    <script src="../script/kedi.js"></script>
    <script src="../script/loading.js"></script>
    <script src="../DatePicker/WdatePicker.js"></script>
    <script src="../script/layer.js"></script>
    <script src="../script/jquery.pagination.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="main" v-cloak class="market_shop" style="">
        <!-- <div class="search_txt" style="display:-webkit-box;">
            <div>
                <p>RetailKEDICard</p>
                <input type="text" id="search_CName" :placeholder="obj_txt.CName">
            </div>
            <div>
                <p>汇总编号(NO):</p>
                <input type="text" id="search_EName" v-model="huizong_num" disabled :placeholder="obj_txt.EName">
            </div>
    
    
            <input type="button" id="" name="" value="SearchSC" class="btn btn-success btn-radius btn-serach" style="height: 30px; margin-right: 10px;"
                @click="search_btn()">
            
            <div>
                <p>Region:</p>
                <input v-model="main_stock_out_num" type="text" id="search_EName" placeholder="">
                <input type="button"  value="..." class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="openRegion_select()">
            </div>
    
            <input type="button" value="SearchRegion" class="btn btn-success btn-radius btn-serach" style="height: 30px;"
                @click="search_region()">
        </div> -->
        
        <div>
            <div class="left" style="min-height: 500px; width: 50%;padding: 1%;box-sizing: border-box;">
                
                    
                    <div class="marginbtm_15">
                        
                        <div class="left">
                            <div>
                                <div class="left">
                                    <span>从</span>
                                    <input id="ac_start" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_from">
                                </div>
                                <div class="left" style="margin-right: 5px;">
                                    <select name="" v-model="sel_val" id="" style="width: 140px;">
                                        <option :value="index" v-for="(item , index) in ac_query_list">{{item.sel}}</option>
                                    </select>
                                </div>
                                <div class="left"><input v-model="un_confirm" type="checkbox">未确认</div>
                                <div class="clear"></div>
                            </div>
                            <div>
                                <div class="left">
                                    <span>到</span>
                                    <input id="ac_end" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" class="Wdate date_to">
                                </div>
                                <div class="left" style="margin-right: 5px;">
                                    <input type="text" v-model="sel_condition" style="width: 140px;padding-left: 0;">
                                </div>
                                <div class="left"><input type="checkbox" @click="confirm_is(confirm, $event)" v-model="confirm">已确认</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="left">
                            备注：<input type="text"><input @click="ac_query()" type="button" value="查询">
                        </div>
                        <div class="clear"></div>
                    </div>
                <fieldset id="" style="width: 100%;">
                    <legend style="width: auto;margin-bottom: 5px; border-bottom: none;">银行上传Teller数据</legend>
                
                    <div style="width: 100%;overflow-x: auto;">
                        <table class="table table-border table-bordered table-bg" style="width: 150%; margin:auto;background-color: rgba(200,200,200,.15);">
                            <thead>
                                <tr>
                                    <th style="width: 100px;">TellerID</th>
                                    <th style="width: 50px;">确认</th>
                                    <th style="width: 90px;">BANK_NAME</th>
                                    <th style="width: 120px;">EFFECTIVE_DATE</th>
                                    <th style="width: 200px;">MEMO</th>
                                    <th style="width: 70px;">Deposit</th>
                                    <th style="width: 100px;">确认日期</th>

                                    <th>专卖店</th>
                                    <th>Region</th>
                                    <th>用途</th>
                                    <th>唯一</th>
                                    <th>使用</th>
                                    <th>UploadDate</th>
                                    <th>LockBeforeConfirm</th>
                                    <th>LockReason</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(s,index) in list_l" v-if='list_l.length'>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a title="审核" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                                        check
                                            <!--<i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i>-->
                                        </a>
                                        <a title="删除" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                                        delete
                                            <!--<i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i>-->
                                        </a>
                                    </td>
            
                                </tr>
                                <tr @click="a()">
                                    <!--测试
                                    -->
                                    <td>2018464656562</td>
                                    <td>123</td>
                                    <td>出库</td>
                                    <td>09-25</td>
                                    <td></td>
                                    <td>地区</td>
                                    <td></td>
                                </tr>
                                <!--<tr v-if="!list.length">
                                    <td colspan="5">{{no_data}}</td>
                                </tr>-->
                            </tbody>
                        </table>
                        <div class="my_page m-style">
            
                        </div>
                    
                    </div>
                </fieldset>	
            </div>
            <!-- 订单详细列表  -->
            <!-- <div class="left" style="margin-left: 1%; width: 44%;">
                <table class="table table-border table-bordered table-bg" style="width: 95%; background-color: rgba(200,200,200,0); margin: 0 auto; margin-bottom: 10px;">
                    <thead>
                        <tr>
                            <th style="width: 80px;">{{obj_txt.Product_no}}</th>
                            <th style="width: 100px;">PName</th>
                            <th style="width: 70px;">Sale</th>
                            <th style="width: 70px;">StockOut</th>
                            <th style="width: 180px;">BackOrder</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in list" v-if='list.length'>
                            <td>{{item.ProductNO}}
                            </td>
                            <td>{{item.PName}}
                            </td>
                            <td>{{item.Sale}}
                            </td>
                            <td>{{item.StockOut}}
                            </td>
                            <td>
                                <a title="审核" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                                check
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i></a>
                                <a title="删除" href="javascript:;" class="btn btn-primary size-S radius" style="text-decoration: none;">
                                delete
                                <i class="Hui-iconfont Hui-iconfont-yuedu" style="color: rgb(255, 255, 255);"></i></a>
                            </td>
    
                        </tr>
                        <tr v-if="!list.length">
                            <td colspan="6">{{no_data}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="my_page m-style">
    
                </div>
                
            </div> -->
            <div class="clear"></div>
        </div>
        <div class="shop_list">
            
        </div>
    </div>
        <script>
            
            var user_token = get_cache('usertoken'),
                Vdata_list, //列表VUE
                Vresult;
    	    $(function(){
    	        $('.Wdate').val(get_local_time())
    			// get_region();//获取区域
    			// stock_out_search();//根据汇总编号查询
    			// search_region_g();
    	    });
            
            Vdata_list = new Vue({
                el:"#main",
                data:{
                    list_l:[],
                    list:[],
                    no_data: config_txt.no_data.zn, 
                    obj_txt: splicing_obj(get_page_txt('stock_out')), // 对象拼接
                    huizong_num:'2018555555',
                    ac_query_list:[{'sel':'Deposit'},{'sel':'银行'},{'sel':'专卖店'},{'sel':'备注'}],
                    main_stock_out_num:'',
                    sel_val:'',
                    sel_condition:'',
                    confirm:false,
                    un_confirm:true
                },
                mounted: function(){
                   
                },
                methods:{
                    open_add_stock(){ //打开入库窗口
                        add()
                       open_html("stockIn",'#stock_add','stock_add',function(){
                        Refresh()
                       })
                    },
                    a(){
                        console.log('更新汇总编号');
                    },
                    openRegion_select(){
                        console.log('选择区域');
                        open_html("选择区域",'#region_select','region_select',function(){
    //		                Refresh()
                        },500)
                    },
                    search_region(){
                        search_region_g()
                        
                    },
                    ac_query(){
                        console.log($('#ac_start').val(),$('#ac_end').val(),this.sel_val);
                        ac_query_be($('#ac_start').val(),$('#ac_end').val(),this.sel_val,this.sel_condition);
                    },

                    confirm_is(arg){
                        if(!arg){
                            this.sel_val = 2;

                        }
                    }
                }
            });
            
            function ac_query_be(start,end,c,d){
                var url = '/index.php?s=desktop/Teller_Recharge/button2_Click';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"]=user_token;
                data["From"] = start;
                data["To"]   = end;
                data["comboBLcondition"] = c;
                data["textBox1"] = d;
                ajax(url,data,function (ret) {
                    console.log(ret)
                })
            }

            function get_region(){
                var url = '/index.php?s=desktop/common/GetRegion';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"]=user_token;
                ajax(url,data,function (ret) {
                    console.log(ret)
                    
                    // Vdata_list.region_list = ret;
                })
            }
            
            function stock_out_search(){
                var url = '/index.php?s=desktop/Stock_Out_Management/SearchScStockOut';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"] = user_token;
                data["NO"]        = '2018109';
                data["Category"]  = 'MaterialSale';
                ajax(url,data,function (e) {
                    console.log()
                    if(e.stat == 1){
                        
                    }else{
                        showErr(e.errmsg, e.errmsg_en, e.errcode)
                    }
                })
            }
            
            function search_region_g(){
                var url = '/index.php?s=desktop/Stock_Out_Management/SearchRegion';
                var user_token = get_cache('usertoken');
                var data = {};
                data["usertoken"] = user_token;
                data["NO"]        = '2018109';
                data["Category"]  = 'MaterialSale';
                data["Region"]    = 'ABA20170224024438';
                data["Condition"] = '123';
                ajax(url,data,function (e) {
                    if(e.stat == 1){
                        Vdata_list.list = e.data.LoadRegionStockOutInfo;
                    }else{
                        showErr(e.errmsg, e.errmsg_en, e.errcode)
                    }
                    
                })
            }
        </script>

</body>
</html>